<section class="">
  <div id="map" class="gp-google-map"></div>
</section>
<script>
  function initMap() {
    var siege = {
      lat: 48.733094,
      lng: 2.727616
    };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: siege,
      scrollwheel: false,
      styles: [{
          "featureType": "all",
          "elementType": "all",
          "stylers": [{
              "visibility": "on"
            },
            {
              "hue": "#006699"
            },
            {
              "saturation": -18
            },
            {
              "lightness": 47
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "all",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "landscape",
          "elementType": "all",
          "stylers": [{
            "visibility": "simplified"
          }]
        },
        {
          "featureType": "administrative.country",
          "elementType": "all",
          "stylers": [{
            "visibility": "off"
          }]
        }
      ]
    });
    var marker = new google.maps.Marker({
      position: siege,
      map: map,
      icon: '/assets/gmap_marker_active.png',
    });
    var sud = new google.maps.Marker({
      position: {lat:44.044895, lng:4.791645},
      map: map,
      icon: '/assets/gmap_marker_active.png',
    });
    var ouest = new google.maps.Marker({
      position: {lat:47.745607, lng:-1.723515},
      map: map,
      icon: '/assets/gmap_marker_active.png',
    });
    var nord = new google.maps.Marker({
      position: {lat:50.440135, lng:3.354309},
      map: map,
      icon: '/assets/gmap_marker_active.png',
    });
    var australie = new google.maps.Marker({
      position: {lat:-34.465734, lng:150.804597},
      map: map,
      icon: '/assets/gmap_marker_active.png',
    });
    var canada = new google.maps.Marker({
      position: {lat:42.922432, lng:-81.180640},
      map: map,
      icon: '/assets/gmap_marker_active.png',
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeXPsAHw057Ex9wqRO5PVC6mDJLLg4VvU&callback=initMap">
</script>