<div class="row pole-blocks">
  <a href="/travaux.html" class="col-sm-4 wow fadeInRight" data-wow-delay="0.1s">
    <div class="box-inset-2 bg-white block-hover">
      <div class="pole-blocks__title-wrapper">
        <h5 class="pole-blocks__title title is-size-4">Le pôle<br>Travaux</h5>
      </div>
      <div class="pole-blocks__picto travaux">
      </div>
    </div>
  </a>
  <a href="/location.html" class="col-sm-4 wow fadeInRight" data-wow-delay="0.2s">
    <div class="box-inset-2 bg-white block-hover">
      <div class="pole-blocks__title-wrapper">
        <h5 class="pole-blocks__title title is-size-4">Le pôle<br>Location</h5>
      </div>
      <div class="pole-blocks__picto location">
      </div>
    </div>
  </a>
  <a href="/services.html" class="col-sm-4 wow fadeInRight" data-wow-delay="0.3s">
    <div class="box-inset-2 bg-white block-hover">
      <div class="pole-blocks__title-wrapper">
        <h5 class="pole-blocks__title title is-size-4">Le pôle<br>Services</h5>
      </div>
      <div class="pole-blocks__picto services">
      </div>
    </div>
  </a>
</div>