<div class="row">
  <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.1s">
    <div class="box-inset-2 bg-white block-hover">
      <h5>Travaux</h5>
      <div class="line-inset-2">
        <p>
        
        </p>
      </div>
      <div class="overlay box-icon">
        <span class="icon icon-xl icon-default material-design-mountains14"></span>
      </div>
    </div>
  </div>
  <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.2s">
    <div class="box-inset-2 bg-white block-hover">
      <h5>Location</h5>
      <div class="line-inset-2">
        <p>
         
        </p>
      </div>
      <div class="overlay box-icon">
        <span class="icon icon-xl icon-default material-design-tick7"></span>
      </div>
    </div>
  </div>
  <div class="col-sm-4 wow fadeInRight" data-wow-delay="0.3s">
    <div class="box-inset-2 bg-white block-hover">
      <h5>Services</h5>
      <div class="line-inset-2">
        <p>
          
        </p>
      </div>
      <div class="overlay box-icon">
        <span class="icon icon-xl icon-default material-design-timelapse"></span>
      </div>
    </div>
  </div>
</div>