
<section class="offre-emploi__title-section">
  <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h1>
            {{job.title}}
          </h1>
        </div>
      </div>
    </div>
</section>

<section class="offre-emploi__content-section">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 content--sf-richtext">
        {{{job.content}}}
      </div>
    </div>
  </div>
</section>