
<section class="offre-emploi__title-section">
  <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h1 class="title is-size-2">
            {{job.title}}
          </h1>
        </div>
      </div>
    </div>
</section>

<section class="offre-emploi__content-section">
  <div class="container wow fadeInUp">

    <div class="flex-row">
      <div class="item-fill"></div>
      <div class="item-fit">
        <div class="sharethis-inline-share-buttons"></div>
      </div>
      <div class="item-1"></div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1 content--sf-richtext">
        {{{job.content}}}
      </div>
    </div>

    <div class="flex-row flex-row--centered">
      <div class="item-fit">
        <div class="sharethis-inline-share-buttons"></div>
      </div>
    </div>

  </div>
</section>

<input id="sfws_type" type="hidden" value="Candidature">
<input id="sfws_source" type="hidden" value="{{job.id}}">