{{#each newsList}}
  <div class="row">
    <div class="col-md-10 col-md-offset-1 actualites__articles-list">
      <div class="actualites__article">
        <h2>{{title}}</h2>  
        <p>
          {{excerpt}}
        </p>

        <div class="actualites-list__link">
          <a href="" class="gp-button gp-button--gray gp-button--small">Lire la suite</a>
        </div>

      </div>

    </div>
  </div>
{{/each}}