.gp-button{
  background-color: fade-out($gray, .3) !important;
  color: $white !important;
  border: 1px solid $white;
  padding: $verySmallSpacing $smallSpacing $verySmallSpacing $smallSpacing;
  border-radius: 10px;

  font-size: 1.6rem !important;
  font-weight: 600;

  transition: opacity 300ms;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  &:focus, &:hover, &:active{
    background-color: $gray !important;
  }

  &--small{
    font-size: 1.3rem !important;
    font-weight: 600;
    letter-spacing: -0.05em !important;
  }

  @each $colorName, $color in $colors{
    &--#{$colorName}{
      background-color: fade-out($color, .3) !important;
      $fontColor: map-get($fontColors, $colorName);
      color: $fontColor !important;
      // border-color: $fontColor !important;
      &:focus, &:hover, &:active{
        background-color: $color !important;
      }
    }
  }

  @each $colorName, $color in $colors{
    &--#{$colorName}-border{
      // border-color: $color !important;
    }
  }


}