<section class="footer__main-links">      
  <div class="container"> 

    <p class="center">
      <a href="/en/publications.html">Publications</a>
      <a href="/en/press-area.html">Press Area</a>
      <a href="/en/contact-us.html">Contact us</a>
      <a href="/en/join-our-staff.html">Join us</a>
      {{!--<a href="/en/toutes-nos-actualites.html">News Items</a>--}}
    </p>
  </div>
</section>
<section class="footer__secondary-links">
  <div class="container"> 
    <p class="center">
      <span class="link">
        <a href="/en/legal-notice.html">Legal Notices</a>
      </span>
      <span class="separator">|</span>
      <span class="link">
        <a href="/en/liens.html">Links</a>
      </span>
      <span class="separator mobile-only">|</span>
      <span class="link mobile-only">
        <a href="/"><span class="flag-icon flag-icon-fr"></span></a>
        <a href="/">Français</a>
      </span>
    </p>
  </div> 
</section> 