<section class="footer__main-links">      
  <div class="container"> 

    <p class="center">
      <a href="/en/on-en-parle.html">Press Articles</a>
      <a href="/en/espace-presse.html">Press Contact Details</a>
      <a href="/en/contact-us.html">Contact us</a>
      <a href="/en/join-our-staff.html">Join us</a>
      <a href="/en/toutes-nos-actualites.html">News Items</a>
    </p>
  </div>
</section>
<section class="footer__secondary-links">
  <div class="container"> 
    <p class="center">

      <a href="/en/legal-notice.html">Legal Notices</a>
      |
      <a href="/en/liens.html">Links</a>
    </p>
  </div> 
</section> 