<section class="footer__main-links">      
  <div class="container"> 

    <p class="center">
      <a href="/en/on-en-parle.html">On en parle</a>
      <a href="/en/espace-presse.html">Espace Presse</a>
      <a href="/en/contact-us.html">Contact</a>
      <a href="/en/join-our-staff.html">Nous rejoindre</a>
      <a href="/en/toutes-nos-actualites.html">Toutes nos actualités</a>
    </p>
  </div>
</section>
<section class="footer__secondary-links">
  <div class="container"> 
    <p class="center">

      <a href="/en/legal-notice.html">Mentions Légales</a>
      |
      <a href="/en/liens.html">Liens</a>
    </p>
  </div> 
</section> 