{{!-- pages/akela-interim.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Akela Intérim - Employment Agency for temporary and permanent staff" description="" }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/en/services">Services Division</a></li>
      <li><a href="#">Akela Intérim</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="blue-box">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row">
          <div class="item-3">
            <img src="/assets/pictos_poles/picto-services-blanc.png" alt="picto charte groupe poisson" class="entite__picto-pole">
          </div>
          <div class="item-9">
            <h1 class="title is-size-1 is-black">
              Akela Intérim
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Employment Agency for temporary and permanent staff</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
          <div class="item-9 content">
            <p class="text is-size-2">Akela Intérim, a temporary employment agency opened in 2000, specialising in skilled staff for the construction and environmental sectors, has become a key player for clients working in these sectors. The agency can provide temporary staff, manage the associated work contracts, and put forward candidates for permanent posts.
            </p>
            <p class="text is-size-2">The agency draws on a large portfolio of reliable and experienced temporary staff, developed over the years. Responsive and enthusiastic, the agency team is able to match the skills and competence of available candidates to the requirements of its clients. Akela Intérim maintains the high standard of its portfolio by offering regular training to its temporary staff throughout their careers.
            </p>
            <div class="clearfix">
             <img class="right is-one-third" src="/assets/images_pages_entites/akela-interim-travaux.jpg" alt="agence d'intérim akela intérim">
            <h3 class="title is-size-4 is-bold">Provision of temporary staff</h3>
            <p class="text is-size-2">Akela Intérim guarantees a well-targeted and highly specialised supply of temporary workers to satisfy client requirements. The agency can supply staff with experience in the following jobs :
            </p>
             <p>Civic amenity centre agent, forklift driver, HGV driver, construction plant machinery driver-operator, painter, external works, roads and services worker, labourer, service technician, digger, staff plasterer ...
             </p>
             </div>
             <div class="clearfix">
             <img class="left is-one-third" src="/assets/images_pages_entites/akela-interim-peintre.jpg" alt="intérimaires agence akela intérim">
            <h3 class="title is-size-4 is-bold">Work contract management</h3>
            <p class="text is-size-2">Akela Intérim manages the temporary employment contracts once  staff have been recruited, taking care of the administrative formalities such as legal declarations, contract, payroll, etc.
            </p>
            </div>
            <div class="clearfix">
             <img class="right is-one-third" src="/assets/images_pages_entites/akela-interim-chargeuse.jpg" alt="intérimaires akela intérim chargeuse">
             <h3 class="title is-size-4 is-bold">Recruitment of permanent staff</h3>
            <p class="text is-size-2">Akela Intérim can also handle the recruitment process for permanent staff, from defining the job description through to publishing advertisements and carrying out interviews, to find the most suitable candidate for the job.
            </p>
             </div>
            <p class="text is-size-2">As a small company with a human touch, Akela Intérim offers the following advantages:  </p>
            <p class="text is-size-2"><strong>Attention to requirements :</strong> The agency analyses the needs of its clients and carries out each recruitment process in a personalised manner, through visits to sites and meetings in the agency offices in La Varenne-Saint-Hilaire.</p>
             <p class="text is-size-2"><strong>Security :</strong> Akela Intérim provides its temporary workers with a PPE (Personal Protection Equipment) package: construction site helmet and noise protection. safety shoes, safety glasses, high-viz vest, gloves.</p>
              <p class="text is-size-2"><strong>Flexibility :</strong> Akela Intérim can be sure of the loyalty and availability of recruitment candidates by maintaining close and friendly relations with its temporary staff.</p>
               <p class="text is-size-2"><strong>Ethical concerns :</strong> Aware of its social responsibility, Akela Intérim is careful to ensure every respect for its temporary staff, and ensure total compliance with current legislation: each temporary worker is unique.</p>
                <p class="text is-size-2"><strong>Looking to the future :</strong> The agency's team is updated on labour legislation and recruitment procedures through regular training and can reply knowledgably to clients’ questions and concerns. At the same time the team members are able to progress in their own careers by increasing skill levels.</p>
          </div>
          <div class="item-3 entite__atout">
            <img src="/assets/atouts_entites_en/atouts-akela-interim-en.png" alt="atouts akela intérim groupe poisson">
          </div>
        </div>
      </div>
    </section>

{{!--<section>
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12">
         <p class="text is-size-2">Vous êtes intérimaires et vous souhaitez vous inscrire au sein de l'agence Akela Intérim ? <a href="/assets/plaquettes/akela-doc-interimaires.pdf" target="_blank">Découvrez les documents à fournir et les formalités administratives pour votre inscription.</a></p>
          </div>
        </div>
      </div>
    </section>--}}


    <section class="blue4-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12">
         <h3 class="title is-size-4 is-bold">Clients</h3>
         <br>
         <p>PAPREC • SUEZ • DERICHEBOURG • NUANCE 3 • YPREMA • RFM • TPSM • DMS • A GRAFFIN • DEL BOCA • SYNEOS • DRON • CUBE</p>
          </div>
        </div>
      </div>
    </section>


    <section class="blue2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Key strengths</h2>
            <br>
            <p style="text-align:center" class="text is-size-1">Well-targeted recruitment</p>
            <p style="text-align:center" class="text is-size-1">Professional approach</p>
            <p style="text-align:center" class="text is-size-1">Rapid response</p>
            <p style="text-align:center" class="text is-size-1">Commitment</p>
            <p style="text-align:center" class="text is-size-1">Training</p>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/akela-interim-facade.jpg" alt="facade agence akela interim la varenne-saint-hilaire">
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row white-box">
          <div class="item-4 text-box">
            <h2 class="title is-size-2 is-bold">Offices</h2>
            <br>
            <br>
            <p class="text is-size-2">Akela Consulting has two branches in France :</p>
            <p class="text is-size-2">- La Varenne-Saint-Hilaire, Val-de-Marne (94)</p>
            <p class="text is-size-2">- Nantes, Loire-Atlantique (44)</p>
          </div>
          <div class="item-4 image-box">
            <img src="/assets/cartes/implantation-akela-interim.png" alt="implantation la varenne-saint-hilaire val de marne 94">
          </div>
          <div class="item-4 entite__address">
            {{>components/address site="akela-interim" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button" href="/en/contact-us.html?contact=Akela Interim#contact">Contact Akela Intérim</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="blue4-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12">
            <h3 class="title is-size-2 is-bold">2 agencies</h3>
          </div>
        </div>
        <br>
        <div class="flex-row flex-row--centered">
          <div class="item-4 text-left">
            {{>components/address site="akela-interim-idf-en"}}
          </div>
          <div class="item-4 text-right--desktop">
            {{>components/address site="akela-interim-nantes-en"}}
          </div>
        </div>
          </div>
        </div>
      </div>
    </section>
    
    {{!--<section class="blue3-box">
      <div class="container">
        <div class="flex-row">
          <div class="item-7 wow fadeIn text-box">
            <h2 class="title is-size-2 is-bold">A la Une</h2>
            <h5 class="title is-size-3 is-bold">Les staffeurs ornemanistes en action !</h5>
            <p class="text is-size-2">De janvier à avril 2016, l'entité Akela a travaillé sur trois chantiers de rénovation de grands hôtels parisiens pour l'un de ses plus importants clients...</p>
            <div class="text-box__buttons">
              <a href="/en/actualites/0061/les-staffeurs-ornemanistes-en-action.html" class="gp-button gp-button--gray" >Lire la suite</a>
            </div>
          </div>
          <div class="item-fill"></div>
          <div class="item-4 download-box">
            <img src="/assets/plaquettes/akela-interim-plaquette.png" alt="plaquette akela interim agence groupe poisson">
            <div>
              <a href="/assets/plaquettes/akela-interim-plaquette.pdf" class="gp-button gp-button--gray" target="_blank">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>--}}



      
  {{/inline}}
{{/layouts/base}}