{{!-- pages/axel-sud.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Axel Sud – Earthworks and civil engineering works, water distribution, sewerage and drainage, and electrical, gas and ICT distribution" description="" }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/en/travaux">Civil Works Division</a></li>
      <li><a href="#">Axel Sud</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="gray-box">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row">
          <div class="item-3">
            <img src="/assets/pictos_poles/picto-travaux-blanc.png" alt="picto groupe poisson civil works division" class="entite__picto-pole">
          </div>
          <div class="item-9">
            <h1 class="title is-size-1 is-black">
              Axel Sud
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Earthworks and civil engineering works, water distribution, sewerage and drainage, and electrical, gas and ICT distribution</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
          <div class="item-9 content">
            <p class="text is-size-2">Axel Sud specialises in public works and can assist both industrial companies and private individuals on construction sites. With nearly 40 years of experience, Axel Sud has a solid reputation for its expertise in earthworks and civil engineering works, water distribution, sewerage and drainage, and electrical, gas and ICT distribution.
            </p>
            <img class="right is-one-third" src="/assets/images_pages_entites/axel-sud-terrassement.jpg" alt="axel sud Earthworks">
            <h3 class="title is-size-4 is-bold">Earthworks</h3>
            <p class="text is-size-2">Axel Sud can undertake earthworks, prepare the sub-base on land for future residential property developments, construct buildings and housing (appartment blocks or housing estates), industrial platforms, and ground-level photovoltaic power plants.
            </p>
            <div class="clearfix"><img class="left is-one-third" src="/assets/images_pages_entites/axel-sud-reseaux-humides.jpg" alt="axel sud Water distribution, sewerage and drainage">
            <h3 class="title is-size-4 is-bold">Water distribution, sewerage and drainage</h3>
            <p class="text is-size-2">The company can put in place new installations and modify existing installations for drinking water, waste water, rainwater or industrial water, on both public and private property .
            </p>
            </div>
            <div class="clearfix">
            <img class="left is-one-third" src="/assets/images_pages_entites/axel-sud-reseaux-secs.jpg" alt="axel sud Electrical, gas and ICT distribution">
             <h3 class="title is-size-4 is-bold">Electrical, gas and ICT distribution</h3>
            <p class="text is-size-2">Axel Sud can build and install underground distribution systems for electricity and gas as well as for information and communication technology networks, both cable and optical fibre.
            </p>
            </div>
            <h3 class="title is-size-4 is-bold">Civil engineering works</h3>
            <p class="text is-size-2">Civil engineering works undertaken by Axel Sud include the construction of structures to improve the local environment, such as retaining walls, foundations, pumping stations and water treatment plants, load-bearing structures for industrial buildings, and tunnels.
            </p>
            <h3 class="title is-size-4 is-bold">Other services</h3>
            <p class="text is-size-2">The company also rents out construction equipment for use on sites.
            </p>
            <p class="text is-size-2">Axel Sud ensures that all works are carried out in a professional manner and to a very high standard. The company assists its clients, both industrial and private, through continual supervision and well-organised management on site. Its engineering department can provide technical and turnkey solutions to meet client requirements.</p>
            <p class="text is-size-2">With its experienced staff and a large fleet of quality machines, Axel Sud can operate on varied terrain and carry out all types of works, from the simplest to the most complex.</p>
          </div>
          <div class="item-3 entite__atout">
            <img src="/assets/atouts_entites_en/atouts-axel-sud-en.png" alt="axel sud groupe poisson advantages">
          </div>
        </div>
      </div>
    </section>


    <section class="gray2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Commitments</h2>
            <br>
            <p style="text-align:center" class="text is-size-1">Quality of work</p>
            <p style="text-align:center" class="text is-size-1">ISO 9001 certification</p>
            <p style="text-align:center" class="text is-size-1">Respect of deadlines</p>
            <p style="text-align:center" class="text is-size-1">Inert waste recycled by Terre-durable</p>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/axel-sud-services.jpg" alt="axel sud services">
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row white-box">
          <div class="item-4 text-box">
            <h2 class="title is-size-2 is-bold">Offices</h2>
            <br>
            <p class="text is-size-2">Axel Sud is based in Roquemaure, Gard (30).
            </p>
          </div>
          <div class="item-4 image-box">
            <img src="/assets/cartes/implantation-axel-sud.png" alt="implantation axel sud 30 gard roquemaure">
          </div>
          <div class="item-4 entite__address">
            {{>components/address site="axel-sud" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button gp-button--green-border" href="/en/nous-contacter.html?contact=Axel Sud#contact">Contact Axel Sud</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {{!--<section class="gray3-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">A la une</h2>
            <h5 class="title is-size-3 is-bold">Un 5ème parc photovoltaïque pour Axel Sud</h5>
            <p class="text is-size-2">
              Début juin, les équipes d'Axel Sud ont démarré leur 5ème chantier de parc photovoltaïque en deux ans. Pendant deux mois, elles devront réaliser le défrichement et le terrassement permettant ...
            </p>
            <div class="text-box__buttons">
              <a href="/en/actualites/0060/un-5eme-parc-photovoltaique-pour-axel-sud.html" class="gp-button gp-button--gray">Lire la suite</a>
            </div>
          </div>
          <div class="item-fill"></div>
          <div class="item-4 download-box">
            <img src="/assets/plaquettes/AXS-Fiche-bd.png" alt="axel sud plaquette groupe poisson">
            <div>
              <a href="/assets/plaquettes/AXS-Fiche-bd.pdf" class="gp-button gp-button--gray" target="_blank">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>--}}



      
  {{/inline}}
{{/layouts/base}}