{{!-- pages/axel-duval.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Axel Duval - Civil engineering works, foundations and geothermal works" description="" }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/en/travaux">Civil Works Division</a></li>
      <li><a href="#">Axel Duval</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="gray-box">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row">
          <div class="item-3">
            <img src="/assets/pictos_poles/picto-travaux-blanc.png"  alt="picto charte groupe poisson travaux pole" class="entite__picto-pole">
          </div>
          <div class="item-9">
            <h1 class="title is-size-1 is-black">
              Axel Duval
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Civil engineering works, foundations and geothermal works</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
          <div class="item-9 content">
            <div class="clearfix"><img class="left is-one-third" src="/assets/images_pages_entites/axel-duval-vincennes.jpg" alt="axel duval chantier vincennes">
              <p class="text is-size-2">For over 20 years, the professional know-how and experience of Axel Duval has been put to work on sites in France and neighbouring countries. Specialised in the construction of guide walls, the company undertakes foundations, civil engineering and geothermal works.
              </p>
            </div>
            <div class="clearfix">
              <img class="right is-one-third" src="/assets/images_pages_entites/axel-duval-assemblee-nationale.jpg" alt="axel duvak chantier assemblee nationale terrassement">
              <h3 class="title is-size-4 is-bold">Foundations</h3>
              <p class="text is-size-2">Guide walls, piercaps, load-bearing rectangular piles, secant piles, cut-off diaphragm walls, bracing: foundations are Axel Duval's core business.
              </p>
            <h3 class="title is-size-4 is-bold">Civil engineering works</h3>
            <p class="text is-size-2">The company can carry out civil engineering works on industrial, residential building and road construction sites: reinforced concrete structures, retaining walls, underground basins, underpinning and masonry work.
            </p>
            </div>
            <div class="clearfix">
            <img class="right is-one-third" src="/assets/images_pages_entites/axel-duval-geothermie.jpg" alt="axel duval geothermal works">
             <h3 class="title is-size-4 is-bold">Geothermal works</h3>
            <p class="text is-size-2">From horizontal electro-welded connections through to feeder and header tank connections, Axel Duval can undertake geothermal works on residential building sites (housing estates, residential property development programmes, etc), also industrial and commercial sites.
            </p>
            <p class="text is-size-2">Axel Duval's teams attend training courses regularly, and their qualifications and experience make them skilled and efficient technicians. The site managers, construction and general foremen, and engineers are assisted by craftsmen highly skilled in traditional techniques and enthusiastic apprentices : the transmission of knowledge is one of the company's main values. </p>
            </div>
            <div class="clearfix">
            <p class="text is-size-2">Axel Duval can also count on its large fleet of recent machines to bring great flexibility and efficiency on site (the fleet includes excavators from 1.5T to 30T, trucks, and varied construction equipment).</p>
             <p class="text is-size-2">Axel Duval's commitments to its clients include rigour, respect for deadlines, reactivity and quality of work. It is the company’s dedication to these commitments that has made Axel Duval, over the years, a reliable and capable partner, able to work on complex and large-scale professional projects, such as Grand Paris or the geothermal works at the Auteuil racecourse.</p>
            </div>
          </div>
          <div class="item-3 entite__atout">
            <img src="/assets/atouts_entites_en/atouts-axel-duval-en.png" alt="advantages axel duval groupe poisson">
          </div>
        </div>
      </div>
    </section>


    <section class="gray2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Focus - Guide walls</h2>
            <br>
            <p class="text is-size-2">Axel Duval's specialises particularly in guide walls which are temporary reinforced concrete structures put in place to serve as guidelines for the diaphragm wall construction, and are an essential part of the foundations. The accuracy of these guide walls determines the correct positioning of the diaphragm wall. Axel Duval can adapt to the requirements and the type of soil on each site: localised spot foundations, connecting wall foundations.</p>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/axel-duval-murettes-guides.jpg" alt="axel duval specialised guide walls">
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row white-box">
          <div class="item-4 text-box">
            <h2 class="title is-size-2 is-bold">Offices</h2>
            <br>
            <p class="text is-size-2">Axel Duval is based in Gretz-Armainvilliers, Seine-et-Marne (77).</p>
          </div>
          <div class="item-4 image-box">
            <img src="/assets/cartes/implantation-axel-duval.png" alt="implantation axel duval 77 gretz-armainvilliers">
          </div>
          <div class="item-4 entite__address">
            {{>components/address site="axel-duval" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button gp-button--green-border" href="/en/contact-us?contact=Axel Duval#contact">Contact Axel Duval</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {{!--<section class="gray3-box">
      <div class="container">
        <div class="flex-row">
          <div class="item-7 wow fadeIn text-box">
            <h2 class="title is-size-2 is-bold">A la Une</h2>
            <h5 class="title is-size-3 is-bold">Nouveau chantier Axel Duval sur les pistes d'Orly</h5>
            <p class="text is-size-2">Après le succès de leur précédente intervention à l'aéroport d'Orly, les sociétés ROLLAND et AER (Groupe Eiffage) ont décidé de faire une nouvelle fois appel au savoir-faire d’Axel Duval.</p>
            <div class="text-box__buttons">
              <a href="/en/actualites/0065/nouveau-chantier-axel-duval-sur-les-pistes-d-orly" class="gp-button gp-button--gray">Lire la suite</a>
            </div>
          </div>
          <div class="item-fill"></div>
          <div class="item-4 wow fadeIn download-box" data-wow-delay="0.5s">
            <img src="/assets/plaquettes/groupe-poisson-plaquette.jpg" alt="plaquette axel duval groupe poisson">
            <div>
              <a href="/assets/plaquettes/groupe-poisson-plaquette.pdf" target="_blank" class="gp-button gp-button--gray">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>--}}



      
  {{/inline}}
{{/layouts/base}}