{{!-- pages/brein-transports.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Brein Transports – Road haulage of oversized and non-standard loads and rental of skip loader trucks" description="" }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/en/services">Services Division</a></li>
      <li><a href="#">Brein Transports</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="blue-box">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row">
          <div class="item-3">
            <img src="/assets/pictos_poles/picto-services-blanc.png" alt="picto groupe poisson pole services" class="entite__picto-pole">
          </div>
          <div class="item-9">
            <h1 class="title is-size-1 is-black">
              Brein Transports
            </h1>
            </br>
            <p class="text is-size-2">
              <h2 class="title is-size-3 is-black">Road haulage of oversized and non-standard loads and rental of skip loader trucks</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
          <div class="item-9 content">
            <div class="clearfix"><img class="left is-one-third" src="/assets/images_pages_entites/brein-transports-camion.jpg" alt="brein transports camion transport exceptionnel">
            <p class="text is-size-2">Created in 1970 by René Brein, and taken over in 2009 by the Poisson Group, Brein Transports is highly specialised in road haulage of non-divisible loads, any weight, any dimension, for the public works and the industrial sectors. Brein Transports can provide staff and technical resources of the highest standard and a varied fleet of trucks and trailers, to meet any requirements.
            </p>
            </div>
            <p class="text is-size-2">The company operates throughout France, offering road haulage services for oversized and non-standard loads, but also the rental of skip loader trucks with or without cranes with driver.</p>
            <h3 class="title is-size-4 is-bold">Road haulage of oversized and non-standard loads</h3>
            <img class="right is-one-third" src="/assets/images_pages_entites/brein-transports-poids-lourds.jpg" alt="brein transports poids lourds">
            <p class="text is-size-2">Brein Transports can satisfy specific needs in special and non-standard road haulage of construction machines thanks to its varied fleet of vehicles and trailers :</p>
             <ul>
              <li>4 trucks up to 65 ton payload,</li>
              <li>4 low-loader trailers with double ramps and directional axles,</li>
              <li>2 extra-low low-loader trailers with removable gooseneck with 4 to 6 directional axles.</li>
             </ul>
            <p class="text is-size-2">Brein Transports can assist and advise its clients by studying fully the extent and nature of the road haulage required: from route planning, including obtaining the necessary administrative authorisations and paperwork, to the loading and unloading of machines. Brein Transports can provide customised solutions to meet the specific road haulage constraints for particular machines. The company’ drivers have over 20 years of experience and can handle the loading and unloading of machines without extra help. They are also trained regularly in current legal requirements and up-to-date work practices to provide the most efficient service.
            </p>
            <p class="text is-size-2">Brein Transports strives to satisfy its clients’ requirements as rapidly as possible, at the same time maintaining the very best quality of service. 4 to 6 weeks are normally required to organise a specific road haulage operation.</p>
            <div class="clearfix">
            <img class="right is-one-third" src="/assets/images_pages_entites/brein-transports-convois-exceptionnels.jpg" alt="brein transports convois exceptionnel transport">
            <h3 class="title is-size-4 is-bold">Vehicle rental with driver in the Paris region (Ile-de-France)</h3>
            <p class="text is-size-2">Brein Transports also rents out skip loader trucks, with or without crane, to transport equipment and dispose of materials on construction sites. Well-experienced and regularly trained drivers ensure a high-quality service that meets all site constraints.
            </p>
             <ul>
              <li>Skip loader trucks (15T and 20T)</li>
              <li>Skip loader trucks with crane (10T, 15T, 20T) and 15T skip loader Ampliroll trucks</li>
              <li>Road salting and snow clearing services</li>
            </ul>
            </div>
            <p class="text is-size-2">Brein Transports can also collect and dispose of soil and rubble.
            </p>
          </div>
          <div class="item-3 entite__atout">
            <img src="/assets/atouts_entites_en/atouts-brein-transports-en.png" alt="atouts brein transports groupe poisson">
          </div>
        </div>
      </div>
    </section>
    
    <section class="blue2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Commitments</h2>
            <br>
            <p style="text-align:center" class="text is-size-1">Reactivity</p>
            <p style="text-align:center" class="text is-size-1">Quality of service</p>
            <p style="text-align:center" class="text is-size-1">Qualified and autonomous drivers</p>
            <p style="text-align:center" class="text is-size-1">Customised advice and assistance</p>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/brein-transports-location-chauffeurs-camions.jpg" alt="brein transports location camion chauffeurs">
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row white-box">
          <div class="item-4 text-box">
            <h2 class="title is-size-2 is-bold">Offices</h2>
            <br>
            <p class="text is-size-2">Brein Transports is based in Gretz-Armainvilliers, Seine-et-Marne (77).
            </p>
          </div>
          <div class="item-4 image-box">
            <img src="/assets/cartes/implantation-brein-transports.png" alt="implantation 77 brein transports gretz-armainviliers">
          </div>
          <div class="item-4 entite__address">
            {{>components/address site="brein-transports" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button" href="/en/nous-contacter.html?contact=Brein Transports#contact">Contact Brein Transports</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {{!--<section class="blue3-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">A la une</h2>
            <h5 class="title is-size-3 is-bold">Belle année 2018 !</h5>
            <p class="text is-size-2">
              Toute l'équipe du Groupe Poisson vous présente ses meilleurs voeux !
            </p>
            <div class="text-box__buttons">
              <a href="/en/actualites/0072/belle-annee-2018.html" class="gp-button gp-button--gray">Lire la suite</a>
            </div>
          </div>
          <div class="item-fill"></div>
          <div class="item-4 download-box">
            <img src="/assets/plaquettes/brein-transports-plaquette.png" alt="plaquette brein transports groupe poisson">
            <div>
              <a href="/assets/plaquettes/brein-transports-plaquette.pdf" class="gp-button gp-button--gray" target="_blank">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>--}}




      
  {{/inline}}
{{/layouts/base}}