{{!-- pages/page-one.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Groupe Poisson - Civil Works" description="The Civil Works Division of the Poisson Group endeavours to assist its clients in the..."}}

  {{#*inline "breadcrumb-block"}}
      <li><a href="#">Civil Works</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="parallax well-1" data-url="/assets/parallaxe/travaux-pole-parallaxe.jpg" alt="pole travaux groupe poisson terrassement" data-mobile="true" data-speed="0.3">
        <div class="container text-center wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10" style="height:20em;">
              <h1 style="padding-top: 5em;text-shadow: 0 0 40px rgba(0, 0, 0, .9), 0 0 7px rgba(0, 0, 0, .7);">
              </h1>
            </div>
          </div>
        </div>
      </section>
    
    <section class="well-2 pole__title-section pole__title-section--travaux">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row flex-row--centered">
          <div class="item-10">
            <h1 class="title is-size-1 is-black">
              <img src="/assets/pictos_poles/Picto-travaux.png" class="pole__picto-pole"> Civil Works
            </h1>

            <p class="text is-size-2 text-center">
              The Civil Works Division of the Poisson Group endeavours to assist its clients in the successful completion of projects. Axel Duval, Axel Sud and Select Civil are specialised in earthworks, civil engineering works, drainage and geothermal works and can offer customised solutions for particular site requirements.
            </p>
          </div>
        </div>
      </div>
    </section>

      
    <section class="well-2 pole__subsidiaries-section pole__subsidiaries-section--travaux">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row flex-row--centered">
          <div class="item-10">
            <h2 class="title is-size-2 is-bold">The companies in the Civil Works Division</h2>
          </div>
        </div>
        <div class="flex-row">
          <div class="item-4">
            <img src="/assets/logos/axel_duval.jpg">
            <p class="text is-size-2">
              For over 20 years, the professional know-how and experience of Axel Duval has been put to work on sites in France and neighbouring countries. Specialised in the construction of guide walls, the company...
            </p><br>
            <a class="gp-button gp-button--gray" href="/en/axel-duval.html">Discover Axel Duval</a>
          </div>
          <div class="item-4">
            <img src="/assets/logos/axel_sud.jpg">
            <p class="text is-size-2">
              Axel Sud specialises in public works and can assist both industrial companies and private individuals on construction sites. With nearly 40 years of experience, Axel Sud has a solid reputation for its...
            </p><br>
            <a class="gp-button gp-button--gray" href="/en/axel-sud.html">Discover Axel Sud</a>
          </div>
          <div class="item-4">
            <img src="/assets/logos/select_civil.jpg">
            <p class="text is-size-2">
              Select Civil réalise des chantiers de terrassement de masse et de Génie Civil (travaux de voiries, d'assainissement, d'ouvrages de franchissement, construction de cellules d'enfouissement, travaux de béton armé...
            </p><br> 
            <a href="http://www.selectcivil.com.au/" class="gp-button gp-button--gray"  target="_blank">Discover Select Civil</a>
          </div>
        </div>
      </div>
    </section>


      
  {{/inline}}
{{/layouts/base}}