{{#> layouts/base menu="recrutement" title="Groupe Poisson — Job vacancies" description="Retrouvez toutes les offres d'emplois disponibles au sein du Groupe Poisson"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="/en/join-our-staff.html">Recruitment</a></li>
    <li><a href="#">Our Job vacancies</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    <section class="offres-emploi__title-section">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <h1 class="title is-size-2">
                Job vacancies
              </h1>
            </div>
          </div>
        </div>
    </section>

    <section class="offres-emploi__offres">
      <div class="container wow fadeInUp">
        <div class="flex-row flex-row--centered">
          <div class="item-10 offers-list">
            JOBS_LIST
          </div>
        </div>
      </div>
    </section>

    <section class="offres-emploi__form-section">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <a id="candidature" ></a>
              <h1>
                Spontaneaous Application
              </h1>
            </div>
          </div>
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <input id="sfws_type" type="hidden" value="Candidature">
              {{> components/form}}
            </div>
          </div>
        </div>
    </section>

  {{/inline}}

{{/layouts/base}}