{{#> layouts/base menu="recrutement" title="Groupe Poisson — Join our staff !" description="Rejoignez les 400 collaborateurs du Groupe Poisson. Le Groupe Poisson a l’ambition de valoriser et de développer les compétences de chacun, d’offrir des conditions de travail sécurisées et d’assurer un dialogue social adapté."}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">Join our staff</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    <section class="recrutement__nav">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <h1 class="title is-size-2 is-bold">
                Join our staff&nbsp;!
              </h1>
            </div>
          </div>
          <div class="flex-row flex-row--centered">
            <div class="item-6 recrutement__nav-text text-center">
              <p class="text is-size-2">
                 Take a look at all our job opportunities. <br>If none correspond to you, you can always send us a spontaneous job application.
              </p>
            </div>
            <div class="item-4 recrutement__nav-buttons">
              <a href="/en/job-vacancies.html" class="gp-button gp-button--gray">Consult our job vacancies</a>
              <a href="/en/job-vacancies.html#candidature" class="gp-button gp-button--gray">Spontaneous job application</a>
            </div>
          </div>
        </div>
    </section>

    <section class="recrutement__bullets">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-6 text-left">
              <span>
                We are interested in personal qualities rather than diplomas.
              </span>
              <span>
                Skills, flexibility and integrity are the main factors that influence our recruitment decisions.
              </span>
            </div>
          </div>
        </div>
    </section>

    <section class="parallax well-1" data-url="/assets/parallaxe/morel-terrassement.jpg" data-mobile="true" data-speed="0.3">
        <div class="container text-center wow fadeInUp">
          <div class="flex-row">
            <div class="item-12" style="height:20em;">
              <h1 style="padding-top: 5em;text-shadow: 0 0 40px rgba(0, 0, 0, .9), 0 0 7px rgba(0, 0, 0, .7);">
              </h1>
            </div>
          </div>
        </div>
      </section>
  
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12">
            <h1 class="title is-size-2 is-bold" style="text-align:center">
              Our professions
            </h1>
            <br>
            <p class="text is-size-2" style="text-align:center">
              The diversity of our activities means that we have a wide range of job opportunities for many professions:
            </p>
            <br>
          </div>
        </div>
        <div class="flex-row flex-row--centered">
          <div class="item-4 content">
            <ul>
              <li>site manager / construction site foreman</li>
              <li>construction machine mechanic / agricultural mechanic, sedentary and itinerant</li>
              <li>multi-task service technician</li>
              <li>glazier</li>
              <li>welder / sheet-metal worker</li>
              <li>machine driver-operator</li>
              <li>civil engineering works mason</li>
            </ul>
          </div>
          <div class="item-4 content">  
            <ul>
              <li>formwork carpenter</li>
              <li>civil engineering site foreman</li>
              <li>workshop manager</li>
              <li>bodyworker and painter</li>
              <li>HGV, oversize overweight truck and heavyweight crane driver-operator</li>
              <li>works supervisor</li>
              <li>subsidiary company manager</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  
    <section class="green4-box">
      <div class="container wow fadeInUp">
          <div class="flex-row">
            <div class="item-12">
              <h1 class="title is-size-2 is-bold" style="text-align:center">
                Our priorities
              </h1>
              <br>
              <p class="text is-size-2">
                Vocational training plays an important role within the Group, as well as career development. Our management team is available and open to discussion on staff training requirements. New and experienced employees alike can benefit from personalised continuous training programmes to help each one adapt better to their job, and develop and improve skills and competence.
              </p>
              <p class="text is-size-2">In addition, we aim to ensure that all our employees have the opportunity to move between our various branches and subsidiaries, in France or abroad, but also to change profession by means of appropriate training. We enable them to take advantage of professional opportunities that will help them achieve their career goals.</p>
              <p class="text is-size-2">We are also developing opportunities for the young to integrate the job market through work-study training programmes, in partnership with various schools. Joining a company whilst still at school is about discovering trades and professions, participating fully in the life of the company, and training as early as possible to acquire the skills and experience required for a successful start to professional life.</p>
              <p class="text is-size-2">Experience has shown that the desire to learn and commitment to the company can be worth more than diplomas, and we encourage all applications no matter how unorthodox the skills or experience of the applicant. Whether you are self-taught or would like to change career, your motivation is your best asset!</p>
            </div>
          </div>
        </div>
    </section>


      


    {{> components/map}}
  {{/inline}}

{{/layouts/base}}