{{#> layouts/base menu="liens" title="Groupe Poisson — Liens"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">Liens</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
   

    <section >
      <div class="container wow fadeInUp">
				<div class="flex-row">
					<div class="item-12">
						<h1 class="title is-size-1 is-black">
							Links
						</h1>
						<a href="http://www.marcelequipment.com/" target="_blank"><img alt="logo marcel equipement limited" src="/assets/liens/Logo_MEL.jpg" align="middle" style="width: 385px; height: 126px; " /></a>
						&nbsp;

						<a href="http://www.selectcivil.com.au/" target="_blank"><img alt="logo select civil" src="/assets/liens/Logo-selectcivil.jpg" align="middle" style="width: 322px; height: 80px; " /></a>

						&nbsp;

						<a href="http://www.gp-alto.com" target="_blank"><img alt="" src="/assets/liens/logo-alto.jpg" align="middle" style="width: 270px; height: 144px; " /></a>

						&nbsp;

						<a href="http://octave-alto.com" target="_blank"><img alt="" src="/assets/liens/logo-octave.png" align="middle" style="width: 199px; height: 100px; " /></a>

						&nbsp;

						<a href="http://lesmateriauxduval.fr" target="_blank"><img alt="logo les materiaux duval" src="/assets/liens/logo-lmd.png" align="middle" style="width: 258px; height: 80px; " /></a>

						&nbsp;

						<a href="http://www.dron.fr/" target="_blank"><img alt="logo dron" src="/assets/liens/logo-dron.png" align="middle" style="width: 129px; height: 60px; " /></a>

						&nbsp;

						<a href="http://www.bomag.com/fr/fr/accueil-bienvenue.htm" target="_blank"><img alt="" src="/assets/liens/logo-bomag.png" align="middle" style="width: 179px; height: 50px; " /></a>

						&nbsp;

						<a href="http://www.cat.com/fr_FR.html" target="_blank"><img alt="" src="/assets/liens/logo-caterpillar.png" align="middle" style="width: 150px; height: 150px; " /></a>

						&nbsp;

						<a href="http://www.groupe-cayola.com/" target="_blank"><img alt="" src="/assets/liens/logo-cayola.jpg" align="middle" /></a>

						&nbsp;

						<a href="http://www.chantiersdefrance.fr" target="_blank"><img alt="" src="/assets/liens/logo-cdf.jpg" align="middle" style="width: 234px; height: 54px; " /></a>

						&nbsp;

						<a href="http://www.dlr.fr/" target="_blank"><img alt="" src="/assets/liens/logo-dlr.jpg" align="middle" /></a>

						&nbsp;

						<a href="https://www.liebherr.com/fr/fra/démarrage/page-de-démarrage.html" target="_blank"><img alt="" src="/assets/liens/logo-liebherr.svg" style="width: 306px; height: 40px; " align="middle" /></a>

					</div>
				</div>
			</div>
    </section>


      


    {{> components/map}}
  {{/inline}}

{{/layouts/base}}