{{!-- pages/maintenance-service.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Maintenance Service – Sale, assembly and maintenance of modular buildings." description="" }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/en/services">Services Division</a></li>
      <li><a href="#">Maintenance Service</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="blue-box">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row">
          <div class="item-3">
            <img src="/assets/pictos_poles/picto-services-blanc.png" alt="picto services groupe poisson" class="entite__picto-pole">
          </div>
          <div class="item-9">
            <h1 class="title is-size-1 is-black">
            Maintenance Service
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Sale, assembly and maintenance of modular buildings.</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
          <div class="item-9 content">
            <div class="clearfix">
            <img class="left is-one-third" src="/assets/images_pages_entites/maintenance-service-construction-modulaire.jpg" alt="maintenance service customised buildings">
            <p class="text is-size-2">Maintenance Service has been specialising for more than 30 years in the sale, maintenance, relocation and fitting out of modular buildings. New, refurbished or second-hand - modular buildings can provide you with a temporary or long-term solution to your needs. 
            </p>
            </div>
            <div class="clearfix">
            <img class="right is-one-third" src="/assets/images_pages_entites/maintenance-service-module-amenagement.jpg" alt="creation modular buildings maintenance service">
            <h3 class="title is-size-4 is-bold">Construction of customised buildings</h3>
            <p class="text is-size-2">Maintenance Service can create modular buildings to meet any requirements, however diverse. Constructions built by Maintenance Service for use as offices, schools or on classified sites comply fully with the standards and regulations in force (ERP, RT 2012, etc.).</p>
            </div>
            <div class="clearfix">
            <img class="right is-one-third" src="/assets/images_pages_entites/maintenance-service-batiment-modulaire.jpg" alt="construction modular buildings maintenance service">
            <p class="text is-size-2">Maintenance Service undertakes the design, construction and fitting out of customised buildings, which can be structures made up of assembled units or modules, and also single-piece constructions. These buildings, designed for sites (site hut, base camp living quarters, mobile site facility), school premises (primary school, crèche,...) or housing, can be adapted to suit specific requirements and demands.</p>
            </div>
            <div class="clearfix">
            <img class="left is-one-third" src="/assets/images_pages_entites/maintenance-service-montage.jpg" alt="maintenance service montage et transfert">
            <h3 class="title is-size-4 is-bold">Delivery to site and assembly</h3>
            <p class="text is-size-2">Maintenance Service can deliver and assemble your modular buildings on site. The company takes care of the route planning and special road haulage requirements for the delivery to site, where its own experienced technicians assemble the buildings to ensure a professional finish.
            </p>
            </div>
            <div class="clearfix">
              <img class="right is-one-third" src="/assets/images_pages_entites/maintenance-service-reparation.jpg" alt="maintenance service reparation sur batiment modulaire">
            <h3 class="title is-size-4 is-bold">Maintenance and refurbishment services</h3>From simple maintenance to complex refurbishment, Maintenance Service can undertake all types of works
            <p class="text is-size-2"> on modular buildings
            </p>
            <p class="text is-size-2">Some examples of maintenance operations: lock replacement, repair and replacement of plumbing systems and electrical wiring, renovation, general repairs, etc.
            </p>
            </div>
            <p class="text is-size-2">Maintenance Service can assist and advise at all stages of a turnkey project, from drawing up plans and obtaining the necessary building permits through to final completion.</p>
            <p class="text is-size-2">Maintenance Service puts its experience and expertise in modular construction at the service of both professional and private clients in all sectors (local authorities, town halls, schools, associations, construction companies, etc.). Its technicians are trained regularly in the repair and welding of gas installations and hold the necessary safe driving aptitude certificates for lifting operations (CACES).</p>
          </div>
          <div class="item-3 entite__atout">
            <img src="/assets/atouts_entites_en/atouts-maintenance-service-en.png" alt="advantages maintenance service groupe poisson">
          </div>
        </div>
      </div>
    </section>

    <section class="blue4-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12">
            <h3 class="title is-size-4 is-bold">Clients</h3>
            <br>
            <p class="text is-size-2">COLAS • VINCI • BOUYGUES • EIFFAGE • VILLE DE FRESNES • SADE • VEOLIA • SUEZ • DRON LOCATION
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="blue2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Focus - Windscreens replacment</h2>
            <br>
            <p class="text is-size-2">Maintenance Service can replace windscreens and other glass panes on construction machines and industrial equipment. Its specialised team can operate on sites throughout the Paris region (Ile-de-France), offering the client a choice of genuine factory-original or compatible spare parts for all types of machine (lifting, construction, railway works, etc.).</p>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/maintenance-service-vitrage.jpg" alt="maintenance service windscreecs replacment glass panes chantier">
          </div>
        </div>
      </div>
    </section>

    
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row white-box">
          <div class="item-4 text-box">
            <h2 class="title is-size-2 is-bold">Offices</h2>
            <br>
            <p class="text is-size-2">Maintenance Service is based in Gretz-Armainvilliers, Seine-et-Marne (77).
              </p>
              <p class="text is-size-2">Operates up to 300km distance around Paris
            </p>
          </div>
          <div class="item-4 image-box">
            <img src="/assets/cartes/implantation-maintenance-service.png" alt="implantation maintenance service gretz-armainvillier 77">
          </div>
          <div class="item-4 entite__address">
            {{>components/address site="maintenance-service" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button gp-button--green-border" href="/en/contact-us.html?contact=Maintenance Service#contact">Contact Maintenance Service</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {{!--<section class="blue3-box">
      <div class="container">
        <div class="flex-row">
          <div class="item-7 wow fadeIn text-box">
            <h2 class="title is-size-2 is-bold">A la une</h2>
            <h5 class="title is-size-3 is-bold">Belle année 2018 !</h5>
            <p class="text is-size-2">
              Toute l'équipe du Groupe Poisson vous présente ses meilleurs voeux !
            </p>
            <div class="text-box__buttons">
              <a href="/en/actualites/0072/belle-annee-2018.html" class="gp-button gp-button--gray">Lire la suite</a>
            </div>
          </div>
          <div class="item-fill"></div>
          <div class="item-4 wow fadeIn download-box" data-wow-delay="0.5s">
            <img src="/assets/plaquettes/groupe-poisson-plaquette.jpg" alt="plaquette maintenance service groupe poisson">
            <div>
              <a href="/assets/plaquettes/groupe-poisson-plaquette.pdf" target="_blank" class="gp-button gp-button--gray">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>--}}



      
  {{/inline}}
{{/layouts/base}}