{{!-- pages/morel.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Morel – Public works construction machine rental with driver-operator" descriptions="" }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/en/location">Rentals Division</a></li>
      <li><a href="#">Morel</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="green-box">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row">
          <div class="item-3">
            <img src="/assets/pictos_poles/picto-location-blanc.png" alt="picto location groupe poisson" class="entite__picto-pole">
          </div>
          <div class="item-9">
            <h1 class="title is-size-1 is-black">
              Morel
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Public works construction machine rental with driver-operator</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
          <div class="item-9 content">
            <div class="clearfix"><img class="left is-one-third" src="/assets/images_pages_entites/morel-terrassement.jpg" alt="morel terrassement location avec chauffeur">
            <p class="text is-size-2">Since 1988, Morel has been renting out machines with driver-operator for use anywhere in France. Its expertise and success are built on a varied fleet of machines, upgraded on a regular basis, which is capable of meeting the most specific needs. But just as important are its driver-operators, who are all highly experienced, versatile and responsible, and who are trained regularly to meet the changing needs of the business. 
            </p>
            <p class="text is-size-2">The fleet of machines covers a wide range of applications and a suitable machine can be found for any type of construction site. Each machine has a particular usage, and each task its particular machine.</p>
            </div>
            <div class="clearfix">
            <img class="right is-one-third" src="/assets/images_pages_entites/morel-machine.jpg"  alt="morel location engins avec chauffeur">
            <h3 class="title is-size-4 is-bold">Earthworks</h3>
            <ul><li><strong>Machines:</strong> standard and specialised excavators (high-reach and crawler/chameleon, ...), track loaders, dumpers, dozers, compactors, etc</li>
            <li><strong>Attachments:</strong> grade control systems, grab buckets, ripper teeth, long-reach booms ...</li>
            </ul>
            </div>
            <div class="clearfix">
            <img class="right is-one-third" src="/assets/images_pages_entites/morel-pelle-bras-long.jpg" alt="morel bras long engin chantier">
            <h3 class="title is-size-4 is-bold">Demolition</h3>
            <ul><li><strong>Machines:</strong> hydraulic excavators, track loaders, etc</li>
            <li><strong>Attachments:</strong> hydraulic breakers, concrete cutters, concrete crushers....</li>
            </ul>
            <h3 class="title is-size-4 is-bold">Public parks and gardens</h3>
            <ul><li><strong>Machines:</strong> Mecalacs, excavators and mini excavators, etc</li>
            <li><strong>Attachments:</strong> screening buckets, grab buckets, tilt buckets, rotating heads, forks...</li>
            </ul>
            <h3 class="title is-size-4 is-bold">Foundations</h3>
            <ul><li><strong>Machines:</strong> standard and specialised excavators, mini excavators, track loaders,etc</li>
            <li><strong>Attachments:</strong> long-reach booms, grab buckets, grinding/milling/drilling tools, ripper teeth....</li>
            </ul>
             </div>
            <h3 class="title is-size-4 is-bold">External works, installation of roads and associated services</h3>
            <ul><li><strong>Machines:</strong> Mecalacs, wheel excavators and hydraulic excavators, track loaders, etc</li> 
            <li><strong>Attachments:</strong> tilt buckets, forks, rotating heads, grab buckets,...</li>
            </ul>
            <p class="text is-size-2">Based in Gretz-Armainvilliers in the Paris region, Morel focuses on reactivity, professional service and customised solutions to meet the demands of both very small companies and large groups for the rental of equipment with driver-operator. Client satisfaction is a major concern, and in order to achieve this Morel is committed to keeping pace with technology by renewing its fleet with ever more efficient machines and accessories (grade control systems, weighing devices, Rototilt equipment) and by keeping its driver-operators up to date with regular training. 
            </p>
            <p class="text is-size-2">Morel also rents out equipment for short periods, and without driver-operator. More information is available on request.
            </p>
          </div>
          <div class="item-3 entite__atout">
            <img src="/assets/atouts_entites_en/atouts-morel-en.png" alt="atouts morel groupe poisson">
          </div>
        </div>
      </div>
    </section>
    
    <section class="green2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Commitments</h2>
            <br>
            <p style="text-align:center" class="text is-size-1">Reactivity</p>
            <p style="text-align:center" class="text is-size-1">Readily available high quality machines</p>
            <p style="text-align:center" class="text is-size-1">Multi-functional driver-operators</p>
            <p style="text-align:center" class="text is-size-1">High quality technical monitoring and maintenance</p>
            <p style="text-align:center" class="text is-size-1">France and neighbouring countries</p>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/morel-pelle-cameleon.jpg" alt="morel machine pelle cameleon">
          </div>
        </div>
      </div>
    </section>

<section id="nos-poles" class="green4-box">
  <div class="container">
    <div class="flex-row flex-row--v-centered">
      <div class="item-6 wow fadeInLeft">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Spy-uzrP5BA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="item-6 content">
        <h2 class="title is-size-2 is-bold">
        ‘Chameleon’ crawler excavator
        </h2>
        <p class="text is-size-2">Equipped with a telescopic boom, the chameleon excavator is capable of descending vertically to 30m depths. The operator cab, mounted on rails, offers an excellent view over the excavation area through its glazed floor. This machine will handle perfectly the clearing away of material from sites where excavations reach great depths.</p>
        <p class="text is-size-2">Technical specifications:</p>
        <ul>
          <li>Excavation up to a depth of 25 metres</li>
          <li>Support/Base machine: HITACHI ZAXIS LC 330</li>
          <li>Weight: 45T</li>
          <li>Telescopic boom</li>
          <li>1300L grab bucket</li>
          <li>Rapid bucket turn-round time</li>
          <li>Rail-mounted operator cab</li>
        </ul>
      </div>
    </div>
  </div>
</section>



    
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row white-box">
          <div class="item-4 text-box">
            <h2 class="title is-size-2 is-bold">Offices</h2>
            <br>
            <p class="text is-size-2">Morel is based in Gretz-Armainvilliers, Seine-et-Marne (77). 
            </p>
          </div>
          <div class="item-4 image-box">
            <img src="/assets/cartes/implantation-morel.png" alt="implantation morel gretz-armaivilliers 77">
          </div>
          <div class="item-4 entite__address">
            {{>components/address site="morel" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button" href="/en/contact-us.html?contact=Morel#contact">Contact Morel</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {{!--<section class="green3-box">
      <div class="container">
        <div class="flex-row">
          <div class="item-7 wow fadeIn text-box">
            <h2 class="title is-size-2 is-bold">A la Une</h2>
            <h5 class="title is-size-3 is-bold">Nouvelle acquisition : la Zaxis135US-5B !</h5>
            <p class="text is-size-2">Afin de répondre aux exigences du secteur, Morel a enrichi son parc de machines d’une pelle tunnel Zaxis135US-5B, commercialisée par HITACHI.</p>
            <div class="text-box__buttons">
              <a href="/en/on-en-parle.html" class="gp-button gp-button--gray">Lire la suite</a>
            </div>
          </div>
          <div class="item-fill"></div>
          <div class="item-4 wow fadeIn download-box" data-wow-delay="0.5s">
            <img src="/assets/plaquettes/Morel-Fiche.png" alt="plaquette morel groupe poisson">
            <div>
              <a href="/assets/plaquettes/Morel-Fiche.pdf" target="_blank" class="gp-button gp-button--gray">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>--}}



      
  {{/inline}}
{{/layouts/base}}