{{!-- pages/poisson-formation.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Poisson Formation – Organisation for training and occupational safety awareness" description="" }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/en/services">Services Division</a></li>
      <li><a href="#">Poisson Formation</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="blue-box">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row">
          <div class="item-3">
            <img src="/assets/pictos_poles/picto-services-blanc.png" alt="picto services groupe poisson" class="entite__picto-pole">
          </div>
          <div class="item-9">
            <h1 class="title is-size-1 is-black">
            Poisson Formation
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Organisation for training and occupational safety awareness</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
          <div class="item-9 content">
            <div class="clearfix">
            <img class="right is-one-third" src="/assets/images_pages_entites/poisson-formation.jpg" alt="poisson formation entreprise inter intra caces">
            <p class="text is-size-2">Poisson Formation offers a wide range of short and medium-term training courses for the professions in the construction, public services and industry sectors. These training courses are intended for both professionals and private individuals, whether they are new to the sector or in need of upgrading / re-training. Whether the objective is to bring employees up-to-date with regulatory obligations or help them develop their skills, Poisson Formation can provide all types of training: electrical installations, equipment operating, safety and accident prevention, and industrial railway siding operations.
            </p>
            </div>
            <h3 class="title is-size-4">AIPR - Autorisation d'Intervention à Proximité des Réseaux (Accreditation for Intervention in the Proximity of Networks) </h3>
            <p class="text is-size-2">The AIPR is a proficiency accreditation, obligatory since 1 January 2018, for staff working in the vicinity of networks. The aim is to reduce risks and damage that can occur when works are carried out near overhead or underground networks. 
            </p>
            <ul><li><a href="/assets/formations/Programme_AIPR_concepteurs_encadrants_operateurs.pdf" target="_blank">AIPR training course (fr)</a>
            </li></ul>
            
            <h3 class="title is-size-4">Operating professional machines and equipment (operator proficiency/CACES® - Safe Driving/Operating Proficiency Certificate)</h3>
            <p class="text is-size-2">These training courses ensure compliance with the legal requirements for operating mobile self-propelled machines or lifting equipment, and can help prevent serious accidents.</p>
            <ul><li>« Expert machine driver-operator » series :</a></li>
                <li><a href="/assets/formations/CACES_R372m_engins_de_chantiers.pdf" target="_blank">Driver-operator proficiency and/or CACES® R372m: construction equipment (fr)</a></li>
                <li><a href="/assets/formations/Programme_CACES_Recyclage_R383m_2_jours.pdf" target="_blank">Driver-operator proficiency and/or CACES® R383m: mobile cranes (fr)</a></li>
                <li><a href="/assets/formations/CACES_R386_Plateformes_Elévatrices_Mobiles_de_Personnes.pdf" target="_blank">Driver-operator proficiency and/or CACES® R386: mobile elevating work platforms (fr)</a></li>
                <li><a href="/assets/formations/CACES_R389_chariots_a_conducteur_portes.pdf" target="_blank">Driver-operator proficiency and/or CACES® R389: ride-on machines (fr)</a></li>
                <li><a href="/assets/formations/CACES_R390_grues auxiliaires.pdf" target="_blank">Driver-operator proficiency and/or CACES® R390: auxiliary cranes (fr)</a></li>
                <li><a href="/assets/formations/Formation_R423_pontier_elingueur.pdf" target="_blank">Gantry crane driver-operator R423</a></li></ul>
            <div class="clearfix">
            <img class="right is-one-third" src="/assets/images_pages_entites/poisson-formation-poste-livraison.png" alt="Electrical installation">
            <h3 class="title is-size-4 is-bold">Electrical installation</h3>
            <p class="text is-size-2">Correct and up-to-date qualifications are essential when working on or around electrical installations. Poisson Formation offers the following training programmes for electrical qualifications:  
            </p>
            <ul><li><a href="/assets/formations/Preparation_a_l_habilitation_electrique_non_electricien_BO_HO_HOV.pdf" target="_blank">Electrical accreditation BO HO HO HOV for non-electricians : site worker and site manager (fr)</a></li>
                <li><a href="/assets/formations/Preparation_a_l_habilitation_electrique.pdf" target="_blank">Electrical accreditation BS / BE for non-electricians : labourer (fr)</a></li>
                <li><a href="/assets/formations/Preparation_a_l_habilitation_electrique_electricien.pdf" target="_blank">Electrical accreditation B1V / B2V / BR / BC - H1V / H2V / HC (fr)</a></li>
                <li><a href="/assets/formations/Preparation_a_l_habilitation_electrique_véhicules_engins.pdf" target="_blank">Electrical accreditation B1VL / B2VL / BRL / BCL / B0VL / B1XL / B2XL for electric vehicles / machines (fr)</a></li></ul>
            </div>
            <h3 class="title is-size-4 is-bold">Safety and accident prevention</h3>
            <p class="text is-size-2">Poisson Formation provides training courses for safety and accident prevention in the workplace or on construction sites (OHS, fire, movements and postures) :  
            </p>
            <ul>
              <li><a href="/assets/formations/Programme_signalisation_balisage_chantiers_temporaires.pdf" target="_blank">Security warning panel requirements on sites (fr)</a></li>
              <li><a href="/assets/formations/Programme_EPI.pdf" target="_blank">Importance of wearing Personal Protection Equipment (PPE) (fr)</a></li>
              <li><a href="/assets/formations/Programme_echafaudages_poses_2_jours.pdf" target="_blank">Installation of scaffolding in accordance with R408 (fr)</a></li>
              <li><a href="/assets/formations/Programme_echafaudage_roulant_1_jour.pdf" target="_blank">Installation of mobile scaffolding in accordance with R457 (fr)</a></li>
              <li><a href="/assets/formations/Programme_SST_initial_et_recyclage.pdf" target="_blank">Occupational first-aid certificate (fr)</a></li>
              <li><a href="/assets/formations/Gestes_et_Postures.pdf">Movements and postures in the workplace (fr)</a></li>
              <li><a href="/assets/formations/Programme_ESI.pdf" target="_blank">Fire (primary intervention team members, emergency evacuation procedures...) (fr)</a></li>
            </ul>
            <h3 class="title is-size-4 is-bold">Industrial railway siding line operations</h3>
            <p class="text is-size-2">The aim of this training course is to confirm the trainee in his job, whether relating to shunting, switch operating, engine driving, freight wagon coupling, or any other locomotive operations.
            </p>
            <ul>
              <li><a href="/assets/formations/Programme_Embranchements_Ferroviaire_initiale_4_jours.pdf" target="_blank">Industrical railway siding operations – initial training – 4 days (fr)</a></li>
              <li><a href="/assets/formations/Programme_Embranchements_Ferroviaire_Recyclage_2_jours.pdf" target="_blank">Industrial railway siding operations – review – 2 days (fr)</a></li>
            </ul>
            <div class="clearfix">
            <img class="left is-one-third" src="/assets/images_pages_entites/poisson-formation-elevateur.jpg" alt="formation conduite d engins">
            <p class="text is-size-2">The Poisson Formation instructors are all highly experienced in their particular fields. Expertise in their respective professions, and knowledge of and familiarity with the associated machines and equipment enable them to guide and assist throughout the training period. They are attentive to the needs of the trainees, advising and giving useful tips at the same time as the essential theoretical and practical training.</p>
            </div>
            <div class="clearfix">
             <img class="left is-one-third" src="/assets/images_pages_entites/poisson-formation-caces.jpg" alt="formations caces entrerises engins">
             <p class="text is-size-2">Depending on requirements and constraints, the training courses can take place either at the workplace or in one of the Poisson Formation training centres.</p>
              <p class="text is-size-2">Poisson Formation has a very large fleet of machines which enables its instructors to carry out their training sessions directly on the various types of equipment concerned. </p>
            </div>
          </div>
          <div class="item-3 entite__atout">
            <img src="/assets/atouts_entites_en/atouts-poisson-formation-2018-en.png" alt="advantages poisson formation groupe poisson">
          </div>
        </div>
      </div>
    </section>

    
<section class="blue3-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-10 text-box">
            <h2 class="title is-size-2 is-bold">AIPR (Accreditation for Intervention in the Proximity of Networks)</h2>
            <br>
            <p class="text is-size-2">Poisson Formation is certified as an A.I.P.R. examination centre by the French Ministry of the Environment, Energy and the Sea.
            </p>
            <p class="text is-size-2">The AIPR accreditation is a regulatory obligation under article 22 of the decree dated 15 February 2012, amended for the carrying out of works in the vicinity of certain underground, overhead or underwater transportation or distribution networks.</p>
            <p class="text is-size-2">Since 1 January 2018 employees are obliged to hold an AIPR accreditation, which is issued by the employer after he is satisfied that the worker has acquired the necessary skills, validated by a multiple choix type exam.</p>
            <p class="text is-size-2"><strong>Period of validity :</strong> 5 years</p>
            <p class="text is-size-2"><strong>Those concerned : driver-operators,</strong> Those concerned: driver-operators,</p>
          </div>
        </div>
      </div>
    </section>


    <section class="blue4-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/poisson-formation-2.jpg" alt="formation théorique entreprise obligatoire">
          </div>
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Testimonial</h2>
            <br>
            <p class="text is-size-2">For 5 years now our trainees have been unanimous about the high standard of the instructors working in Poisson Formation! They are truly knowledgable about their professions and the equipment used, both of which are essential prerequisites for quality training, but they are also very attentive and patient with the trainees.</p>
            <p class="text is-size-2 is-bold">Elisabeth ANTOMARCHI, Manager in charge of training at SEMANAZ</p>
          </div>
        </div>
      </div>
    </section>




    
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row white-box">
          <div class="item-4 text-box">
            <h2 class="title is-size-2 is-bold">Offices</h2>
            <br>
            <p class="text is-size-2">There are four Poisson Formation centres: <br>
<strong>Gretz-Armainvilliers</strong>, in the Paris region<br>
<strong>Grand-Fougeray</strong>, between Rennes and Nantes<br>
<strong>Roquemaure</strong>, close to Avignon<br>
<strong>Brillon</strong>, in the Nord department, on the Belgian border<br>
            </p>
          </div>
          <div class="item-4 image-box">
            <img src="/assets/cartes/implantation-poisson-formation.png" alt="implantation poisson formation gretz-armainvilliers 77">
          </div>
          <div class="item-4 entite__address">
            {{>components/address site="poisson-formation" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button gp-button--gray" href="/en/contact-us.html?contact=Poisson Formation#contact">Contact Poisson Formation</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {{!--<section class="blue3-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">A la une</h2>
            <h5 class="title is-size-3 is-bold">La DiRIF a bénéficié d'un programme de formation clé-en-main </h5>
            <p class="text is-size-2">
             L'établissement public DiRIF (Direction des Routes IDF), chargé de l'entretien des routes nationales et des autoroutes non-payantes en Ile-de-France, a fait appel à Poisson Formation pour former 14 de ses agents. Ceux-ci ont bénéficié du protocole de formation sur-mesure mis en place par l'organisme.
            </p>
            <div class="text-box__buttons">
              <a href="/en/actualites/0081/la-dirif-a-beneficie-d-un-programme-de-formation-cle-en-main.html" class="gp-button gp-button--gray">Lire la suite</a>
            </div>
          </div>
          <div class="item-fill"></div>
          <div class="item-4 download-box">
            <img src="/assets/plaquettes/poisson-formation-plaquette.png" alt="plaquette poisson formation">
            <div>
              <a href="/assets/plaquettes/poisson-formation-plaquette.pdf" class="gp-button gp-button--gray" target="_blank">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>--}}



      
  {{/inline}}
{{/layouts/base}}