{{!-- pages/page-one.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Groupe Poisson - Rentals Division" description="The Rentals division of the Poisson Group is made up of Morel, Select Civil and Terre-net."}}

  {{#*inline "breadcrumb-block"}}
      <li><a href="#">Rentals Division</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="parallax well-1" data-url="/assets/parallaxe/morel-terrassement.jpg" alt="pole location groupe poisson" data-mobile="true" data-speed="0.3">
        <div class="container text-center wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10" style="height:20em;">
              <h1 style="padding-top: 5em;text-shadow: 0 0 40px rgba(0, 0, 0, .9), 0 0 7px rgba(0, 0, 0, .7);">
              </h1>
            </div>
          </div>
        </div>
      </section>
    
    <section class="well-2 pole__title-section pole__title-section--location">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row flex-row--centered">
          <div class="item-10">
            <h1 class="title is-size-1 is-black">
              <img src="/assets/pictos_poles/Picto-location.png" alt="picto location pole groupe poisson" class="pole__picto-pole">Rentals
            </h1>

            <p class="text is-size-2 text-center">
              The Rentals division of Groupe Poisson is made up of Morel, Select Civil and Terre-net. These companies, with a combined fleet of over 800 machines, can provide all types of machine, from mini excavators to 60t landfill compactors, available with or without driver-operator. They also offer a wide and varied choice of specific accessories and customised equipment. The three companies together offer formidable possibilities for the success of construction sites in France and other countries.  
            </p>
          </div>
        </div>
      </div>
    </section>

      
    <section class="well-2 pole__subsidiaries-section pole__subsidiaries-section--location">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row flex-row--centered">
          <div class="item-10">
            <h2 class="title is-size-2 is-bold">The companies in the Rentals Division</h2>
          </div>
        </div>
        <div class="flex-row">
          <div class="item-4">
            <img src="/assets/logos/morel.jpg" alt="logo morel">
            <p class="text is-size-2">
              Since 1970, Morel has been renting out machines with driver-operator for use anywhere in France. Its expertise and success are built on a varied fleet of machines, upgraded on a regular basis, which...
            </p>
            </br>
            <a class="gp-button gp-button--green" href="/en/morel">Discover Morel</a>
          </div>
          <div class="item-4">
            <img src="/assets/logos/select_civil.jpg" alt="logo select civil">
            <p class="text is-size-2">
              Select Civil is recognised as a long term provider of Dry hire solutions to various industries, as well as being able to provide experienced Wet hire solutions in deep excavations (Long reach).
            </p>
            </br>
            <a class="gp-button gp-button--green" href="http://www.selectcivil.com.au/" target="_blank">Discover Select Civil</a>
          </div>
          <div class="item-4">
            <img src="/assets/logos/terre_net.jpg" alt="logo terre-net">
            <p class="text is-size-2">
              Terre-net Groupe Poisson, with more than 40 years of solid experience, provides short, medium and long-term rental of equipment on Full Service conditions for the waste management, public works and...
            </p>
            </br>
            <a class="gp-button gp-button--green" href="/en/terre-net">Discover Terre-net</a>
          </div>
        </div>
      </div>
    </section>


      
  {{/inline}}
{{/layouts/base}}