{{!-- pages/page-one.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Groupe Poisson - Services Division" description="The extremely diverse companies within the Services division of the Poisson Group offer a wide range of services and products,  from  specialised temporary staff, training, road haulage..."}}

  {{#*inline "breadcrumb-block"}}
      <li><a href="#">Services Division</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="parallax well-1" data-url="/assets/parallaxe/transport.jpg" alt="pole location groupe poisson" data-mobile="true" data-speed="0.3">
        <div class="container text-center wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10" style="height:20em;">
              <h1 style="padding-top: 5em;text-shadow: 0 0 40px rgba(0, 0, 0, .9), 0 0 7px rgba(0, 0, 0, .7);">
              </h1>
            </div>
          </div>
        </div>
      </section>
    
    <section class="well-2 pole__title-section pole__title-section--services">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row flex-row--centered">
          <div class="item-10">
            <h1 class="title is-size-1 is-black">
              <img src="/assets/pictos_poles/Picto-services.png" class="pole__picto-pole"> Services
            </h1>

            <p class="text is-size-2">
              The extremely diverse companies within the Services division of Groupe Poisson offer a wide range of services and products, from  specialised temporary staff, training, road haulage, trade and refurbishment of modular buildings and containers, sale of second-hand machinery, through to material recycling. Akela Intérim, Brein Transports, Maintenance Service, Marcel Equipment Limited, Poisson Formation, SNDM and Terre-durable provide customised services in many and varied activities to ensure the success of their clients’ projects.
            </p>
          </div>
        </div>
      </div>
    </section>

      
    <section class="well-2 pole__subsidiaries-section pole__subsidiaries-section--services">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row flex-row--centered">
          <div class="item-10">
            <h2 class="title is-size-2 is-bold">The companies in the Services Division</h2>
          </div>
        </div>
        <div class="flex-row">
          <div class="item-4">
            <img src="/assets/logos/akela.jpg">
            <p class="text is-size-2">
              Akela Intérim, a temporary employment agency opened in 2000, specialising in skilled staff for the construction and environmental sectors, has become a key player for clients working in these sectors...
            </p><br>
            <a class="gp-button gp-button--blue" href="/en/akela-interim">Discover Akela Intérim</a>
          </div>
          <div class="item-4">
            <img src="/assets/logos/akela-consulting.jpg">
            <p class="text is-size-2">
              Akela Consulting specialises in the recruitment and placement on permanent contracts of high-potential candidates by favouring a direct approach. The agency can provide highly personalised recruitment...
            </p><br>
            <a class="gp-button gp-button--blue" href="/en/akela-consulting">Discover Akela Consulting</a>
          </div>
          <div class="item-4">
            <img src="/assets/logos/brein_transports.jpg">
            <p class="text is-size-2">
              Created in 1970 by René Brein, and taken over in 2009 by Groupe Poisson, Brein Transports is highly specialised in road haulage of non-divisible loads, any weight, any dimension, for the public works...
            </p><br>
            <a class="gp-button gp-button--blue" href="/en/brein-transports">Discover Brein Transports</a>
          </div>
        </div>

        <div class="flex-row">
          <div class="item-4">
            <img src="/assets/logos/maintenance_service.jpg">
            <p class="text is-size-2">
              Maintenance Service has been specialising for more than 30 years in the sale, maintenance, relocation and fitting out of modular buildings. New, refurbished or second-hand - modular buildings can provide...
            </p><br>
            <a class="gp-button gp-button--blue" href="/en/maintenance-service">Discover Maintenance Service</a>
          </div>
          <div class="item-4">
            <img src="/assets/logos/poisson_formation.jpg">
            <p class="text is-size-2">
              Poisson Formation offers a wide range of short and medium-term training courses for the professions in the construction, public services and industry sectors. These training courses are intended for both...
            </p><br>
            <a class="gp-button gp-button--blue" href="/en/poisson-formation">Discover Poisson Formation</a>
          </div>
          <div class="item-4">
            <img src="/assets/logos/sndm.jpg">
            <p class="text is-size-2">
              SNDM specialises in selling, modifying and converting new, once-used and second-hand containers. To satisfy the varied requirements of its clients, SNDM can offer a wide range of customised...
            </p><br>
            <a class="gp-button gp-button--blue" href="/en/sndm">Discover SNDM</a>
          </div>
        </div>

        <div class="flex-row flex-row--centered">
          <div class="item-4">
            <img src="/assets/logos/terre_durable.jpg">
            <p class="text is-size-2">
              Terre-durable has been trading in recycled materials since 2012 in south-eastern France, specialising in the recycling of inert waste. In a two-way process, construction and natural waste materials...
            </p><br>
            <a class="gp-button gp-button--blue" href="/en/terre-durable">Discover Terre-durable</a>
          </div>
          <div class="item-4">
            <img src="/assets/logos/Logo_MEL.jpg">
            <p class="text is-size-2">
              A global construction equipment rebuilder that has supplied reconditioned and work ready landfill compactors, earthmoving and construction equipmennt sinc 1976.
            </p><br>
            <a class="gp-button gp-button--blue" href="https://www.marcelequipment.com/" target="_blank">Discover Marcel Equipment Ltd</a>
          </div>
        </div>
      </div>
    </section>



      
  {{/inline}}
{{/layouts/base}}