{{!-- pages/sndm.hbs --}}

{{#> layouts/base menu="nos-metiers" title="SNDM – Sale and conversion of maritime and storage containers" description="" }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/en/services">Services Division</a></li>
      <li><a href="#">SNDM</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="blue-box">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row">
          <div class="item-3">
            <img src="/assets/pictos_poles/picto-services-blanc.png" alt="picto services groupe poisson" class="entite__picto-pole">
          </div>
          <div class="item-9">
            <h1 class="title is-size-1 is-black">
            SNDM
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Sale and conversion of maritime and storage containers</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
          <div class="item-9 content">
            <div class="clearfix">
              <img class="left is-one-third" src="/assets/images_pages_entites/sndm-container-standard.jpg" alt="sndm achat vente container standard">
              <p class="text is-size-2">SNDM specialises in selling, modifying and converting new, once-used and second-hand containers. To satisfy the varied requirements of its clients, SNDM can offer a wide range of customised containers: standard, special and converted containers.
              </p>
            </div>
            <div class="clearfix">
            <img class="right is-one-third" src="/assets/images_pages_entites/sndm-container.jpg" alt="sndm achat container">
            <h3 class="title is-size-4 is-bold">Standard containers</h3>
            <p class="text is-size-2">The standard containers, available in a wide choice of sizes and colours, enable you to store all your valuable goods and materials in a safe place, protected from theft and adverse weather conditions. They are equipped with padlock protection as a standard feature, but also with security locks to further reduce the risk of burglary.</p>
            </div>
            <p class="text is-size-2">Standard containers are equipped with:</p>
             <ul>
              <li>a double door on the front panel with 2 or 4 security bars,</li>
              <li>4 attachment points for lifting purposes in the upper part,</li>
              <li>2 forklift truck handling sheathes,</li>
              <li>a wooden or steel floor.</li>
            </ul>
            <div class="clearfix">
             <img class="right is-one-third" src="/assets/images_pages_entites/sndm-conteneur-speciaux.jpg" alt="sndm achat vente conteneur speciaux">
            <h3 class="title is-size-4 is-bold">Special containers</h3>
            <p class="text is-size-2">To meet more specific needs, SNDM can provide containers with special openings and particular volumes that can be adapted to your needs:  
            </p>
             <ul>
              <li>Open Top/Open Hard Top (with removable roof),</li>
              <li>Half Height,</li>
              <li>Double door (door at each end),</li>
              <li>Openside (lateral opening),</li>
              <li>Tank,</li>
              <li>Flat (floor with end walls),</li>
              <li>Refrigerated and isothermal ...</li>
            </ul>
            </div>
            <div class="clearfix">
            <img class="right is-one-third" src="/assets/images_pages_entites/sndm-conteneur-amenages.jpg" alt="converted containers">
            <h3 class="title is-size-4 is-bold">Converted containers</h3>
            <p class="text is-size-2">SNDM can customise containers to suit any application by installing doors and windows, insulation, electric circuits and socket outlets, and air conditioning, and by adding an Ampli-roll cradle to make it easier to transport the container.   
            </p>
            </div>
            <div class="clearfix">
             <img class="left is-one-third" src="/assets/images_pages_entites/sndm-conteneur-amenagement.jpg" alt="amanagement de container de stockage">
            <p class="text is-size-2">SNDM can also convert the containers into offices, housing, mobile workshops, phytosanitary facilities, storage or tool rooms. The containers can also be put together to create larger interior spaces.
            </p>
            </div>
            <p class="text is-size-2">All the containers available have a robust structure and good corrosion protection which gives them a long service life, making them safe shelters for storing or transporting goods, but also for working or living.</p>
            <p class="text is-size-2">A flexible approach to complex requirements is the key to SNDM's business, and its staff can advise and assist you in finding the solution that best meets your needs. The company holds a large stock to ensure permanent availability of products. </p>
          </div>
          <div class="item-3 entite__atout">
            <img src="/assets/atouts_entites_en/atouts-sndm-en.png" alt="advantages sndm groupe poisson">
          </div>
        </div>
      </div>
    </section>
    
    <section class="blue2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Focus - Storage space with retention tank</h2>
            <br>
            <p class="text is-size-2">Storage space with retention tank: SNDM can supply containers with a retention tank incorporated into the thickness of the bottom part of the frame, covered by a galvanized mesh floor. Liquid products (depending on their composition) can be stored in a safe place, at the same time protecting the environment from accidental spillage.</p>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/sndm-bac-retention.jpg" alt="bac de retention container">
          </div>
        </div>
      </div>
    </section>




    
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row white-box">
          <div class="item-4 text-box">
            <h2 class="title is-size-2 is-bold">Offices</h2>
            <br>
            <p class="text is-size-2">SNDM is based in Gretz-Armainvilliers, Seine-et-Marne (77) and works anywhere in France.
            </p>
          </div>
          <div class="item-4 image-box">
            <img src="/assets/cartes/implantation-sndm.png" alt="implantation sndm gretz-armainvilliers 77">
          </div>
          <div class="item-4 entite__address">
            {{>components/address site="sndm" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button gp-button--gray" href="/en/contact-us.html?contact=SNDM#contact">Contact SNDM</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {{!--<section class="blue3-box">
      <div class="container">
        <div class="flex-row">
          <div class="item-7 wow fadeIn text-box">
            <h2 class="title is-size-2 is-bold">A la une</h2>
            <h5 class="title is-size-3 is-bold">Belle année 2018 !</h5>
            <p class="text is-size-2">
              Toute l'équipe du Groupe Poisson vous présente ses meilleurs voeux !
            </p>
            <div class="text-box__buttons">
              <a href="/en/actualites/0072/belle-annee-2018.html" class="gp-button gp-button--gray">Lire la suite</a>
            </div>
          </div>
          <div class="item-fill"></div>
          <div class="item-4 wow fadeIn download-box" data-wow-delay="0.5s">
            <img src="/assets/plaquettes/groupe-poisson-plaquette.jpg" alt="plaquette sndm groupe poisson">
            <div>
              <a href="/assets/plaquettes/groupe-poisson-plaquette.pdf" target="_blank" class="gp-button gp-button--gray">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>--}}



      
  {{/inline}}
{{/layouts/base}}