{{!-- pages/terre-durable.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Terre-durable - Recycling of inert materials and sale of bulk materials" description="" }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/en/services">Services Division</a></li>
      <li><a href="#">Terre-durable</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="blue-box">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row">
          <div class="item-3">
            <img src="/assets/pictos_poles/picto-services-blanc.png" alt="picto services groupe poisson" class="entite__picto-pole">
          </div>
          <div class="item-9">
            <h1 class="title is-size-1 is-black">
            Terre-durable
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Recycling of inert materials, sale of bulk materials and rental of skips</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
          <div class="item-9 content">
            <div class="clearfix"><img class="right is-one-third" src="/assets/images_pages_entites/terre-durable-gravas.jpg" alt="terre durable gravas">
            <p class="text is-size-2">Terre-durable has been trading in recycled materials since 2012 in south-eastern France, specialising in the recycling of inert waste. In a two-way process, construction and natural waste materials for recycling can be dropped off at one of the company’s sites, and the raw materials necessary for future sites can be purchased and taken away immediately.
            </p>
            </div>
            <div class="clearfix">
            <img class="left is-one-third" src="/assets/images_pages_entites/terre-durable-materiaux-recycles.jpg" alt="réception de materiaux recyclés">
            <h3 class="title is-size-4 is-bold">Materials accepted for recycling</h3>
            <p class="text is-size-2">Terre-durable contributes to the efficient waste management of its clients by taking in construction waste from dismantling and demolition operations (concrete, roads and their foundation layers, tiling, roof tiles, etc.), and natural materials including rocks and soil.</p>
            </div>
            <div class="clearfix">
            <img class="left is-one-third" src="/assets/images_pages_entites/terre-durable-service.jpg" alt="valorisation de déchets">
            <h3 class="title is-size-4 is-bold">Sale of recycled materials</h3>
            <p class="text is-size-2">Materials processed and recycled using crushing and screening techniques are available on all four sites, providing homogeneous products, produced from quality primary raw materials. Terre-durable is ISO 9001 certified, and offers recycled materials that comply with current standards and that can meet the needs of construction sites.  
            </p>
            </div>
            <h3 class="title is-size-4 is-bold">Other services</h3>
            <p class="text is-size-2">Terre-durable can provide machines and equipment to rent, including skips (7m3 and 15m3) and construction machines (excavators, loaders, dump trucks, dozers, etc.). Waste collection services (inert waste, CIW and wood) and delivery of materials are also part of the services on offer.  
            </p>
            <p class="text is-size-2">Terre-durable services are available for all types of client: private individuals, professionals and industrial companies. The staff, dedicated to assisting and advising their clients, are readily available on each of the four recycling sites, but they can also visit sites to give assistance in finding the best solutions for specific requirements.
            </p>
            <p class="text is-size-2">More information on <a href="http://www.terre-durable.fr/" target="_blank">Terre-durable.</a></p>
          </div>
          <div class="item-3 entite__atout">
            <img src="/assets/atouts_entites_en/atouts-terre-durable-en.png" alt="atouts terre-durable">
          </div>
        </div>
      </div>
    </section>
    
    <section class="blue2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Commitments</h2>
            <br>
            <p style="text-align:center" class="text is-size-1">Product quality</p>
            <p style="text-align:center" class="text is-size-1">Compliance with standards and specifications</p>
            <p style="text-align:center" class="text is-size-1">Respect for deadlines</p>
            <p style="text-align:center" class="text is-size-1">Thoroughness and quality control</p>
            <p style="text-align:center" class="text is-size-1">Assistance and advice</p>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/terre-durable-recyclage.jpg" alt="recyclage gard">
          </div>
        </div>
      </div>
    </section>




    
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row white-box">
          <div class="item-4 text-box">
            <h2 class="title is-size-2 is-bold">Offices</h2>
            <br>
            <p class="text is-size-2">Terre-durable has recycling facilities on four different sites:
            </p>
             <p class="text is-size-2"><strong>Bollène :</strong><br>
             ZI La Croisière - 84500 BOLLENE
             </p>
             <p class="text is-size-2"><strong>Nîmes :</strong><br>
             Ancienne route d'Avignon <br>
             Lieu-dit "Grezan" - 30972 NIMES
             </p>
             <p class="text is-size-2"><strong>Taarascon :</strong><br>
             ZA Les Rarouds - 13150 TARASCON
             </p>
             <p class="text is-size-2"><strong>Pujaut :</strong><br>
             RN26 - quartier de la Grave - 30131 PUJAUT
             </p>

          </div>
          <div class="item-4 image-box">
            <img src="/assets/cartes/implantation-terre-durable.png" alt="implantation terre-durable bollene nimes tarascon pujaut">
          </div>
          <div class="item-4 entite__address">
            {{>components/address site="terre-durable" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button gp-button--gray" href="/en/contact-us.html?contact=Terre-durable#contact">Contact Terre-durable</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    {{!--<section class="blue3-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">A la une</h2>
            <h5 class="title is-size-3 is-bold">De futurs jeunes apprentis découvrent le site de Pujaut !</h5>
            <p class="text is-size-2">
              Le 17 octobre dernier, l'entreprise a ouvert ses portes aux jeunes intéressés par le CAP Opérateur Industries du Recyclage.
            </p>
            <div class="text-box__buttons">
              <a href="/en/actualites/0049/de-futurs-jeunes-apprentis-decouvrent-le-site-de-pujaut.html" class="gp-button gp-button--gray">Lire la suite</a>
            </div>
          </div>
          <div class="item-fill"></div>
          <div class="item-4 download-box">
            <img src="/assets/plaquettes/terre-durable-plaquette.png" alt="plaquette terre-durable groupe poisson">
            <div>
              <a href="/assets/plaquettes/terre-durable-plaquette.pdf" class="gp-button gp-button--gray" target="_blank">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>--}}



      
  {{/inline}}
{{/layouts/base}}