{{!-- pages/terre-net.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Terre-net – Full Service rental of construction equipment and bulk material handling equipment " descriptions="" }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/en/location">Rentals Division</a></li>
      <li><a href="#">Terre-net</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="green-box">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row">
          <div class="item-3">
            <img src="/assets/pictos_poles/picto-location-blanc.png" alt="picto location groupe poisson" class="entite__picto-pole">
          </div>
          <div class="item-9">
            <h1 class="title is-size-1 is-black">
              Terre-net
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Full Service rental of construction equipment<br>
                and bulk material handling equipment</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
           <div class="item-9 content">
            <div class="clearfix">
            <img class="left is-one-third" src="/assets/images_pages_entites/terre-net-grappin.jpg" alt="terre-net grappin">
            <p class="text is-size-2">Terre-net Groupe Poisson, with more than 40 years of solid experience, provides short, medium and long-term rental of equipment on Full Service conditions for the waste management, public works and industrial sectors. The company operates on more than 150 classified sites in France, and has a wide range of equipment and accessories to satisfy even the most specialised requirements.
            </p>
            </div>
            <h3 class="title is-size-4 is-bold">Full Service rental</h3>
            <p class="text is-size-2">So that its clients can obtain the very best returns in terms of efficiency and productivity, Terre-net Groupe Poisson rents its machines and equipment on a « Full Service » basis. This complete service includes the delivery on site and commissioning of the equipment, and the labour and spare parts for maintenance. Consumables such as oils and filters are also included. Terre-net Groupe Poisson staff carry out all operations under the Full Service agreement. In the event of a breakdown, Terre-net will establish on site a breakdown diagnosis for the client within 8 working hours. Either the machine concerned is repaired on site or a replacement machine is provided as soon as possible. 
            </p>
            <p class="text is-size-2">This service can be extended to « Optimal Full Service » conditions, which include the maintenance of high-wear items such as those in contact with the ground, and the running gear.
            </p>
            <p>Terre-net Groupe Poisson guarantees a 95 % in-service time, on-site operations and part replacement within a contractual time-limit. The contract ensures that the value of the machine is not subject to re-consolidation under IFRS accounting standards. 
            </p>
            <div class="clearfix">
            <img class="right is-one-third" src="/assets/images_pages_entites/terre-net-chargeur.jpg" alt="terre-net full service location">
            <h3 class="title is-size-4 is-bold">Machines and equipment available for rental </h3>
            <p class="text is-size-2"><strong>Environmental Sector :</strong>
            <ul><li>landfill compactors from 20T to 60T</li>
            <li>15T and 20T track loaders</li>
            <li>hydraulic wheel excavators and crawler excavators from 8T to 45T</li>
            <li>wheel loaders from 5T to 25T</li>
            <li>dozers from 20T to 30T</li>
            <li>articulated dumpers from 25T to 40TT</li></ul>
            </p>
            </div>
            <p class="text is-size-2"><strong>Civil works and industrial sectors:</strong>
            <ul><li>wheel loaders from 5T to 50T</li>
            <li>hydraulic wheel excavators and crawler excavators from 8T to 50T</li>
            <li>dozers from 20T to 50T</li>
            <li>articulated trucks and dumpers from 25T to 60T</li>
            <li>screening and grinding equipment</li></ul>
            </p>
            <p class="text is-size-2"><strong>Specific equipment and accessories: </strong>
            grapples, sorting grabs, grab buckets, buckets of varying types (high-dump, grapple, breakout digging, screening...), long reach booms, onboard weighing systems, operator cab high-efficiency filtration systems, human/material presence detectors...</p>
             <div class="clearfix">
            <img class="left is-one-third" src="/assets/images_pages_entites/terre-net-materiel.jpg" alt="terre-net location engins">
            <h3 class="title is-size-4 is-bold">Sale of second-hand equipment </h3>
            <p class="text is-size-2">Terre-net Groupe Poisson also offers for sale various second-hand items of equipment, after revising and rebuilding them in its workshops: known as « rebuilt ».
            </p>
            <p class="text is-size-2">Its dynamic and responsive team can advise clients and find solutions for specific requirements. Its technicians are fully competent and totally autonomous, and are equipped with well-fitted workshop vehicles. Aware of its responsibilities, Terre-net Groupe Poisson carries out its activities with every respect for the people and their safety, and their environment.  
            </p>
            </div>
          </div>

          <div class="item-3 entite__atout">
            <img src="/assets/atouts_entites_en/atouts-terre-net-en.png" alt="atouts terre-net">
          </div>
        </div>
      </div>
    </section>
    
    <section class="green4-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12">
            <h3 class="title is-size-2 is-bold">Clients </h3><br>
            <p class="text is-size-2">AGGLO DU PAYS DE DREUX • ATLAS FONDATIONS • CABEM (Communauté d'Agglomération de Béziers Méditerranée) • COBAS (Communauté d'Agglomération du Bassin d'Arcachon Sud) • COVED • CREUZOT MONTCEAU RECYCLAGE • ES Service • Groupe ROULLIER • Groupe SEMARDEL • HAGANIS • IKOS Environnement • LAFARGE • MAMP (Métropole Aix Marseille Provence) • PAPREC • PAYS LOUDUNAIS (Communauté d'Agglomération du Pays Loudunais) • PIZZORNO Environnement • PLAINE COMMUNE • SECHE ECO INDUSTRIES • SEPUR • SMET71 • SOUFFLET AGRICULTURE • SUEZ • SYNDICAT MIXTE BIL TA GARBI • TRIGONE • TRISELEC • UPM FRANCE • URBASER Environnement • VALOR'AISNE • VALORIZON  • VEOLIA PROPRETE • YPREMA
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="green2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Focus</h2>
            <h4 class="title is-size-4 is-bold">Assistance and breakdown service</h4>
            <p class="text is-size-2">The Terre-net Groupe Poisson technical support service provides on-site assistance to carry out preventive maintenance and breakdown repairs. Its teams of qualified mechanics are located throughout France and are equipped with well-fitted workshop vehicles. </p>
            <h4 class="title is-size-4 is-bold">Centralised maintenance service</h4>
            <p class="text is-size-2">In the event of a breakdown, the centralised maintenance service establishes a planning to carry out repairs or replace the equipment, in accordance with contractual deadlines and terms.</p>
            <h4 class="title is-size-4 is-bold">Permanent in-house workshops</h4>
            <p class="text is-size-2">Under the supervision of the Centralised Maintenance Service, staff working in 3000 m² of workshops undertake heavy maintenance and refurbishing operations.</p>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/terre-net-maintenance.jpg" alt="terre-net assistance depannage maintenance engins">
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row white-box">
          <div class="item-4 text-box">
            <h2 class="title is-size-2 is-bold">Offices</h2>
            <br>
            <p class="text is-size-2">The head office of Terre-net Groupe Poisson is located in Gretz-Armainvilliers, Seine-et-Marne (77). The group has four branches in France.
            </p>
          </div>
          <div class="item-4 image-box">
            <img src="/assets/cartes/implantation-terre-net.png" alt="implantation terre-net">
          </div>
          <div class="item-4 entite__address">
            {{>components/address site="terre-net" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button" href="/en/nous-contacter.html?contact=Terre-net#contact">Contact Terre-net Groupe Poisson</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12">
            <h3 class="title is-size-2 is-bold">4 agencies</h3>
          </div>
        </div>
        <br>
        <div class="flex-row flex-row--centered">
          <div class="item-4 text-left">
            {{>components/address site="gretz"}}
          </div>
          <div class="item-4 text-right--desktop">
            {{>components/address site="brillon"}}
          </div>
        </div>
        <div class="flex-row flex-row--centered">
          <div class="item-4 text-left">
            {{>components/address site="roquemaure"}}
          </div>
          <div class="item-4 text-right--desktop">
            {{>components/address site="grand-fougeray"}}
          </div>
        </div>
      </div>
    </section>


    {{!--<section class="green3-box">
      <div class="container">
        <div class="flex-row">
          <div class="item-7 wow fadeIn text-box">
            <h2 class="title is-size-2 is-bold">A la Une</h2>
            <h5 class="title is-size-3 is-bold">Notre nouvelle Pelle FUCHS (40 T)</h5>
            <p class="text is-size-2">Découvrez notre nouvelle Pelle FUCHS TYPE 350HD dernière génération et la première à être vendue en France. Mise en oeuvre en location Full-service par Terre-net Groupe Poisson, pour le compte d'une filiale de EDF, cette pelle industrie de 40 Tonnes, robuste et efficace, a pour mission principale d'alimenter le broyeur de la chaufferie.</p>
            <div class="text-box__buttons">
              <a href="/en/actualites/0063/notre-nouvelle-pelle-fuchs-40-t.html" class="gp-button gp-button--gray">Lire la suite</a>
            </div>
          </div>
          <div class="item-fill"></div>
          <div class="item-4 wow fadeIn download-box" data-wow-delay="0.5s">
            <img src="/assets/plaquettes/groupe-poisson-plaquette.jpg" alt="plaquette groupe poisson terre-net">
            <div>
              <a href="/assets/plaquettes/groupe-poisson-plaquette.pdf" target="_blank" class="gp-button gp-button--gray">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>--}}



      
  {{/inline}}
{{/layouts/base}}