{{!-- pages/the-group.hbs --}}

{{#> layouts/base menu="le-groupe" title="Groupe Poisson" description="Groupe Poisson has developed a wide range of activities and services to satisfy the needs of the industrial, construction and environmental sectors." }}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">The Group</a></li>
  {{/inline}}

  {{#*inline "main-block"}}

<section class="parallax well-1" data-url="/assets/parallaxe/recyclage.jpg" data-mobile="true" data-speed="0.3">
  <div class="container text-center wow fadeInUp">
    <div class="flex-row flex-row--centered">
      <div class="item-10" style="height:20em;">
        <h1 style="padding-top: 5em;text-shadow: 0 0 40px rgba(0, 0, 0, .9), 0 0 7px rgba(0, 0, 0, .7);">
        </h1>
      </div>
    </div>
  </div>
</section>

<section id="qui-sommes-nous" class="gray1-box">
  <div class="container text-center wow fadeInUp">
    <div class="flex-row">
      <div class="item-12">
        <h1 class="title is-size-2 is-bold">
          Groupe Poisson
        </h1>
        <br>
        <p class="text is-size-2">
          Groupe Poisson has developed a wide range of activities and services to satisfy the needs of the industrial, construction and environmental sectors. These activities include renting and maintaining construction equipment, undertaking civil engineering, earth-moving and geothermal works, installing roads and associated services, refurbishing and installing modular buildings, recycling materials, and also providing specialised temporary staff and professional training.
        </p>
        <p class="text is-size-2">With Denis Poisson at its head, the group gives great importance to people, and puts the emphasis on skill levels. For these reasons, over the last 40 years clients have been fully satisfied by the quality and scope of the services provided by the SMBs (small & medium-sized businesses) which make up the group.
        </p>
        <p class="text is-size-2">Through its three divisions – Rentals, Civil Works and Services – the Poisson Group is dedicated to providing all that is required for the successful implementation of its clients’ projects.
        </p>
      </div>
    </div>
  </div>
</section>


<section id="nos-poles" class="use-items-as-sections-on-mobile">
  <div class="section__half-background--blue"></div>
  <div class="section__half-background--white"></div>
  <div class="container">
    <div class="flex-row">
      <div class="item-6 wow fadeInLeft blue-box">
        <div class="">
          <img src="/assets/voeux-groupepoisson-2019.gif" alt="gif groupe poisson meilleurs voeux">
        </div>
      </div>
      <div class="item-6 white-box">
        <h2 class="title is-size-2 is-bold" style="text-align:center">
          Groupe Poisson Divisions
        </h2>
        <div class="le-groupe__pole-pictos-wrapper">
          {{> components/poles-block}}
        </div>
      </div>
    </div>
  </div>
</section>


<section id="historique" class="green-box">
  <div class="container wow fadeInUp">
    <div class="flex-row flex-row--centered">
      <div class="item-10">
        <h2 class="title is-size-2 is-bold" style="text-align:center">
          History
        </h2>
      </div>
    </div>
    <div class="flex-row">
      <div class="item-6 content">
        <p class="text is-size-2">
          <strong>1974</strong>
          <br>First rental of an excavator with driver for earth-moving works.</p>
        <p class="text is-size-2">
          <strong>1980</strong>
          <br>Creation of <strong>Terre-net Poisson</strong>, offering machinery rentals without driver.</p>
        <p class="text is-size-2">
          <strong>1984</strong>
          <br>Creation of <strong>Maintenance Service</strong>, to provide maintenance and repair services on site huts.</p>
        <p class="text is-size-2">
          <strong>1988</strong>
          <br>Acquisition of <strong>Morel</strong>, a company specialising in the rental of public works machinery with driver.</p>
        <p class="text is-size-2">
          <strong>1996</strong>
          <br>Creation of <strong>Axel Génie Civil</strong>, specialised in civil engineering works for foundations.</p>
        <p class="text is-size-2">
          <strong>1997</strong>
          <br>Acquisition of Bernardoni TP, based near Avignon, France, which carries out external works, installing roads and associated services, and since 2003, material recycling.</p>
        <p class="text is-size-2">
          <strong>2000</strong>
          <br>Creation of
          <strong>Akela Intérim</strong>, a temporary employment agency specialising in the provision of temporary staff for the building, waste treatment and public works sectors.</p>
        <p class="text is-size-2">
          <strong>2001</strong>
          <br>Acquisition of the Australian company <strong>Select Civil</strong>, which rents out equipment, and carries out earthworks and civil engineering works.</p>
        <p class="text is-size-2">
          <strong>2003</strong>
          <br>Creation of a recycling activity within Bernardoni TP.</p>
      </div>
      <div class="item-6 content">
        <p class="text is-size-2">
          <strong>2007</strong>
          <br>Acquisition of Duval in Gretz-Armainvilliers, which carries out earthworks, sanitary drainage and road works.</p>
        <p class="text is-size-2">
          <strong>2009</strong>
          <br>Acquisition of
          <strong>Brein Transports</strong>, a road haulage company specialising in the transport of oversized and non-standard loads.</p>
        <p class="text is-size-2">
          <strong>2010</strong>
          <br>Opening of the Grand Ouest (Western France) branch of the Groupe Poisson, located in Grand Fougeray.</p>
        <p class="text is-size-2">
          <strong>2011</strong>
          <br>Acquisition of
          <strong>SNDM</strong>, a trading company specialising in the sale and conversion of containers.</p>
        <p class="text is-size-2">
          <strong>2013</strong>
          <br>Creation of <strong>Poisson Formation</strong> training and occupational safety organisation.</p>
        <p class="text is-size-2">
          <strong>2015</strong>
          <br>Setting up of a new Terre-net Groupe Poisson site in Brillon, northern France, following the takeover of Conemat.</p>
        <p class="text is-size-2">
          <strong>2016</strong>
          <br>Bernardoni TP changes name to <strong>Axel Sud</strong>, and Bernardoni Recyclage becomes <strong>Terre-durable</strong>.</p>
        <p class="text is-size-2">
          <strong>2016</strong>
          <br>Modernisation of the Groupe Poisson's graphic identity in line with its structural evolution.</p>
        <p class="text is-size-2">
          <strong>2017</strong>
          <br>Acquisition of 
          <strong>Marcel Equipment Limited</strong>, in Canada, a company specialised in the rebuilding and trading of public works machinery.</p>
      </div>
    </div>

  </div>
</section>


<section id="infographie" class="white-box">
  <div class="container text-center wow fadeInUp">
    <div class="flex-row flex-row--centered">
      <div class="item-10">
        <h1 class="title is-size-2 is-bold">
          Key facts and figures
        </h1>
      </div>
    </div>
    <div class="flex-row flex-row--centered">
      <div class="item-10">
        <img src="/assets/infographie-groupe-poisson-en.png" alt="infographie groupe poisson">
      </div>
    </div>
  </div>
</section>


<section id="implantations" class="blue1-box">
  <div class="container text-center wow fadeInUp">
    <div class="flex-row flex-row--centered">
      <div class="item-10">
        <h1 class="title is-size-2 is-bold">
          Offices
        </h1>
      </div>
    </div>
    <div class="flex-row flex-row--centered">
      <div class="item-10">
        <img src="/assets/implantations-groupe-poisson-en.png" alt="implantations mondiales groupe poisson">
      </div>
    </div>
  </div>
</section>


<section class="white-box">
  <div class="container text-center wow fadeInUp">
    <div class="flex-row flex-row--centered">
      <div class="item-10">
        <h1 class="title is-size-2 is-bold">
          Contact
        </h1>
      </div>
    </div>
    <div class="flex-row flex-row--centered">
      <div class="item-4 text-left">
        {{>components/address site="gretz"}}
      </div>
      <div class="item-4 text-left text-right--desktop">
        {{>components/address site="brillon"}}
      </div>
    </div>
    <div class="flex-row flex-row--centered">
      <div class="item-4 text-left">
        {{>components/address site="roquemaure"}}
      </div>
      <div class="item-4 text-left text-right--desktop">
        {{>components/address site="grand-fougeray"}}
      </div>
    </div>
    <div class="flex-row flex-row--centered">
      <div class="item-10">
        <a class="gp-button" href="/en/contact-us.html?contact=Groupe Poisson#contact">Contact Groupe Poisson</a>
      </div>
    </div>
  </div>
</section>


{{!--<section class="gray4-box">
  <div class="container">
    <div class="flex-row">
      <div class="item-7 wow fadeIn text-box">
        <h2 class="title is-size-2 is-bold">A la Une</h2>
        <h5 class="title is-size-3 is-bold">Belle année 2018 !</h5>
        <p class="text is-size-2">Toute l'équipe du Groupe Poisson vous présente ses meilleurs voeux !</p>
        <div class="text-box__buttons">
          <a href="/en/actualites/0072/belle-annee-2018.html" class="gp-button gp-button--gray">Lire la suite</a>
        </div>
      </div>
      <div class="item-fill item--no-mobile"></div>
      <div class="item-4 wow fadeIn download-box" data-wow-delay="0.5s">
        <img src="/assets/plaquettes/groupe-poisson-plaquette.jpg" alt="plaquette groupe poisson">
        <div>
          <a href="/assets/plaquettes/groupe-poisson-plaquette.pdf" target="_blank" class="gp-button gp-button--gray">Télécharger la plaquette</a>
        </div>
      </div>
    </div>
  </div>
</section>--}}


      
  {{/inline}}
{{/layouts/base}}