{{#> layouts/base menu="actualites" title="Groupe Poisson — Actualite"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="/toutes-nos-actualites.html">Actualités</a></li>
    <li><a href="#">NEWS_TITLE</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    <section class="actualite__title-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h1 class="is-size-2">
                NEWS_TITLE
              </h1>
            </div>
          </div>
        </div>
    </section>

    <section class="actualite__article">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            NEWS_CONTENT
          </div>
        </div>
      </div>
    </section>

  {{/inline}}

{{/layouts/base}}