{{#> layouts/base menu="actualites" title="Groupe Poisson — Actualite"}}
  
  {{#*inline "head-block"}}
    SHARING_METAS
  {{/inline}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="/toutes-nos-actualites">Actualités</a></li>
    <li><a href="#">NEWS_TITLE</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    <section class="actualite__title-section">
      <div class="container wow fadeInUp">

          <div class="flex-row flex-row--centered">
            <div class="item-10">
              <h1 class="title is-size-2">
                NEWS_TITLE
              </h1>
            </div>
          </div>

        </div>
    </section>

    NEWS_CONTENT

  {{/inline}}

{{/layouts/base}}