{{!-- pages/akela-consulting.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Akela Consulting - Agence d'emploi spécialisée dans le recrutement en CDI" description="Akela Consulting recrute par l'approche directe des profils à fort potentiel pour tous types de postes et dans tous types de secteurs." }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/services">Pôle Services</a></li>
      <li><a href="#">Akela Intérim</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="blue-box">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row">
          <div class="item-3">
            <img src="/assets/pictos_poles/picto-services-blanc.png" alt="picto charte groupe poisson" class="entite__picto-pole">
          </div>
          <div class="item-9">
            <h1 class="title is-size-1 is-black">
              Akela Consulting
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Recrutement en CDI</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
          <div class="item-9 content">
            <div class="clearfix">
            <img class="left is-one-third" src="/assets/images_pages_entites/akela-consulting-cabinet-recrutement.jpg" alt="agence d'intérim akela intérim">
            <p class="text is-size-2">Akela Consulting est spécialisée dans l'approche directe pour le recrutement en CDI de profils à fort potentiel. L'agence s'appuie sur plus de 18 ans d'expérience dans les Ressources Humaines pour vous proposer des services personnalisés. Akela Consulting s'entoure de professionnels du recrutement expérimentés pour répondre au plus proche de vos besoins en personnel.
            </p>
            </div>
            <div class="clearfix">
             <img class="right is-one-third" src="/assets/images_pages_entites/akela-consulting-emploi.jpg" alt="agence d'intérim akela intérim">
            <h3 class="title is-size-4 is-bold">Identification de candidats pour des recrutements en CDI</h3>
            <p class="text is-size-2">Nous combinons les approches traditionnelles et digitales dans la recherche des profils qui correspondront au poste à pourvoir. Salons, approche directe, annonces sur les réseaux sociaux professionnels (LinkedIn, Viadéo...) et les sites d'emploi (Ouest France, CadreO, RegionsJob,...), sont les méthodes appliquées par le cabinet.
            Ingénieur(e), chef des ventes, analyste conformité, conducteur(trice) de travaux, … nous recrutons, pour vous, tous types de profils, dans tous types de secteurs. 
            Nous rencontrons ensuite les candidats au meilleur potentiel pour des entretiens professionnels effectués dans nos locaux.
            </p>
             </div>
             <div class="clearfix">
             <img class="left is-one-third" src="/assets/images_pages_entites/akela-consulting-agence-recrutement.jpg" alt="intérimaires agence akela intérim">
            <p class="text is-size-2">Nos experts, titulaires de l'habilitation SOSIE II et PerformanSe, vous assurent une sélection de profils qualifiés qui sauront s'adapter à votre entreprise et au poste proposé. Nous soumettons les candidats à des tests de personnalité pour valider leur potentiel d'adaptation au poste. Notre objectif est de déterminer le projet et la pertinence professionnelle d'un candidat et de mesurer l'adéquation de son profil avec les besoins de l'entreprise.
            Une fois notre sélection achevée, nous vous soumettons plusieurs candidats capables de répondre  aux objectifs prévus. Nous vous accompagnons et vous conseillons également dans votre choix final.
            </p>
            </div>
          <div class="item-3 entite__atout">
            <img src="/assets/atouts_entites/atouts-akela-consulting.png" alt="atouts akela consulting groupe poisson">
            </div>
          </div>
        </div>
      </div>
    </section>

<section>
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12">
         <p class="text is-size-2">Vous recherchez une agence de recrutement en intérim ? <a href="/akela-interim.html">Akela Intérim</a> répond à vos besoins.
         </p>
          </div>
        </div>
      </div>
    </section>


    <section class="blue4-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12">
         <h3 class="title is-size-4 is-bold">Clients d'Akela Consulting</h3>
         <br>
         <p>TPE, PME ou grandes entreprises, nos clients exercent dans tous les secteurs d'activités.</p>
          </div>
        </div>
      </div>
    </section>


    <section class="blue2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Points forts de l'agence</h2>
            <br>
            <p style="text-align:center" class="text is-size-1">Réactivité</p>
            <p style="text-align:center" class="text is-size-1">Adaptabilité</p>
            <p style="text-align:center" class="text is-size-1">Écoute client</p>
            <p style="text-align:center" class="text is-size-1">Compétences</p>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/akela-consulting-recrutement-cdi.jpg" alt="facade agence akela interim la varenne-saint-hilaire">
          </div>
        </div>
      </div>
    </section>
    
    <section class="blue3-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-6 text-box">
            <h2 class="title is-size-2 is-bold">Expertise agroalimentaire et agricole</h2>
            <br>
            <p class="text is-size-2">Maintenance Service assure le remplacement de pare-brise et vitrages d'engins de chantiers et de matériels industriels. Son département spécialisé intervient sur site dans toute l'Ile-de-France en vous proposant des pièces d'origine ou adaptable, pour tous types de machines (levage, TP, travaux ferroviaires, ...).</p>
          </div>
          <div class="item-3 text-box">
            <h3 class="title is-size-3 is-bold">Agroalimentaire</h3>
            <br>
            <p class="text is-size-2">Chef de produits,
            Responsable de production,
            Directeur industriel,
            Chef de projet,
            Responsable de maintenance,
            Fonctions support...
            </p>
          </div>
          <div class="item-3 text-box">
            <h3 class="title is-size-3 is-bold">Agricole</h3>
            <br>
            <p class="text is-size-2">Technico-commercial agricole,
            Acheteur,
            Chef de secteur,
            Directeur de magasin,
            Chef des ventes,
            Ingénieur agronome...
            </p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row white-box">
          <div class="item-4 text-box">
            <h2 class="title is-size-2 is-bold">Implantation</h2>
            <br>
            <p class="text is-size-2">Akela Intérim vous accueille au sein de ses deux agences.
              - La Varenne-Saint-Hilaire dans le département du Val-de-Marne (94)
              - Nantes dans le département de la Loire-Atantique (44)
            </p>
          </div>
          <div class="item-4 image-box">
            <img src="/assets/cartes/implantation-akela-consulting.png" alt="implantation agences akela consulting">
          </div>
          <div class="item-4 entite__address">
            {{>components/address site="akela-consulting" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button" href="/nous-contacter.html?contact=Akela Interim#contact">Contacter Akela Consulting</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row blue3-box">
          <div class="item-12">
            <h3 class="title is-size-2 is-bold">2 agences</h3>
          </div>
        </div>
        <br>
        <div class="flex-row flex-row--centered">
          <div class="item-4 text-left">
            {{>components/address site="akela-consulting-idf"}}
          </div>
          <div class="item-4 text-right--desktop">
            {{>components/address site="akela-consulting-nantes"}}
          </div>
        </div>
          </div>
        </div>
      </div>
    </section>

    {{!-- 
    <section class="blue3-box">
      <div class="container">
        <div class="flex-row">
          <div class="item-7 wow fadeIn text-box">
            <h2 class="title is-size-2 is-bold">A la Une</h2>
            <h5 class="title is-size-3 is-bold">Les staffeurs ornemanistes en action !</h5>
            <p class="text is-size-2">De janvier à avril 2016, l'entité Akela a travaillé sur trois chantiers de rénovation de grands hôtels parisiens pour l'un de ses plus importants clients...</p>
            <div class="text-box__buttons">
              <a href="/actualites/0061/les-staffeurs-ornemanistes-en-action.html" class="gp-button gp-button--gray" >Lire la suite</a>
            </div>
          </div>
          <div class="item-fill"></div>
          <div class="item-4 download-box">
            <img src="/assets/plaquettes/akela-interim-plaquette.png" alt="plaquette akela interim agence groupe poisson">
            <div>
              <a href="assets/plaquettes/akela-interim-plaquette.pdf" class="gp-button gp-button--gray" target="_blank">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section> --}}


      
  {{/inline}}
{{/layouts/base}}