{{!-- pages/morel.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Akela Intérim - Agence d'intérim spécialisée dans les métiers du BTP" description="Akela Intérim vous accompagne dans vos recrutements : mise à disposition d'intérimaires, gestion de contrats, placement de candidats en CDI." }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/services">Pôle Services</a></li>
      <li><a href="#">Akela Intérim</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="blue-box">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-3">
            <img src="/assets/pictos_poles/picto-services-blanc.png">
          </div>
          <div class="col-md-9">
            <h1 class="title is-size-1 is-black">
              Akela Intérim
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">ggg</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-9 entite__article">
            <img class="left is-half" src="/assets/images_pages_entites/brein-transports-camion.jpg">
            <p class="text is-size-2">Agence d'intérim spécialisée dans les métiers du BTP et de l'environnement depuis 17 ans, Akela Intérim est votre partenaire privilégié dans le recrutement de vos futurs collaborateurs. L'agence vous propose la mise à disposition d'intérimaires, la gestion de vos contrats et le placement de candidats en CDI.
            </p>
            <p class="text is-size-2">L'agence s'appuie sur un portefeuille d'intérimaires sérieux et expérimentés. Réactive et passionnée, l'équipe s'intéresse précisément aux compétences et au professionnalisme des candidats pour vous proposer des profils adaptés à vos besoins en personnel. Akela Intérim accompagne ses intérimaires  tout au long de leurs carrières en leur proposant des formations régulières.
            </p>
            <h3 class="title is-size-4 is-bold">Mise à disposition d'intérimaires</h3>
            <img class="right is-half" src="/assets/images_pages_entites/brein-transports-poids-lourds.jpg">
            <p class="text is-size-2">Akela Intérim vous assure une mise à disposition ciblée et pointue d'intérimaires qui participeront à remplir les objectifs de vos chantiers. L'agence vous propose les profils suivants :
            </p>
             <p>Agent de déchetterie, Cariste, Chauffeurs poids lourd, Conducteurs d'engins, Peintres, Maçons VRD, Manœuvres, Techniciens de maintenance, Terrassiers, Staffeur, ...
             </p>
            <img class="left is-half" src="/assets/images_pages_entites/brein-transports-convois-exceptionnels.jpg">
            <h3 class="title is-size-4 is-bold">Gestion de contrat</h3>
            <p class="text is-size-2">Vous recrutez et Akela Intérim gère vos contrats de missions d'intérim, en prenant en charge les formalités administratives liées au personnel : déclarations légales, contrat, paie...
            </p>
             <h3 class="title is-size-4 is-bold">Placement en CDI</h3>
            <p class="text is-size-2">De la création de la fiche de poste en passant par la diffusion d'annonces jusqu'aux entretiens, Akela Intérim recrute pour vous le candidat qui répondra le mieux à vos besoins et remplira vos objectifs.
            </p>
            <p class="text is-size-2">Entreprise à taille humaine, Akela Intérim vous apporte : </p>
            <p class="text is-size-2">L'écoute : L'agence analyse vos besoins et effectue un suivi personnalisé par des visites de vos chantiers ou des rendez-vous en agence, à La Varenne-Saint-Hilaire.</p>
             <p class="text is-size-2">La sécurité : Akela Intérim remet à ses intérimaires un pack d'EPI (Equipement de Protection Individuelle) : casques de chantier et anti-bruit. chaussures de sécurité, lunettes de protection, gilets fluorescents, gants.</p>
              <p class="text is-size-2">La flexibilité : Akela Intérim assure la fidélité et la disponibilité de vos futurs collaborateurs grâce à une gestion proche et humaine de ses intérimaires.</p>
               <p class="text is-size-2">L'éthique : Conscient de son rôle social, Akela Intérim gère son activité dans le respect des personnes et de la législation : chaque intérimaire est unique.</p>
                <p class="text is-size-2">L'avenir : Le personnel permanent de l'agence se forme régulièrement pour répondre au mieux à vos problématiques (législation du travail, procédure de recrutement, ...), mais aussi pour développer leurs compétences et construire leurs plans de carrières.</p>
          </div>
          <div class="col-md-3 entite__atout">
            <img src="/assets/atouts_entites/atouts-akela-interim.png">
          </div>
        </div>
      </div>
    </section>

<section>
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 text-center">
         <p class="text is-size-2">Vous êtes intérimaires et vous souhaitez vous inscrire au sein de l'agence Akela Intérim ? Découvrez les documents à fournir et les formalités administratives pour votre inscription.</p>
          </div>
        </div>
      </div>
    </section>


    <section class="blue4-box">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">

         <h3 class="title is-size-4 is-bold">Références clients d'Akela Intérim</h3>
         <p>PAPREC • SUEZ • DERICHEBOURG • NUANCE 3 • YPREMA • RF • TPSM • DMS • A GRAFFIN • DEL BOCA • SYNEOS • DRON • CUBE</p>
          </div>
        </div>
      </div>
    </section>


    <section class="no-spacing blue2-box">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-7 text-card">
            <h2 class="title is-size-2 is-bold">Points Forts de l'agence</h2>
            <p style="text-align:center" class="text is-size-1">Recrutements ciblé d'intérimaires</p>
            <p style="text-align:center" class="text is-size-1">Compétences</p>
            <p style="text-align:center" class="text is-size-1">Réactivité</p>
            <p style="text-align:center" class="text is-size-1">Fidélité</p>
            <p style="text-align:center" class="text is-size-1">Formation</p>
          </div>
          <div class="col-md-5 image-box">
            <img src="/assets/images_pages_entites/brein-transports-location-chauffeurs-camions.jpg">
          </div>
        </div>
      </div>
    </section>
    
    <section class="no-spacing">
      <div class="container wow fadeInUp">
        <div class="row white-box">
          <div class="col-md-4 text-card">
            <h2 class="title is-size-2 is-bold">Implantation</h2>
            <p class="text is-size-2">Akela Intérim vous accueille au sein de son agence de La Varennes-Saint-Hilaire dans le département du Val-de-Marne (94).
            </p>
          </div>
          <div class="col-md-4 image-box">
            <img src="/assets/cartes/implantation-akela-intérim.png">
          </div>
          <div class="col-md-4 entite__address">
            {{>components/address site="akela-interim" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button gp-button--green-border" href="">Contacter Akela Intérim</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="blue3-box">
      <div class="container wow fadeInUp">
        <div class="row flex">
          <div class="col-md-8 text-card">
            <h2 class="title is-size-2 is-bold">A la une</h2>
            <h5>Lorem ipsum</h5>
            <p class="text is-size-2">
              Ut et ante tincidunt, tempus dui in, sollicitudin nisl. Morbi maximus, mauris eu efficitur sollicitudin.
            </p>
            <div class="text-right">
              <a href="/akela-intérim.html">Lire la suite</a>
            </div>
          </div>
          <div class="col-md-4 download-box">
            <img src="https://unsplash.it/350/200/">
            <div>
              <a class="gp-button gp-button--gray">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>



      
  {{/inline}}
{{/layouts/base}}