{{!-- pages/akela-interim.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Akela Intérim - Agence d'intérim spécialisée dans les métiers du BTP" description="Akela Intérim vous accompagne dans vos recrutements : mise à disposition d'intérimaires, gestion de contrats, placement de candidats en CDI." }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/services">Pôle Services</a></li>
      <li><a href="#">Akela Intérim</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="blue-box">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row">
          <div class="item-3">
            <img src="/assets/pictos_poles/picto-services-blanc.png" alt="picto charte groupe poisson" class="entite__picto-pole">
          </div>
          <div class="item-9">
            <h1 class="title is-size-1 is-black">
              Akela Intérim
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Recrutement en intérim et CDI</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
          <div class="item-9 content">
            <p class="text is-size-2">Agence d'intérim spécialisée dans les métiers du BTP et de l'environnement depuis 17 ans, Akela Intérim est votre partenaire privilégié dans le recrutement de vos futurs collaborateurs. L'agence vous propose la mise à disposition d'intérimaires, la gestion de vos contrats et le placement de candidats en CDI.
            </p>
            <p class="text is-size-2">L'agence s'appuie sur un portefeuille d'intérimaires sérieux et expérimentés. Réactive et passionnée, l'équipe s'intéresse précisément aux compétences et au professionnalisme des candidats pour vous proposer des profils adaptés à vos besoins en personnel. Akela Intérim accompagne ses intérimaires  tout au long de leurs carrières en leur proposant des formations régulières.
            </p>
            <div class="clearfix">
             <img class="right is-one-third" src="/assets/images_pages_entites/akela-interim-travaux.jpg" alt="agence d'intérim akela intérim">
            <h3 class="title is-size-4 is-bold">Mise à disposition d'intérimaires</h3>
            <p class="text is-size-2">Akela Intérim vous assure une mise à disposition ciblée et pointue d'intérimaires qui participeront à remplir les objectifs de vos chantiers. L'agence vous propose les profils suivants :
            </p>
             <p>Agent de déchetterie, Cariste, Chauffeur poids lourd, Conducteur d'engin, Peintre, Maçon VRD, Manœuvre, Technicien de maintenance, Terrassier, Staffeur, ...
             </p>
             </div>
             <div class="clearfix">
             <img class="left is-one-third" src="/assets/images_pages_entites/akela-interim-peintre.jpg" alt="intérimaires agence akela intérim">
            <h3 class="title is-size-4 is-bold">Gestion de contrat</h3>
            <p class="text is-size-2">Vous recrutez et Akela Intérim gère vos contrats de missions d'intérim, en prenant en charge les formalités administratives liées au personnel : déclarations légales, contrat, paie...
            </p>
            </div>
            <div class="clearfix">
             <img class="right is-one-third" src="/assets/images_pages_entites/akela-interim-chargeuse.jpg" alt="intérimaires akela intérim chargeuse">
             <h3 class="title is-size-4 is-bold">Placement en CDI</h3>
            <p class="text is-size-2">De la création de la fiche de poste en passant par la diffusion d'annonces jusqu'aux entretiens, Akela Intérim recrute pour vous le candidat qui répondra le mieux à vos besoins et remplira vos objectifs.
            </p>
             </div>
            <p class="text is-size-2">Entreprise à taille humaine, Akela Intérim vous apporte : </p>
            <p class="text is-size-2"><strong>L'écoute :</strong> L'agence analyse vos besoins et effectue un suivi personnalisé par des visites de vos chantiers ou des rendez-vous en agence, à La Varenne-Saint-Hilaire.</p>
             <p class="text is-size-2"><strong>La sécurité :</strong> Akela Intérim remet à ses intérimaires un pack d'EPI (Equipement de Protection Individuelle) : casques de chantier et anti-bruit. chaussures de sécurité, lunettes de protection, gilets fluorescents, gants.</p>
              <p class="text is-size-2"><strong>La flexibilité :</strong> Akela Intérim assure la fidélité et la disponibilité de vos futurs collaborateurs grâce à une gestion proche et humaine de ses intérimaires.</p>
               <p class="text is-size-2"><strong>L'éthique :</strong> Conscient de son rôle social, Akela Intérim gère son activité dans le respect des personnes et de la législation : chaque intérimaire est unique.</p>
                <p class="text is-size-2"><strong>L'avenir :</strong> Le personnel permanent de l'agence se forme régulièrement pour répondre au mieux à vos problématiques (législation du travail, procédure de recrutement, ...), mais aussi pour développer leurs compétences et construire leurs plans de carrières.</p>
          </div>
          <div class="item-3 entite__atout">
            <img src="/assets/atouts_entites/atouts-akela-interim.png" alt="atouts akela intérim groupe poisson">
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12">
         <p class="text is-size-2">Vous êtes intérimaires et vous souhaitez vous inscrire au sein de l'agence Akela Intérim ? <a href="assets/plaquettes/akela-doc-interimaires.pdf" target="_blank">Découvrez les documents à fournir et les formalités administratives pour votre inscription.</a></p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12"></div>
          <p class="text is-size-2">Vous êtes une entreprise et vous recherchez une agence de recrutement en CDI ? <a href="/akela-consulting.html">Akela Consulting</a> répond à vos besoins.
            </p>
          </div>
          </div>
      </div>
    </section>

    <section class="blue4-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12">
         <h3 class="title is-size-4 is-bold">Références clients d'Akela Intérim</h3>
         <br>
         <p>PAPREC • SUEZ • DERICHEBOURG • NUANCE 3 • YPREMA • RFM • TPSM • DMS • A GRAFFIN • DEL BOCA • SYNEOS • DRON • CUBE</p>
          </div>
        </div>
      </div>
    </section>


    <section class="blue2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Points forts de l'agence</h2>
            <br>
            <p style="text-align:center" class="text is-size-1">Recrutements ciblés d'intérimaires</p>
            <p style="text-align:center" class="text is-size-1">Compétences</p>
            <p style="text-align:center" class="text is-size-1">Réactivité</p>
            <p style="text-align:center" class="text is-size-1">Fidélité</p>
            <p style="text-align:center" class="text is-size-1">Formation</p>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/akela-interim-facade.jpg" alt="facade agence akela interim la varenne-saint-hilaire">
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row white-box">
          <div class="item-4 text-box">
            <h2 class="title is-size-2 is-bold">Implantation</h2>
            <br>
            <p class="text is-size-2">Akela Consulting vous accueille au sein de ses deux agences.</p>
            <p class="text is-size-2">- La Varenne-Saint-Hilaire dans le département du Val-de-Marne (94)</p>
            <p class="text is-size-2">- Nantes dans le département de la Loire-Atantique (44)</p>
          </div>
          <div class="item-4 image-box">
            <img src="/assets/cartes/implantation-akela-interim.png" alt="implantation agences akela interim">
          </div>
          <div class="item-4 entite__address">
            {{>components/address site="akela-interim" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button" href="/nous-contacter.html?contact=Akela Interim#contact">Contacter Akela Intérim</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="blue4-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12">
            <h3 class="title is-size-2 is-bold">2 agences</h3>
          </div>
        </div>
        <br>
        <div class="flex-row flex-row--centered">
          <div class="item-4 text-left">
            {{>components/address site="akela-interim-idf"}}
          </div>
          <div class="item-4 text-right--desktop">
            {{>components/address site="akela-interim-nantes"}}
          </div>
        </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="blue3-box">
      <div class="container">
        <div class="flex-row">
          <div class="item-7 wow fadeIn text-box">
            <h2 class="title is-size-2 is-bold">A la Une</h2>
            <h5 class="title is-size-3 is-bold">Les staffeurs ornemanistes en action !</h5>
            <p class="text is-size-2">De janvier à avril 2016, l'entité Akela a travaillé sur trois chantiers de rénovation de grands hôtels parisiens pour l'un de ses plus importants clients...</p>
            <div class="text-box__buttons">
              <a href="/actualites/0061/les-staffeurs-ornemanistes-en-action.html" class="gp-button gp-button--gray" >Lire la suite</a>
            </div>
          </div>
          <div class="item-fill"></div>
          <div class="item-4 download-box">
            <img src="/assets/plaquettes/akela-interim-plaquette.png" alt="plaquette akela interim agence groupe poisson">
            <div>
              <a href="assets/plaquettes/akela-interim-plaquette.pdf" class="gp-button gp-button--gray" target="_blank">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>



      
  {{/inline}}
{{/layouts/base}}