{{#> layouts/base menu="recrutement" title="Groupe Poisson — Alternance" description="Rejoignez les 400 collaborateurs du Groupe Poisson. Le Groupe Poisson a l’ambition de valoriser et de développer les compétences de chacun, d’offrir des conditions de travail sécurisées et d’assurer un dialogue social adapté."}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">L'alternance</a></li> 
  {{/inline}}


  {{#*inline "main-block"}}
  <section class="parallax well-1" data-url="assets/parallaxe/machines.jpg" data-mobile="true" data-speed="0.3">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row flex-row--centered">
          <div class="item-10" style="height:20em;">
            <h1 style="padding-top: 5em;text-shadow: 0 0 40px rgba(0, 0, 0, .9), 0 0 7px rgba(0, 0, 0, .7);">
            </h1>
          </div>
        </div>
      </div>
    </section>
  
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12">
            <h1 class="title is-size-2 is-bold" style="text-align:center">
              L'alternance au sein du Groupe Poisson
            </h1>
            <br>
            <p class="text is-size-2" style="text-align:center">
              Investis dans une politique d'insertion et de formation par l'alternance, nous cherchons à partager nos expériences et à former les futures générations. Intégrer une entreprise dès l'école, c'est se donner la possibilité de découvrir nos métiers et de participer activement à la vie de l'entreprise.
              Pour nous, c'est une réelle opportunité de former les talents de demain, notamment dans des métiers techniques où la transmission des savoirs a une place prioritaire. Nous souhaitons également accompagner les jeunes au début de leur carrière pour leur offrir un cadre propice à l'apprentissage.
              Nous recherchons tous types de contrats, de durée et de profils ! N'hésitez pas à nous contacter, nous avons hâte de vous rencontrer.
            </p>
            <br>
          </div>
        </div>
      </div>
    </section>
  
      <section class="gray2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Les bonnes raisons de choisir l'alternance</h2>
            <br>
            <p class="text is-size-2">Une voie de plus en plus reconnue et synonyme de réussite.</p>
            <p class="text is-size-2">Une indépendance financière. Du CAP au Bac+5, toutes les personnes sous contrats en alternance touchent un salaire calculé sur un pourcenntage du SMIC en fonction de leur âge, de leur niveau d'études et du contrat passé avec l'entreprise.</p>
            <p class="text is-size-2">Un diplôme équivalent à celui obtenu en formation initiale, mais un atout de taille sur votre CV grâce aux compétences opérationnelles acquises.</p>
            <p class="text is-size-2">Une première longue expérience. Vous serez considéré comme un salarié à part entière. Votre tuteur va donc vous confier des missions et des responsabilités.</p>
            <p class="text is-size-2">Une mise en pratique des connaissances théoriques. Vous allez enfin pouvoir passer à la pratique, en appliquant au quotidien, ce que vous avez appris à l'école. Vous vous familiariserez en douceur avec le monde du travail.</p>
            <p class="text is-size-2">Une plus grande maturité. Pour votre entrée dans le monde professionnel, vous devrez vous montrer digne de confiance, respecter vos engagements, faire preuve de ponctualité, et vous investir. Vous bénéficierez de conseils avisés des professionnels.</p>
            <p class="text is-size-2">Une meilleure insertion professionnelle. Grâce à votre expérience en alternance, vous vous démarquerez forcément es concurrents issus d'une voie classique. Les études en alternance sont clairement un atout pour votre CV !</p>
            <p class="text is-size-2">Un statut avantageux. Vous profitez non seulement des avatanges du statut d'étudiant, mais aussi du statut de salarié (congés payés, comité d'entreprise, frais de déplacement, retraite complémentaire, réductions de transport, etc.</p>
            <p class="text is-size-2">Pas de routine ! Selon votre calendrier de formation, votre rythme change régulièrement, une fois en cours, une fois en entreprise, votre quotidien n'est jamais le même.</p>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/axel-duval-murettes-guides.jpg" alt="axel duval specialité murettes guides">
          </div>
        </div>
      </div>
    </section>


    <section class="green4-box">
      <div class="container wow fadeInUp">
          <div class="flex-row">
            <div class="item-12">
              <h1 class="title is-size-2 is-bold" style="text-align:center">
                Les écoles partenaires
              </h1>
              <br>
              <p class="text is-size-2">
                Au fil des années, le Groupe Poisson a formé des partenariats solides avec des écoles dans des domaines variés. La majorité des alternants qui sont passés par le Groupe suivaient leurs études au sein de ces écoles.
              </p>
            </div>
          </div>
        </div>
    </section>

    {{#*inline "main-block"}}
        <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <a id="candidature" ></a>
              <h1>
                Candidature en alternance
              </h1>
            <p class="text is-size-2">Vous pensez que vos compétences peuvent nous intéresser ? Vous souhaitez intégrer l'une des entités du Groupe Poisson en alternance ?
               Joignez votre CV, parlez-nous de vous, précisez les conditions de votre contrat en alternance !  Nous vous recontacterons rapidement.
            </p>
            </div>
          </div>
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <input id="sfws_type" type="hidden" value="Candidature">
              {{> components/form isJobOffer=true}}
            </div>
          </div>
        </div>
    </section>

      
  {{/inline}}

{{/layouts/base}}