{{#> layouts/base menu="recrutement" title="Groupe Poisson — Alternance !" description="Rejoignez les 400 collaborateurs du Groupe Poisson. Le Groupe Poisson a l’ambition de valoriser et de développer les compétences de chacun, d’offrir des conditions de travail sécurisées et d’assurer un dialogue social adapté."}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">L'alternance</a></li> 
  {{/inline}}


    <section class="parallax well-1" data-url="assets/parallaxe/morel-terrassement.jpg" data-mobile="true" data-speed="0.3">
        <div class="container text-center wow fadeInUp">
          <div class="flex-row">
            <div class="item-12" style="height:20em;">
              <h1 style="padding-top: 5em;text-shadow: 0 0 40px rgba(0, 0, 0, .9), 0 0 7px rgba(0, 0, 0, .7);">
              </h1>
            </div>
          </div>
        </div>
      </section>
  
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12">
            <h1 class="title is-size-2 is-bold" style="text-align:center">
              L'alternance au sein du Groupe Poisson
            </h1>
            <br>
            <p class="text is-size-2" style="text-align:center">
              Investis dans une politique d'insertion et de formation par l'alternance, nous cherchos à partager nos expériences et à former les futures générations. Itégrer une entreprise dès l'école, c'est se donner la possibilité de découvrir nos métiers et de participer activement à la vie de l'entreprise.
              Pour nous, c'est une réelle opportunité de former les talents de demain, notamment dans des métiers techniques où la transmission des savoirs a une place prioritaire. Nous souhaitons également accompagner les jeunes au début de leur carrière pour leur offrir un cadre propice à l'apprentissage.
              Nous recherchons tous types de contrats, de durée et de profils ! N'hésitez pas à nous contacter, nous avons hâte de vous rencontrer.
            </p>
            <br>
          </div>
        </div>
      </div>
    </section>
  
    <section class="green4-box">
      <div class="container wow fadeInUp">
          <div class="flex-row">
            <div class="item-12">
              <h1 class="title is-size-2 is-bold" style="text-align:center">
                Les écoles partenaires
              </h1>
              <br>
              <p class="text is-size-2">
                Au fil des années, le Groupe Poisson a formé des partenariats solides avec des écoles dans des domaines variés. La majorité des alternants qui sont passés par le Groupe suivaient leurs études au sein de ces écoles.
              </p>
            </div>
          </div>
        </div>
    </section>

      
  {{/inline}}

{{/layouts/base}}