{{!-- pages/axel-duval.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Axel Duval - Travaux de Génie Civil, Fondations et Géothermie" description="Spécialisé dans les murettes guides, Axel Duval vous propose la réalisation de travaux de Génie Civil, de fondations et de géothermie." }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/travaux">Pôle Travaux</a></li>
      <li><a href="#">Axel Duval</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="gray-box">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row">
          <div class="item-3">
            <img src="/assets/pictos_poles/picto-travaux-blanc.png"  alt="picto charte groupe poisson travaux pole" class="entite__picto-pole">
          </div>
          <div class="item-9">
            <h1 class="title is-size-1 is-black">
              Axel Duval
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Travaux de Génie Civil, Fondations et Géothermie</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
          <div class="item-9 content">
            <div class="clearfix"><img class="left is-one-third" src="/assets/images_pages_entites/axel-duval-vincennes.jpg" alt="axel duval chantier vincennes">
              <p class="text is-size-2">Depuis plus de 20 ans, Axel Duval met son savoir-faire et son expérience au profit de vos chantiers professionnels en France et dans les pays limitrophes. Spécialisée dans la réalisation de murettes guides, l'entreprise vous propose la réalisation de travaux de fondations, de Génie Civil et de géothermie.
              </p>
            </div>
            <div class="clearfix">
              <img class="right is-one-third" src="/assets/images_pages_entites/axel-duval-assemblee-nationale.jpg" alt="axel duvak chantier assemblee nationale terrassement">
              <h3 class="title is-size-4 is-bold">Fondations</h3>
              <p class="text is-size-2">Murettes guide, poutres de couronnement, barrettes, pieux sécants, recépage de parois moulées, butonnage : les fondations sont le cœur de métier d'Axel Duval.
              </p>
            <h3 class="title is-size-4 is-bold">Génie Civil</h3>
            <p class="text is-size-2">L'entreprise intervient sur des sites industriels, immobiliers et routiers pour la réalisation de travaux de Génie Civil : ouvrages de béton armé, murs de soutènement, bassins enterrés, reprise en sous-œuvre ou encore travaux de maçonnerie.
            </p>
            </div>
            <div class="clearfix">
            <img class="right is-one-third" src="/assets/images_pages_entites/axel-duval-geothermie.jpg" alt="axel duval geothermie">
             <h3 class="title is-size-4 is-bold">Géothermie</h3>
            <p class="text is-size-2">Liaison horizontale électro-soudée, ou encore raccordement de nourrices, Axel Duval vous propose la réalisation de travaux de géothermie pour vos chantiers sur des sites immobiliers (lotissements, programme de promotion immobilière...), industriels ou encore commerciaux.
            </p>
            <p class="text is-size-2">Les équipes d'Axel Duval sont formées régulièrement, leurs qualifications et expériences en font des techniciens habiles et efficaces. Les chefs de chantiers, les chefs d'équipe, les conducteurs de travaux et les ingénieurs sont accompagnés par des Compagnons et des apprentis passionnés. La transmission du savoir est une des valeurs principales de l'entreprise. </p>
            </div>
            <div class="clearfix">
            <p class="text is-size-2">Axel Duval s'appuie également sur un parc puissant d'engins récents, garant de la meilleur efficacité et d'une grande souplesse d'intervention (pelles de 1,5T à 30T, camions, engins de TP).</p>
             <p class="text is-size-2">La rigueur, le respect des délais, la réactivité et la qualité du travail les engagements d'Axel Duval sur chacun de vos chantiers. C'est leur application qui ont fait de l'entreprise, au fil des années, un partenaire fiable et compétent, qui peut intervenir sur des chantiers professionnels complexes et de grande envergure, tel que le Grand Paris ou encore les travaux de géothermie à l’hippodrome d'Auteuil.</p>
            </div>
          </div>
          <div class="item-3 entite__atout">
            <img src="/assets/atouts_entites/atouts-axel-duval.png" alt="atouts axel duval groupe poisson">
          </div>
        </div>
      </div>
    </section>


    <section class="gray2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Focus</h2>
            <br>
            <p class="text is-size-2">Spécialité d'Axel Duval, les murettes guides, indispensables sur un chantier de fondations, sont des ouvrages provisoires en béton armé destinés au guidage de la benne à paroi moulée. La précision de ces murettes conditionne l'exactitude d'implantation de la paroi définitive. Nous adaptons notre réponse à vos besoins et à la nature du sol : fondations ponctuelles, polystyrène, mur de continuité.</p>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/axel-duval-murettes-guides.jpg" alt="axel duval specialité murettes guides">
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row white-box">
          <div class="item-4 text-box">
            <h2 class="title is-size-2 is-bold">Implantation</h2>
            <br>
            <p class="text is-size-2">Axel Duval est implanté à Gretz-Armainvilliers dans le département de la Seine-et-Marne (77).
            </p>
          </div>
          <div class="item-4 image-box">
            <img src="/assets/cartes/implantation-axel-duval.png" alt="implantation axel duval 77 gretz-armainvilliers">
          </div>
          <div class="item-4 entite__address">
            {{>components/address site="axel-duval" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button gp-button--green-border" href="/nous-contacter?contact=Axel Duval#contact">Contacter Axel Duval</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="gray3-box">
      <div class="container">
        <div class="flex-row">
          <div class="item-7 wow fadeIn text-box">
            <h2 class="title is-size-2 is-bold">A la Une</h2>
            <h5 class="title is-size-3 is-bold">Axel Duval a 25 ans !</h5>
            <p class="text is-size-2">En ce mois de mars 2021, notre entreprise Axel Duval fête ses 25 ans ! Depuis 1996, Axel Duval...</p>
            <div class="text-box__buttons">
              <a href="/actualites/0225/axel-duval-a-25-ans" class="gp-button gp-button--gray">Lire la suite</a>
            </div>
          </div>
          <div class="item-fill"></div>
          <div class="item-4 wow fadeIn download-box" data-wow-delay="0.5s">
            <img src="/assets/plaquettes/groupe-poisson-plaquette.jpg" alt="plaquette axel duval groupe poisson">
            <div>
              <a href="/assets/plaquettes/groupe-poisson-plaquette.pdf" target="_blank" class="gp-button gp-button--gray">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>



      
  {{/inline}}
{{/layouts/base}}