{{!-- pages/axel-duval.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Axel Sud – Terrassement, Réseaux secs, Réseaux humides, Génie Civil" description="Entreprise de travaux publics, Axel Sud intervient dans la réalisation de vos chantiers industriels ou publics sur tous types de terrains, même spécifiques." }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/travaux">Pôle Travaux</a></li>
      <li><a href="#">Axel Sud</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="gray-box">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-3">
            <img src="/assets/pictos_poles/picto-travaux-blanc.png">
          </div>
          <div class="col-md-9">
            <h1 class="title is-size-1 is-black">
              Axel Sud
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Terrassement, Réseaux humides, Réseaux secs, Génie Civil</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="row">
          <div class="col-md-9 content">
            <p class="text is-size-2">Entreprise de TP, Axel Sud vous accompagne dans la réalisation de vos chantiers. Partenaire idéal des industriels, mais aussi des particuliers, Axel Sud s'appuie sur une expérience de près de 40 ans et un savoir-faire reconnu sur son territoire pour répondre à vos besoins en terrassement, réseaux humides et réseaux secs, mais également en travaux de génie civil.
            </p>
            <img class="right is-one-third" src="/assets/images_pages_entites/axel-sud-terrassement.jpg">
            <h3 class="title is-size-4 is-bold">Terrassement</h3>
            <p class="text is-size-2">Réalisation de travaux de terrassement, préparation de couche de forme ou de modelage pour la viabilisation de terrains à lotir, l'implantation de bâtiments, d'habitats (résidence ou lotissement), de plate-formes industrielles, de sites d'exploitation ou encore de centrales photovoltaïques au so
            </p>
            <br>
            <img class="left is-one-third" src="/assets/images_pages_entites/axel-sud-reseaux-humides.jpg">
            <h3 class="title is-size-4 is-bold">Réseaux humides</h3>
            <p class="text is-size-2">Réalisation de réseaux neufs ou modification de réseaux existants pour les eaux potables, les eaux usées, les eaux pluviales ou les eaux industrielles, sur domaines publics et privés. 
            </p>
            <br>
            <br>
            <br>
            <img class="left is-one-third" src="/assets/images_pages_entites/axel-sud-reseaux-secs.jpg">
             <h3 class="title is-size-4 is-bold">Réseaux secs</h3>
            <p class="text is-size-2">Réalisation et enfouissement de réseaux secs pour la distribution d'énergie (électricité, gaz) ou de nouvelles technologies (télécommunication, fibre optique).
            </p>
            <h3 class="title is-size-4 is-bold">Travaux de Génie Civil</h3>
            <p class="text is-size-2">Réalisation d'ouvrages pour l'aménagement du cadre de vie (mur de soutènement, fondations, échangeurs, stations de pompage et traitement des eaux, ossatures porteuses de constructions industrielles, tunnels)..
            </p>
            <h3 class="title is-size-4 is-bold">Autre service</h3>
            <p class="text is-size-2">Axel Sud vous propose aussi la location de matériels TP pour vos chantiers.
            </p>
            <p class="text is-size-2">Axel Sud assure le sérieux et le professionnalisme de ses réalisations et accompagne ses clients, industriels ou prescripteurs privés, dans leur projet par un suivi de leur chantier et un encadrement structuré. Son bureau d'étude vous propose des solutions techniques et clés en main pour répondre à votre besoin.</p>
            <p class="text is-size-2">Grâce à ses équipes expérimentées et son parc important de machines de qualité, Axel Sud peut intervenir sur des terrains de nature variée et réaliser tous types de chantiers : du plus simple au plus complexe.</p>
          </div>
          <div class="col-md-3 entite__atout">
            <img src="/assets/atouts_entites/atouts-axel-sud.png">
          </div>
        </div>
      </div>
    </section>


    <section class="gray2-box">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-7 text-card">
            <h2 class="title is-size-2 is-bold">Engagements</h2>
            <br>
            <p style="text-align:center" class="text is-size-1">Qualité des prestations</p>
            <p style="text-align:center" class="text is-size-1">Certification ISO 9001</p>
            <p style="text-align:center" class="text is-size-1">Respect des délais</p>
            <p style="text-align:center" class="text is-size-1">Valorisation de vos déchets inertes grâce à Terre-durable (recyclae</p>
          </div>
          <div class="col-md-5 image-box">
            <img src="/assets/images_pages_entites/axel-sud-services.jpg">
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp">
        <div class="row white-box">
          <div class="col-md-4 text-card">
            <h2 class="title is-size-2 is-bold">Implantation</h2>
            <br>
            <p class="text is-size-2">Axel Sud vous accueille à Roquemaure dans le département du Gard (30).
            </p>
          </div>
          <div class="col-md-4 image-box">
            <img src="/assets/cartes/implantation-axel-sud.png">
          </div>
          <div class="col-md-4 entite__address">
            {{>components/address site="axel-sud" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button gp-button--green-border" href="">Contacter Axel Sud</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="gray3-box">
      <div class="container wow fadeInUp">
        <div class="row flex">
          <div class="col-md-8 text-card">
            <h2 class="title is-size-2 is-bold">A la une</h2>
            <h5>Lorem ipsum</h5>
            <p class="text is-size-2">
              Ut et ante tincidunt, tempus dui in, sollicitudin nisl. Morbi maximus, mauris eu efficitur sollicitudin.
            </p>
            <div class="text-right">
              <a href="/axel-sud.html">Lire la suite</a>
            </div>
          </div>
          <div class="col-md-4 download-box">
            <img src="https://unsplash.it/350/200/">
            <div>
              <a class="gp-button gp-button--gray" target="_blank">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>



      
  {{/inline}}
{{/layouts/base}}