{{!-- pages/morel.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Brein Transports – Transports exceptionnels et camions bennes" description="Brein Transports est spécialisé dans le transport exceptionnel de vos engins de chantier, tous poids, toutes dimensions, sur toute la France, et location de camions pour les TP." }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/services">Pôle Services</a></li>
      <li><a href="#">Brein Transports</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="blue-box">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-3">
            <img src="/assets/pictos_poles/picto-services-blanc.png">
          </div>
          <div class="col-md-9">
            <h1 class="title is-size-1 is-black">
              Brein Transports
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Transports exceptionnels et camions bennes</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-9 entite__article">
            <img class="left is-half" src="/assets/images_pages_entites/brein-transports-camion.jpg">
            <p class="text is-size-2">Créé en 1970 par René Brein, et repris en 2009 par le Groupe Poisson, Brein Transports est le spécialiste dans l’acheminement de masses indivisibles, tous poids, toutes dimensions, pour les travaux publics et le secteur industriel. Brein Transports met à votre service des moyens humains et techniques de qualité, nécessaires à la réalisation de vos projets. Son parc diversifié de camions et remorques peuvent répondre à toutes vos demandes.
            </p>
            <p class="text is-size-2">L'entreprise intervient sur toute la France en vous proposant un service de transports exceptionnels, mais aussi la location de camions bennes et de camions grues avec chauffeurs.</p>
            <h3 class="title is-size-4 is-bold">Transport exceptionnel</h3>
            <img class="right is-half" src="/assets/images_pages_entites/brein-transports-poids-lourds.jpg">
            <p class="text is-size-2">Brein Transports répond à vos besoins spécifiques en convois spéciaux et exceptionnels pour vos engins de chantier grâce à son parc diversifié de véhicules et de remorques :</p>
             <ul class="text is-size-2">
            <li>4 camions jusqu'à 65T de charge utile,</li>
             <li>4 remorques surbaissées avec double-rampes et essieux directionnels,</li>
             <li>2 remorques extra-surbaissées à col de cygne déboitable de 4 à 6 essieux directionnels.</li>
             </ul>
            <p class="text is-size-2">Brein Transports vous accompagne et vous conseille par l'étude complète de vos besoins : de la planification du trajet, en passant par la demande et la gestion des autorisations préfectorales, jusqu'au chargement et déchargement de vos engins. Brein Transports assure le transport routier de vos engins en vous apportant une solution sur-mesure qui répondra à vos exigences spécifiques. Ses chauffeurs, de plus de 20 ans d'expérience, sont autonomes dans le chargement et le déchargement de vos engins. Ils sont aussi régulièrement formés pour répondre aux exigences légales et vous proposer un service optimal.
            </p>
            <p>Brein Transports met tout en œuvre pour allier la rapidité à la qualité de service. Comptez 4 à 6 semaines pour la planification de trajets spécifiques.</p>
            <img class="left is-half" src="/assets/images_pages_entites/brein-transports-convois-exceptionnels.jpg">
            <h3 class="title is-size-4 is-bold">Location avec chauffeurs en Ile-de-France</h3>
            <p class="text is-size-2">Brein Transports vous propose également la location de camions-bennes et de camions-grues avec chauffeurs, pour le transport d'équipements sur vos chantiers et l'évacuation de vos matériaux.
Ses conducteurs expérimentés sont formés régulièrement pour répondre aux besoins et contraintes de vos chantiers et pour vous fournir un travail à la hauteur de vos exigences.
            </p>
             <ul><li class="text is-size-2">Camions-bennes (15T et 20T bi-bennes),</li>
             <li class="text is-size-2">Camions-grues (10T, 15T, 20T et 15T amplirolls)</li>
             <li class="text is-size-2">Prestations de salage et déneigement</li></ul>
            <p class="text is-size-2">Brein Transports vous propose également la mise en décharge de vos terres et gravats.
            </p>
          </div>
          <div class="col-md-3 entite__atout">
            <img src="/assets/atouts_entites/atouts-brein-transports.png">
          </div>
        </div>
      </div>
    </section>
    
    <section class="no-spacing blue2-box">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-7 text-card">
            <h2 class="title is-size-2 is-bold">Engagements</h2>
            <p style="text-align:center" class="text is-size-1">Réactivité</p>
            <p style="text-align:center" class="text is-size-1">Qualité de services</p>
            <p style="text-align:center" class="text is-size-1">Chauffeurs formés et autonomes</p>
            <p style="text-align:center" class="text is-size-1">Conseil et accompagnement sur-mesure</p>
          </div>
          <div class="col-md-5 image-box">
            <img src="/assets/images_pages_entites/brein-transports-location-chauffeurs-camions.jpg">
          </div>
        </div>
      </div>
    </section>
    
    <section class="no-spacing">
      <div class="container wow fadeInUp">
        <div class="row white-box">
          <div class="col-md-4 text-card">
            <h2 class="title is-size-2 is-bold">Implantation</h2>
            <p class="text is-size-2">Brein Transports est implanté à Gretz-Armainvilliers dans le département de la Seine-et-Marne (77).
            </p>
          </div>
          <div class="col-md-4 image-box">
            <img src="/assets/cartes/implantation-brein-transports.png">
          </div>
          <div class="col-md-4 entite__address">
            {{>components/address site="brein-transports" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button gp-button--green-border" href="">Contacter Brein Transports</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="blue3-box">
      <div class="container wow fadeInUp">
        <div class="row flex">
          <div class="col-md-8 text-card">
            <h2 class="title is-size-2 is-bold">A la une</h2>
            <h5>Lorem ipsum</h5>
            <p class="text is-size-2">
              Ut et ante tincidunt, tempus dui in, sollicitudin nisl. Morbi maximus, mauris eu efficitur sollicitudin.
            </p>
            <div class="text-right">
              <a href="/brein-transports.html">Lire la suite</a>
            </div>
          </div>
          <div class="col-md-4 download-box">
            <img src="https://unsplash.it/350/200/">
            <div>
              <a class="gp-button gp-button--gray">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>



      
  {{/inline}}
{{/layouts/base}}