{{#> layouts/base menu="" title="Groupe Poisson — Espace Presse" description="Retrouvez les communiquées de presse du Groupe Poisson et toutes les plaquettes de ses entreprises."}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="/">Accueil</a></li>
    <li><a href="#">Espace Presse</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    <section class="espace-presse__title-section">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <h1 class="title is-size-2 is-bold">
                Espace Presse
              </h1>
            </div>
          </div>
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <p class="text is-size-2">Cet espace met à la disposition des journalistes et des professionnels de la communication des éléments et informations sur les activités et les métiers du Groupe Poisson.
</p>
            </div>
          </div>
      </div>
</section>

<section class="blue3-box">
  <div class="container text-center wow fadeInUp">
    <div class="flex-row flex-row--centered">
      <div class="item-10">
        <p class="text is-size-2">Sur demande, vous pourrez avoir accès à notre logothèque ainsi que notre photothèque. Pour toute question, n'hésitez pas à contacter l'agence de communication OCTAVE :</p>
        <p class="text is-size-2">Lise-Marie MINOIS</p>
        <p class="text is-size-2">lmminois@octave-alto.com</p>
        <p class="text is-size-2">Tél. 01 64 07 38 63</p>
      </div>
    </div>
  </div>
</section>

           
<section class="espace-presse__files-section">
  <div class="container wow fadeInUp">
    <div class="flex-row flex-row--centered">
      <div class="item-10 text-center">
        <h1 class="title is-size-2 is-bold">
          Dossiers et Communiqués de Presse
        </h1>
      </div>
    </div>
    <div class="flex-row flex-row--centered">
      <div class="item-2 text-center">
        <img src="/assets/plaquettes/CP-GP-2016.png" alt="communique de presse groupe poisson">
      </div>
      <div class="item-1 item--no-mobile">
      </div>
      <div class="item-4 text-center">
        <p class="text is-size-2">Communiqué de presse 2017<br>Nouvelle identité du Groupe Poisson</p>
        <br>
        <a href="/assets/plaquettes/CP-GP-2016.pdf" target="_blank" class="gp-button gp-button--gray">Télécharger le communiqué de presse</a>
      <div>
    </div>
    <div class="flex-row flex-row--centered">
      <div class="item-2 text-center">
        <img src="/assets/plaquettes/CP-Morel-2021.png" alt="communique de presse morel">
      </div>
      <div class="item-1 item--no-mobile">
      </div>
      <div class="item-4 text-center">
        <p class="text is-size-2">Communiqué de presse 2021<br>Nouvelles machines chez Morel</p>
        <br>
        <a href="/assets/plaquettes/CP-Morel-2021.pdf" target="_blank" class="gp-button gp-button--gray">Télécharger le communiqué de presse</a>
      <div>
    </div>
  </section>

  <section class="espace-presse__flyers-section" "gray4-box">
    <div class="container wow fadeInUp">
      <div class="flex-row">
        <div class="item-12 text-center">
          <h1 class="title is-size-2 is-bold">
            Plaquettes
          </h1>
        </div>
      </div>
      <div class="flex-row flex-row--centered">
        <div class="item-4 wow fadeIn download-box text-center">
          <img src="/assets/plaquettes/groupe-poisson-plaquette.jpg" alt="plaquette groupe poisson">
          <a href="/assets/plaquettes/groupe-poisson-plaquette.pdf" target="_blank" class="gp-button">Plaquette du Groupe Poisson</a>
        </div>
      </div>
    </div>
  </section>

<section class="espace-presse__flyers-section" "gray4-box">
    <div class="container wow fadeInUp">
        <div class="flex-row">
            <div class="item-4 text-center">
            <img src="/assets/plaquettes/Akela-Fiche.png" alt="plaquette akela interim groupe poisson">
            <a href="/assets/plaquettes/akela-interim-plaquette.pdf" target="_blank" class="gp-button">Plaquette d'Akela Intérim</a>
            </div>
            <div class="item-4 text-center">
            <img src="/assets/plaquettes/Fiche-AXS.png" alt="plaquette axel sud groupe poisson">
            <a href="/assets/plaquettes/AXS-Fiche-bd.pdf" target="_blank" class="gp-button">Plaquette d'Axel Sud</a>
           </div>
            <div class="item-4 text-center">
            <img src="/assets/plaquettes/Fiche-BT.png" alt="plaquette brein transports groupe poisson">
            <a href="/assets/plaquettes/brein-transports-plaquette.pdf" target="_blank" class="gp-button">Plaquette de Brein Transports</a>
           </div>
        </div>

        <div class="flex-row flex-row--centered">
          <div class="item-4 text-center">
            <img src="/assets/plaquettes/PF-Fiche.png" alt="poisson formation plaquette groupe poisson">
            <a href="/assets/plaquettes/poisson-formation-plaquette.pdf" target="_blank" class="gp-button">Plaquette de Poisson Formation</a>
           </div>
            <div class="item-4 text-center">
            <img src="/assets/plaquettes/TD-Fiche.png" alt="plaquette terre-durable groupe poisson">
            <a href="/assets/plaquettes/terre-durable-plaquette.pdf" target="_blank" class="gp-button">Plaquette de Terre-durable</a>
           </div>
        </div>
    
         <div class="flex-row flex-row--centered">
          <div class="item-4 text-center">
            <img src="/assets/plaquettes/Akela-consulting-Fiche.png" alt="akela consulting plaquette groupe poisson">
            <a href="/assets/plaquettes/akela-consulting-plaquette.pdf" target="_blank" class="gp-button">Plaquette d'Akela Consulting</a>
           </div>
            <div class="item-4 text-center">
            <img src="/assets/plaquettes/Morel-Fiche-2.png" alt="plaquette morel groupe poisson">
            <a href="/assets/plaquettes/morel-plaquette.pdf" target="_blank" class="gp-button">Plaquette de Morel</a>
           </div>
        </div>
    </div>
</section>

  {{/inline}}

{{/layouts/base}}