{{#> layouts/base menu="" title="Groupe Poisson — Espace Presse"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="/">Accueil</a></li>
    <li><a href="#">Espace Presse</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    <section class="espace-presse__title-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1 class="title is-size-2 is-bold">
                Espace Presse
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <p class="text is-size-1">Cet espace met à la disposition des journalistes et des professionnels de la communication des éléments et informations sur les activités et les métiers du Groupe Poisson.
</p>
            </div>
          </div>
      </div>
</section>

<section class="container blue4-box" style="padding: 2rem;">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p class="text is-size-1">Sur demande, vous pourrez avoir accès à notre logothèque ainsi que notre photothèque. Pour toute question, n'hésitez pas à contacter l'agence de communication OCTAVE :</p>
            <p class="text is-size-1">Lise-Marie MINOIS</p>
            <p class="text is-size-1">lmminois@octave-alto.com</p>
            <p class="text is-size-1">Tél. 01 64 07 38 63</p>
          </div>
        </div>
      </div>
    </section>

           

    <section class="container gray4-box" style="padding: 2rem;">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1 class="title is-size-2 is-bold">
                Dossiers et Communiqués de Presse
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              C
            </div>
          </div>
        </div>
    </section>

    <section class="espace-presse__flyers-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1 class="title is-size-2 is-bold">
                Plaquettes
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              C
            </div>
          </div>
        </div>
    </section>

  {{/inline}}

{{/layouts/base}}