{{#> layouts/base menu="" title="Groupe Poisson — Espace Presse" description="Retrouvez les communiquées de presse du Groupe Poisson et toutes les plaquettes de ses entreprises."}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="/">Accueil</a></li>
    <li><a href="#">Espace Presse</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    <section class="espace-presse__title-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1 class="title is-size-2 is-bold">
                Espace Presse
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <p class="text is-size-2">Cet espace met à la disposition des journalistes et des professionnels de la communication des éléments et informations sur les activités et les métiers du Groupe Poisson.
</p>
            </div>
          </div>
      </div>
</section>

<section class="blue3-box">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p class="text is-size-2">Sur demande, vous pourrez avoir accès à notre logothèque ainsi que notre photothèque. Pour toute question, n'hésitez pas à contacter l'agence de communication OCTAVE :</p>
            <p class="text is-size-2">Lise-Marie MINOIS</p>
            <p class="text is-size-2">lmminois@octave-alto.com</p>
            <p class="text is-size-2">Tél. 01 64 07 38 63</p>
          </div>
        </div>
      </div>
</section>

           
<section class="espace-presse__files-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1 class="title is-size-2 is-bold">
                Dossiers et Communiqués de Presse
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <div>
              <a href="/assets/plaquettes/CP-GP-2016.pdf" target="_blank" class="gp-button gp-button--gray">Communiqué de presse 2017 - Nouvelle identité du Groupe Poisson</a>
            </div>
            </div>
          </div>
        </div>
    </section>

<section class="espace-presse__flyers-section" "gray4-box">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1 class="title is-size-2 is-bold">
                Plaquettes
              </h1>
            </div>
          </div>
            <div class="col-md-10 col-md-offset-1 text-center wow fadeIn download-box" data-wow-delay="0.5s">
            <img src="/assets/plaquettes/groupe-poisson-plaquette.jpg">
            <div>
              <a href="/assets/plaquettes/groupe-poisson-plaquette.pdf" target="_blank" class="gp-button gp-button--gray">Plaquette du Groupe Poisson</a>
            </div>
            <div class="col-md-6">
              <a href="/assets/plaquettes/plaquette-akela-interim.pdf" target="_blank">Plaquette d'Akela Intérim</a>
            <a href="/assets/plaquettes/plaquette-axel-duval.pdf" target="_blank">Plaquette d'Axel Duval</a>
            <a href="/assets/plaquettes/plaquette-axel-sud.pdf" target="_blank">Plaquette d'Axel Sud</a>
            <a href="/assets/plaquettes/plaquette-brein-transports.pdf" target="_blank">Plaquette de Brein Transports</a>
            <a href="/assets/plaquettes/plaquette-maintenance-service.pdf" target="_blank">Plaquette de Maintenance Service</a>
            </div>
           <div class="col-md-6">
            <a href="/assets/plaquettes/plaquette-morel.pdf" target="_blank">Morel</a>
            <a href="/assets/plaquettes/plaquette-poisson-formation.pdf" target="_blank">Poisson Formation</a>
            <a href="/assets/plaquettes/plaquette-sndm.pdf" target="_blank">Plaquette de SNDM</a>
            <a href="/assets/plaquettes/plaquette-terre-durable.pdf" target="_blank">Plaquette de Terre-durable</a>
            <a href="/assets/plaquettes/plaquette-terre-net.pdf" target="_blank">Plaquette de Terre-net</a>
            </div>
      </div>
    </div>
</section>

  {{/inline}}

{{/layouts/base}}