{{!-- pages/index.hbs --}}

{{#> layouts/base menu="index" title="Groupe Poisson" no-breadcrumb=true}}

  {{#*inline "main-block"}}
    <section class="parallax well-1" data-url="assets/parallaxe/machines.jpg" data-mobile="true" data-speed="0.3">
        <div class="container text-center wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1" style="height:20em;">
              <h1 style="padding-top: 5em;text-shadow: 0 0 40px rgba(0, 0, 0, .9), 0 0 7px rgba(0, 0, 0, .7);">
              </h1>
            </div>
          </div>
        </div>
      </section>
      <!-- END Parallax -->

      <!-- Section -->
      <section class="gp-cards">
        <div class="gp-cards__background gp-cards__background--left gp-cards__background--blue"></div>
        <div class="gp-cards__background gp-cards__background--right gp-cards__background--white"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 wow fadeInLeft gp-card gp-card--blue">
              <div class="gp-card__inner gp-card__inner--left">
                <h2 class="gp-card__title">Qui sommes nous&nbsp;?</h2>
                <p class="gp-card__content">
                  Au coeur d'un univers conjuguant l'industrie, le BTP et l'environnement, le Groupe Poisson a développé une gamme de services étendue, depuis la location et l'entretien de matériels TP, les travaux de Génie Civil, de terrassement, de géothermie, ...
                </p>
                <div class="gp-card__link">
                  <a href="le-groupe.html" class="link">Lire la suite</a>
                </div>
              </div>
            </div>
            <div class="offset-none col-lg-6 gp-card gp-card--white">
              <div class="gp-card__inner gp-card__inner--right">
                {{> components/poles-block}}
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END Section -->


      <section class="gp-cards">
        <div class="gp-cards__background gp-cards__background--left gp-cards__background--gray"></div>
        <div class="gp-cards__background gp-cards__background--right gp-cards__background--green"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 wow fadeInLeft gp-card gp-card--gray">
              <div class="gp-card__inner gp-card__inner--left">
                <h2 class="gp-card__title">Dernière actualité</h2>
                <h3 class="title is-size-3 is-bold">Nouvelle acquisition : la Zaxis135US-5B !</h3>
                <p class="gp-card__content">
                Afin de répondre aux exigences du secteur, Morel a enrichi son parc de machines d’une pelle tunnel Zaxis135US-5B, commercialisée par HITACHI.
                </p>
                <div class="gp-card__link">
                  <a href="/actualites/0071/nouvelle-acquisition-la-zaxis135us-5b.html" class="link">Lire la suite</a>
                </div>
              </div>
            </div>
          
            <div class="col-lg-6 wow fadeInRight gp-card gp-card--green">
              <div class="gp-card__inner gp-card__inner--right">
                <h2 class="gp-card__title">A la Une</h2>
                <h3 class="title is-size-3 is-bold">Belle année 2018 !</h3>
                <p class="gp-card__content">
                 Toute l'équipe du Groupe Poisson vous présente ses meilleurs voeux !
                </p>
                <div class="gp-card__link">
                  <a href="/actualites/0072/belle-annee-2018.html" class="link">Lire la suite</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>


      {{> components/map}}
  {{/inline}}

{{/layouts/base}}
