{{!-- pages/page-one.hbs --}}

{{#> layouts/base menu="le-groupe" title="Groupe Poisson" description="Au coeur d'un univers conjuguant l'industrie, le BTP et l'environnement, le Groupe Poisson a développé une gamme de services étendue, depuis la location et l'entretien de matériels TP, les travaux de Génie Civil, de terrassement, de géothermie, de VRD, la maintenance, la réparation et la mise en place de constructions modulaires, jusqu'à l'intérim spécialisé, la formation et le recyclage de matériaux." }}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">Le Groupe</a></li>
  {{/inline}}

  {{#*inline "main-block"}}

    <section class="parallax well-1" data-url="assets/parallaxe/location-morel-terrassement.jpg" data-mobile="true" data-speed="0.3">
        <div class="container text-center wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1" style="height:20em;">
              <h1 style="padding-top: 5em;text-shadow: 0 0 40px rgba(0, 0, 0, .9), 0 0 7px rgba(0, 0, 0, .7);">
              </h1>
            </div>
          </div>
        </div>
      </section>
    
    <section id="qui-sommes-nous" class="well-2 le-groupe__qui-sommes-nous">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h1 class="title is-size-2 is-bold">
              Le Groupe Poisson
            </h1>
            <br>
            <p class="text is-size-2">
              Au coeur d'un univers conjuguant l'industrie, le BTP et l'environnement, le Groupe Poisson a développé une gamme de services étendue, depuis la location et l'entretien de matériels TP, les travaux de Génie Civil, de terrassement, de géothermie, de VRD, la maintenance, la réparation et la mise en place de constructions modulaires, jusqu'à l'intérim spécialisé, la formation et le recyclage de matériaux.
            </p>
            <p class="text is-size-2">Dirigé par Denis Poisson, le groupe accorde une grande place à l'humain, mettant l'accent sur les compétences. C’est pourquoi ses clients apprécient depuis plus de 40 ans l’efficacité des prestations des différentes sociétés de ce groupe de PME.
            </p>
            <p class="text is-size-2">Divisé en trois pôles, Location, Travaux et Services, sa vocation est de répondre à vos besoins lors de la mise en œuvre de vos projets.
            </p>
          </div>
        </div>
      </div>
    </section>

      
    <section id="nos-poles" class="gp-cards">
      <div class="gp-cards__background gp-cards__background--left gp-cards__background--blue"></div>
      <div class="gp-cards__background gp-cards__background--right gp-cards__background--white"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 wow fadeInLeft gp-card gp-card--blue">
            <div class="">
              <img src="/assets/voeux-groupepoisson-2018.gif" alt="gif groupe poisson meilleurs voeux">
            </div>
          </div>
          <div class="offset-none col-lg-6 gp-card gp-card--white">
            <h2 class="title is-size-2 is-bold" style="text-align:center">
              Nos pôles
            </h2>
            <div class="gp-card__inner gp-card__inner--right">
              {{> components/poles-block}}
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="historique" class="green-box">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2 class="title is-size-2 is-bold" style="text-align:center">
              Historique
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text is-size-2">Tout commence en 1974, lorsque Denis Poisson fait l'acquisition d'une pelle louée avec chauffeur pour des travaux de terrassement. La première marque, Terre-net, est créée pour proposer une variante de cette offre : la location de matériels sans chauffeur. Au fil des années, la petite société s'agrandit progressivement en se spécialisant dans le terrassement, puis en proposant des prestations de services dans le secteur de l'environnement et de l'industrie.
            </p>
            <p class="text is-size-2">Désireux de se développer et de devenir un acteur majeur sur le territoire et à l'étranger, le Groupe Poisson parie à la fois sur la création de sociétés et la croissance en externe. De belles opportunités et la volonté de se diversifier vont ainsi faire du Groupe Poisson ce qu'il est aujourd'hui : un ensemble d'entités capables de répondre aux besoins et aux exigences de ces secteurs.
            </p>
            <p class="text is-size-2">La société Maintenance Service est ainsi créée en 1984 et ouvrira le chemin pour une succession d'autres créations : Akela Intérim en 2000, Terre-durable en 2003 et Poisson Formation en 2013.
            </p>
          </div>
          <div class="col-md-6">
            <p class="text is-size-2">Le Groupe Poisson a également mis en place une politique de développement par l'acquisition d'entreprises à fort potentiel. La première société à être reprise est Morel, en 1988, puis vient le tour de Bernardoni TP en 1997, qui deviendra Axel Sud en 2016. L'entreprise familiale Duval est reprise en 2007, et fusionnera ensuite avec Axel Génie Civil pour devenir Axel Duval. Enfin, le Groupe Poisson procède au rachat de Brein Transports en 2009 et de SNDM en 2011.
            </p>
            <p class="text is-size-2">Le développement à l'international est aussi à l'honneur depuis 2001 via l'acquisition de Select Civil, implantée à 100km de Sidney en Australie, et plus récemment en 2017, par la reprise de Marcel Equipment Limited, implantée à London, au Canada, dans l'Ontario.
            </p>
          </div>
        </div>
        
      </div>
    </section>


    <section id="infographie" class="well-2 le-groupe__infographie">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="title is-size-2 is-bold">
              Infographie
            </h1>
</div>
              <div><img src="/assets/infographie-groupe-poisson.png" alt="infographie groupe poisson"></div>
          </div>
          </div>
        </div>
      </div>
    </section>


    <section id="implantations" class="well-2 le-groupe__implantations">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="title is-size-2 is-bold">
              Implantations
            </h1>
            </div>
              <div><img src="/assets/implantations-groupe-poisson.png" alt="implantations mondiales groupe poisson"></div>
          </div>
        </div>
      </div>
    </section>


    <section class="well-2 le-groupe__contact">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="title is-size-2 is-bold">
              Contact
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-left">
            {{>components/address site="gretz"}}
          </div>
          <div class="col-md-4 text-right">
            {{>components/address site="brillon"}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-left">
            {{>components/address site="roquemaure"}}
          </div>
          <div class="col-md-4 text-right">
            {{>components/address site="grand-fougeray"}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <a class="gp-button">Contacter le Groupe Poisson</a>
          </div>
        </div>
      </div>
    </section>


    <section class="gray4-box">
      <div class="container">
        <div class="row flex">
          <div class="col-md-7 wow fadeIn text-card">
            <h2 class="title is-size-2 is-bold">A la Une</h2>
            <h5 class="title is-size-3 is-bold">Belle année 2018 !</h5>
            <p class="text is-size-2">Toute l'équipe du Groupe Poisson vous présente ses meilleurs voeux !</p>
            <div class="text-right">
              <a href="/on-en-parle.html" class="gp-button gp-button--gray">Lire la suite</a>
            </div>
          </div>
          <div class="col-md-4 col-md-offset-1 wow fadeIn download-box" data-wow-delay="0.5s">
            <img src="/assets/plaquettes/groupe-poisson-plaquette.jpg" alt="plaquette groupe poisson">
            <div>
              <a href="/assets/plaquettes/groupe-poisson-plaquette.pdf" target="_blank" class="gp-button gp-button--gray">Télécharger la plaquette</a>
            </div>
          </div>
        </div>

      </div>
    </section>


      
  {{/inline}}
{{/layouts/base}}