{{!-- pages/page-one.hbs --}}

{{#> layouts/base menu="le-groupe" title="Groupe Poisson" description="Au coeur d'un univers conjuguant l'industrie, le BTP et l'environnement, le Groupe Poisson a développé une gamme de services étendue, depuis la location et l'entretien de matériels TP, les travaux de Génie Civil, de terrassement, de géothermie, de VRD, la maintenance, la réparation et la mise en place de constructions modulaires, jusqu'à l'intérim spécialisé, la formation et le recyclage de matériaux." }}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">Le Groupe</a></li>
  {{/inline}}

  {{#*inline "main-block"}}

    <section class="parallax well-1" data-url="assets/parallaxe/recyclage.jpg" data-mobile="true" data-speed="0.3">
        <div class="container text-center wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1" style="height:20em;">
              <h1 style="padding-top: 5em;text-shadow: 0 0 40px rgba(0, 0, 0, .9), 0 0 7px rgba(0, 0, 0, .7);">
              </h1>
            </div>
          </div>
        </div>
      </section>
    
    <section id="qui-sommes-nous" class="well-2 le-groupe__qui-sommes-nous">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h1 class="title is-size-2 is-bold">
              Le Groupe Poisson
            </h1>
            <br>
            <p class="text is-size-2">
              Au coeur d'un univers conjuguant l'industrie, le BTP et l'environnement, le Groupe Poisson a développé une gamme de services étendue, depuis la location et l'entretien de matériels TP, les travaux de Génie Civil, de terrassement, de géothermie, de VRD, la maintenance, la réparation et la mise en place de constructions modulaires, jusqu'à l'intérim spécialisé, la formation et le recyclage de matériaux.
            </p>
            <p class="text is-size-2">Dirigé par Denis Poisson, le groupe accorde une grande place à l'humain, mettant l'accent sur les compétences. C’est pourquoi ses clients apprécient depuis plus de 40 ans l’efficacité des prestations des différentes sociétés de ce groupe de PME.
            </p>
            <p class="text is-size-2">Divisé en trois pôles, Location, Travaux et Services, sa vocation est de répondre à vos besoins lors de la mise en œuvre de vos projets.
            </p>
          </div>
        </div>
      </div>
    </section>

      
    <section id="nos-poles" class="gp-cards">
      <div class="gp-cards__background gp-cards__background--left gp-cards__background--blue"></div>
      <div class="gp-cards__background gp-cards__background--right gp-cards__background--white"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 wow fadeInLeft gp-card gp-card--blue">
            <div class="">
              <img src="/assets/voeux-groupepoisson-2018.gif" alt="gif groupe poisson meilleurs voeux">
            </div>
          </div>
          <div class="offset-none col-lg-6 gp-card gp-card--white">
            <h2 class="title is-size-2 is-bold" style="text-align:center">
              Nos pôles
            </h2>
            <div class="gp-card__inner gp-card__inner--right">
              {{> components/poles-block}}
            </div>
          </div>
        </div>
      </div>
    </section>


    <section id="historique" class="green-box">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2 class="title is-size-2 is-bold" style="text-align:center">
              Historique
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 content">
              <p class="text is-size-1 is-bold">1974</p>
              <p class="text is-size-2">1ère location d'une pelle avec chauffeur pour des travaux de terrassement.</p>
              <p class="text is-size-1 is-bold">1980</p>
              <p class="text is-size-2">Création de la marque <strong>Terre-net Poisson</strong> qui propose la location de matériels sans chauffeur.</p>
              <p class="text is-size-1 is-bold">1984</p>
              <p class="text is-size-2">Création de <strong>Maintenance Service</strong> pour l'entretien et la réparation de bungalows  de chantiers.</p>
              <p class="text is-size-1 is-bold">1988</p>
              <p class="text is-size-2">Reprise de <strong>Morel</strong>, entreprise spécialisée dans la location de matériel TP avec chauffeur.</p>
              <p class="text is-size-1 is-bold">1996</p>
              <p class="text is-size-2">Création d'<strong>Axel Génie Civil</strong> qui réalise des ouvrages de Génie Civil liés aux travaux de fondations.</p>
              <p class="text is-size-1 is-bold">1997</p>
              <p class="text is-size-2">Reprise de la société Bernardoni TP, près d'Avignon, qui effectue des travaux de voirie et réseaux, et depuis 2003, du recyclage de matériaux.</p>
              <p class="text is-size-1 is-bold">2000</p>
              <p class="text is-size-2">Création de l'agence de Travail Temporaire <strong>Akela Intérim</strong>, spécialisée dans la mise à disposition de personnel intérimaire pour le bâtiment, le déchet et les Travaux Publics.</p>
              <p class="text is-size-1 is-bold">2001</p>
              <p class="text is-size-2">Rachat de la société <strong>Select Civil</strong>, en Australie, qui loue du matériel, effectue des travaux de terrassement et de Génie Civil.</p>
              <p class="text is-size-1 is-bold">2003</p>
              <p class="text is-size-2">Création de l'activité Recyclage chez Bernardoni TP.</p>
            </div>
            <div class="col-md-6 content">  
              <p class="text is-size-1 is-bold">2007</p>
              <p class="text is-size-2">Reprise de la société Duval à Gretz-Armainvilliers qui réalise du terrassement, des travaux d'assainissement et de voirie.</p>
              <p class="text is-size-1 is-bold">2009</p>
              <p class="text is-size-2">Reprise de la société <strong>Brein Transports</strong>, spécialisée dans le transport exceptionnel.</p>
              <p class="text is-size-1 is-bold">2010</p>
              <p class="text is-size-2">Ouverture de l'agence Grand Ouest située à Grand Fougeray.</p>
              <p class="text is-size-1 is-bold">2011</p>
              <p class="text is-size-2">Reprise de la société <strong>SNDM</strong>, spécialisée dans le négoce de containers.</p>
              <p class="text is-size-1 is-bold">2013</p>
              <p class="text is-size-2">Création de l'organisme de formation et de sécurité au travail <strong>Poisson Formation</strong>.</p>
              <p class="text is-size-1 is-bold">2015</p>
              <p class="text is-size-2">Implantation à Brillon d'un nouveau site Terre-net Groupe Poisson après la reprise de Conemat.</p>
              <p class="text is-size-1 is-bold">2016</p>
              <p class="text is-size-2">Bernardoni TP devient <strong>Axel Sud</strong> et Bernardoni Recyclage devient <strong>Terre-durable</strong>.</p>
              <p class="text is-size-1 is-bold">2016</p>
              <p class="text is-size-2">Modernisation de l'identité graphique du Groupe Poisson en adéquation avec son évolution structurelle.</p>
              <p class="text is-size-1 is-bold">2017</p>
              <p class="text is-size-2">Reprise de <strong>Marcel Equipment Limited</strong>, au Canada, spécialisée dans le rebuilt et le négoce d'engins TP.</p>
            </div>
        </div>
        
      </div>
    </section>


    <section id="infographie" class="well-2 le-groupe__infographie">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="title is-size-2 is-bold">
              Infographie
            </h1>
</div>
              <div><img src="/assets/infographie-groupe-poisson.png" alt="infographie groupe poisson"></div>
          </div>
          </div>
        </div>
      </div>
    </section>


    <section id="implantations" class="well-2 le-groupe__implantations">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="title is-size-2 is-bold">
              Implantations
            </h1>
            </div>
              <div><img src="/assets/implantations-groupe-poisson.png" alt="implantations mondiales groupe poisson"></div>
          </div>
        </div>
      </div>
    </section>


    <section class="well-2 le-groupe__contact">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="title is-size-2 is-bold">
              Contact
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 le-groupe__contact-address--left">
            {{>components/address site="gretz"}}
          </div>
          <div class="col-md-4 le-groupe__contact-address--right">
            {{>components/address site="brillon"}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 le-groupe__contact-address--left">
            {{>components/address site="roquemaure"}}
          </div>
          <div class="col-md-4 le-groupe__contact-address--right">
            {{>components/address site="grand-fougeray"}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <a class="gp-button">Contacter le Groupe Poisson</a>
          </div>
        </div>
      </div>
    </section>


    <section class="gray4-box">
      <div class="container">
        <div class="row flex">
          <div class="col-md-7 wow fadeIn text-card">
            <h2 class="title is-size-2 is-bold">A la Une</h2>
            <h5 class="title is-size-3 is-bold">Belle année 2018 !</h5>
            <p class="text is-size-2">Toute l'équipe du Groupe Poisson vous présente ses meilleurs voeux !</p>
            <div class="text-right">
              <a href="/actualites/0072/belle-annee-2018.html" class="gp-button gp-button--gray">Lire la suite</a>
            </div>
          </div>
          <div class="col-md-4 col-md-offset-1 wow fadeIn download-box" data-wow-delay="0.5s">
            <img src="/assets/plaquettes/groupe-poisson-plaquette.jpg" alt="plaquette groupe poisson">
            <div>
              <a href="/assets/plaquettes/groupe-poisson-plaquette.pdf" target="_blank" class="gp-button gp-button--gray">Télécharger la plaquette</a>
            </div>
          </div>
        </div>

      </div>
    </section>


      
  {{/inline}}
{{/layouts/base}}