{{!-- pages/morel.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Maintenance Service – Vente, montage et entretien de bâtiments modulaires." description="Maintenance Service vous propose la vente, le transport et l'entretien de bâtiments modulaires, neufs ou d'occasion, pour tous vos projets de construction." }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/services">Pôle Services</a></li>
      <li><a href="#">Maintenance Service</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="blue-box">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-3">
            <img src="/assets/pictos_poles/picto-services-blanc.png">
          </div>
          <div class="col-md-9">
            <h1 class="title is-size-1 is-black">
            Maintenance Service
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Vente, montage et entretien de bâtiments modulaires.</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="row">
          <div class="col-md-9 content">
            <img class="left is-one-third" src="/assets/images_pages_entites/brein-transports-camion.jpg">
            <p class="text is-size-2">Maintenance Service est spécialisé, depuis plus de 30 ans, dans la vente, l'entretien et l'aménagement de bâtiments modulaires. Neufs, reconditionnés et d'occasion, les constructions modulaires vous apportent une solution temporaire ou durable à vos besoins.
            </p>
            <h3 class="title is-size-4 is-bold">Réalisation de bâtiments sur-mesure</h3>
            <img class="right is-one-third" src="/assets/images_pages_entites/brein-transports-poids-lourds.jpg">
            <p class="text is-size-2">Assemblage de cellules ou de modules, ou encore constructions monoblocs, Maintenance Service intervient dans la conception, la réalisation et l'aménagement personnalisé de bâtiments sur-mesure. Ces structures, à destination de vos chantiers (bungalow, baraque de chantier, base vie, roulotte), d'un futur lieu scolaire (école, crèche,...) ou encore d'habitation, s'adaptent à vos attentes et spécificités.</p>
            <p class="text is-size-2">Maintenance Service réalise des constructions modulaires normalisées pour répondre à la diversité de vos besoins. Bureaux, écoles ou encore sites classés, les bâtiments construits par Maintenance Service respectent strictement les normes et réglementations en vigueur (Normes ERP, RT 2012, etc.).</p>
            <img class="left is-one-third" src="/assets/images_pages_entites/brein-transports-convois-exceptionnels.jpg">
            <h3 class="title is-size-4 is-bold">Transport/Montage</h3>
            <p class="text is-size-2">Maintenance Service se charge du transport et du montage de vos constructions modulaires sur leur lieu d'implantation. Le transport de votre bâtiment modulaire est assuré (logistique, planification du trajet, convoi exceptionnel) et le montage est réalisé par des techniciens expérimentés, vous garantissant un résultat de qualité.
            </p>
            <h3 class="title is-size-4 is-bold">Maintenance</h3>
            <p class="text is-size-2">Réaménagement, modification, remise en état, simple ou complexe, Maintenance Service assure la maintenance de vos bâtiments modulaires. 
            </p>
            <p class="text is-size-2">Exemple d'opérations de maintenance : dépannage de serrurerie, plomberie, électricité, réfection, réparation, etc.
            </p>
            <p class="text is-size-2">De la réalisation des plans, avec le bureau d'étude, dans le respect de vos besoins et des contraintes légales, en passant par le dépôt du permis, le transport et l'installation, jusqu'à la remise des clés du bâtiment : Maintenance Service vous conseille et vous accompagne dans toutes ces étapes pour définir avec vous un projet clé-en-main.</p>
            <p class="text is-size-2">Maintenance Service met son savoir-faire et son expertise de la construction modulaire au service de ses clients professionnels ou particuliers de tous secteurs (collectivités, mairies, écoles, associations, entreprises du BTP...). Ses techniciens sont formés régulièrement aux travaux de réparation et de soudure des installations de gaz et possèdent les certifications nécessaires aux actions de levage (CACES).</p>
          </div>
          <div class="col-md-3 entite__atout">
            <img src="/assets/atouts_entites/atouts-maintenance-service.png">
          </div>
        </div>
      </div>
    </section>

    <section class="blue4-box">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h3 class="title is-size-4 is-bold">Références clients de Maintenance Service </h3>
            <p class="text is-size-2">COLAS • VINCI • BOUYGUES • EIFFAGE • VILLE DE FRESNES • SADE • KEOLIA • SUEZ • DRON LOCATION
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="blue2-box">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-7 text-card">
            <h2 class="title is-size-2 is-bold">Focus</h2>
            <p class="text is-size-1">Maintenance Service assure le remplacement de pare-brise et vitrages d'engins de chantiers et de matériels industriels. Son département spécialisé intervient sur site dans toute l'Ile-de-France en vous proposant des pièces, si besoin, sur-mesure et sur tous types de machines (levage, TP, travaux ferroviaires...).</p>
          </div>
          <div class="col-md-5 image-box">
            <img src="/assets/images_pages_entites/brein-transports-location-chauffeurs-camions.jpg">
          </div>
        </div>
      </div>
    </section>

    
    <section>
      <div class="container wow fadeInUp">
        <div class="row white-box">
          <div class="col-md-4 text-card">
            <h2 class="title is-size-2 is-bold">Implantation</h2>
            <p class="text is-size-2">Maintenance Service est implanté à Gretz-Armainvilliers dans le département de la Seine-et-Marne (77) et intervient sur toute la France.
            </p>
          </div>
          <div class="col-md-4 image-box">
            <img src="/assets/cartes/implantation-maintenance-service.png">
          </div>
          <div class="col-md-4 entite__address">
            {{>components/address site="maintenance-service" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button gp-button--green-border" href="">Contacter Maintenance Service</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="blue3-box">
      <div class="container">
        <div class="row flex">
          <div class="col-md-7 wow fadeIn text-card">
            <h2 class="title is-size-2 is-bold">On en parle</h2>
            <h5 class="title is-size-3 is-bold">Maintenance Service participe au téléthon 2015 !</h5>
            <p class="text is-size-2">Initialement prévu sur le Champs de Mars, l'ensemble des bâtiments a finalement été monté à l'Hippodrome de Longchamps Paris 16ème suite aux attentats du 13 novembre.</p>
            <div class="text-right">
              <a href="/on-en-parle.html" class="gp-button gp-button--gray">Lire la suite</a>
            </div>
          </div>
          <div class="col-md-5 offset-none wow fadeIn download-box" data-wow-delay="0.5s">
            <img src="/assets/plaquettes/groupe-poisson-plaquette.jpg">
            <div>
              <a href="/assets/plaquettes/groupe-poisson-plaquette.pdf" target="_blank" class="gp-button gp-button--gray">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>



      
  {{/inline}}
{{/layouts/base}}