{{!-- pages/morel.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Maintenance Service – Vente, montage et entretien de bâtiments modulaires." description="Maintenance Service vous propose la vente, le transport et l'entretien de bâtiments modulaires, neufs ou d'occasion, pour tous vos projets de construction." }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/services">Pôle Services</a></li>
      <li><a href="#">Maintenance Service</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="blue-box">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row">
          <div class="item-3">
            <img src="/assets/pictos_poles/picto-services-blanc.png" alt="picto services groupe poisson" class="entite__picto-pole">
          </div>
          <div class="item-9">
            <h1 class="title is-size-1 is-black">
            Maintenance Service
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Vente, montage et entretien de bâtiments modulaires.</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
          <div class="item-9 content">
            <div class="clearfix">
            <img class="left is-one-third" src="/assets/images_pages_entites/maintenance-service-construction-modulaire.jpg" alt="maintenance service construction modulaire">
            <p class="text is-size-2">Maintenance Service est spécialisé, depuis plus de 30 ans, dans la vente, l'entretien, le transfert et l'aménagement de bâtiments modulaires. Neufs, reconditionnés et d'occasion, les constructions modulaires vous apportent une solution temporaire ou durable selon vos besoins.
            </p>
            </div>
            <div class="clearfix">
            <img class="right is-one-third" src="/assets/images_pages_entites/maintenance-service-module-amenagement.jpg" alt="aménégement de module et batiment maintenance service">
            <h3 class="title is-size-4 is-bold">Réalisation de bâtiments sur-mesure</h3>
            <p class="text is-size-2">Maintenance Service réalise des constructions modulaires normalisées pour répondre à la diversité de vos besoins. Bureaux, écoles ou encore sites classés, les bâtiments construits par Maintenance Service respectent strictement les normes et réglementations en vigueur (Normes ERP, RT 2012, etc.).</p>
            </div>
            <div class="clearfix">
            <img class="right is-one-third" src="/assets/images_pages_entites/maintenance-service-batiment-modulaire.jpg" alt="construction de batiments modulaires maintenance service">
            <p class="text is-size-2">Assemblage de cellules ou de modules, ou encore constructions monoblocs, Maintenance Service intervient dans la conception, la réalisation et l'aménagement de bâtiments sur-mesure. Ces structures, à destination de vos chantiers (bungalow, base vie, roulotte), d'un futur lieu scolaire (école, crèche, ...) ou encore d'habitation, s'adaptent à vos attentes et spécificités.</p>
            </div>
            <div class="clearfix">
            <img class="left is-one-third" src="/assets/images_pages_entites/maintenance-service-montage.jpg" alt="maintenance service montage et transfert">
            <h3 class="title is-size-4 is-bold">Transport/Montage</h3>
            <p class="text is-size-2">Maintenance Service se charge du transport et du montage de vos bâtiments modulaires sur leur lieu d'implantation. Le transport est pris en charge (logistique, planification du trajet, convoi exceptionnel) et le montage est réalisé par des techniciens expérimentés, vous garantissant un résultat de qualité.
            </p>
            </div>
            <div class="clearfix">
              <img class="right is-one-third" src="/assets/images_pages_entites/maintenance-service-reparation.jpg" alt="maintenance service reparation sur batiment modulaire">
            <h3 class="title is-size-4 is-bold">Maintenance</h3>
            <p class="text is-size-2">Réaménagement, modification, remise en état, simple ou complexe, Maintenance Service assure la maintenance de vos bâtiments modulaires.
            </p>
            <p class="text is-size-2">Exemple d'opérations de maintenance : dépannage de serrurerie, plomberie, électricité, réfection, réparation, etc.
            </p>
            </div>
            <p class="text is-size-2">De la réalisation des plans jusqu'à la remise des clés Maintenance Service vous accompagne et vous conseille dans toutes les étapes (plans, permis de construire, ...) pour définir avec vous un projet clé-en-main.</p>
            <p class="text is-size-2">Maintenance Service met son savoir-faire et son expertise de la construction modulaire au service de ses clients professionnels ou particuliers de tous secteurs (collectivités, mairies, écoles, associations, entreprises du BTP...). Ses techniciens sont formés régulièrement aux travaux de réparation et de soudure des installations de gaz et possèdent les certifications nécessaires aux actions de levage (CACES).</p>
          </div>
          <div class="item-3 entite__atout">
            <img src="/assets/atouts_entites/atouts-maintenance-service.png" alt="atouts maintenance service groupe poisson">
          </div>
        </div>
      </div>
    </section>

    <section class="blue4-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12">
            <h3 class="title is-size-4 is-bold">Références clients de Maintenance Service </h3>
            <br>
            <p class="text is-size-2">COLAS • VINCI • BOUYGUES • EIFFAGE • VILLE DE FRESNES • SADE • VEOLIA • SUEZ • DRON LOCATION
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="blue2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Focus</h2>
            <br>
            <p class="text is-size-2">Maintenance Service assure le remplacement de pare-brise et vitrages d'engins de chantiers et de matériels industriels. Son département spécialisé intervient sur site dans toute l'Ile-de-France en vous proposant des pièces d'origine ou adaptable, pour tous types de machines (levage, TP, travaux ferroviaires, ...).</p>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/maintenance-service-vitrage.jpg" alt="maintenance service remplacement pare-brise et vitrage engins chantier">
          </div>
        </div>
      </div>
    </section>

    
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row white-box">
          <div class="item-4 text-box">
            <h2 class="title is-size-2 is-bold">Implantation</h2>
            <br>
            <p class="text is-size-2">Maintenance Service est implanté à Gretz-Armainvilliers dans le département de la Seine-et-Marne (77).
              </p>
              <p class="text is-size-2">Intervention : 300km autour de Paris
            </p>
          </div>
          <div class="item-4 image-box">
            <img src="/assets/cartes/implantation-maintenance-service.png" alt="implantation maintenance service gretz-armainvillier 77">
          </div>
          <div class="item-4 entite__address">
            {{>components/address site="maintenance-service" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button gp-button--green-border" href="/nous-contacter.html?contact=Maintenance Service#contact">Contacter Maintenance Service</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="blue3-box">
      <div class="container">
        <div class="flex-row">
          <div class="item-7 wow fadeIn text-box">
            <h2 class="title is-size-2 is-bold">A la une</h2>
            <h5 class="title is-size-3 is-bold">Belle année 2018 !</h5>
            <p class="text is-size-2">
              Toute l'équipe du Groupe Poisson vous présente ses meilleurs voeux !
            </p>
            <div class="text-box__buttons">
              <a href="/actualites/0072/belle-annee-2018.html" class="gp-button gp-button--gray">Lire la suite</a>
            </div>
          </div>
          <div class="item-fill"></div>
          <div class="item-4 wow fadeIn download-box" data-wow-delay="0.5s">
            <img src="/assets/plaquettes/groupe-poisson-plaquette.jpg" alt="plaquette maintenance service groupe poisson">
            <div>
              <a href="/assets/plaquettes/groupe-poisson-plaquette.pdf" target="_blank" class="gp-button gp-button--gray">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>



      
  {{/inline}}
{{/layouts/base}}