{{#> layouts/base menu="recrutement" title="Groupe Poisson — Mentions légales"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">Mentions légales</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
   

    <section >
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-12">
              <h1 class="title is-size-1 is-black">
                Mentions Légales
              </h1>
              <h2 class="title is-size-3 is-bold">
                Groupe Poisson</p>

<p class="text is-size-3">Poisson SAS au capital de 329 750 €

RCS Melun B 319 984 951
Code APE : 7732 Z
N° de TVA : FR88 319 984 951

N° de SIREN : 319 984 951
Siège social : ZI Ampère - 54 rue de Maison Rouge 77220 GRETZ ARMAINVILLIERS
Tél : 01 64 42 59 50 Fax : 01 64 25 45 90
Email : contact@groupepoisson.com
Denis Poisson est le propriétaire du site www.groupepoisson.com.
Directeur de la publication : Denis Poisson

Pour toute demande concernant un produit ou un service, pour toute suggestion, information, réaction ou en cas de problème technique concernant ce site, veuillez contacter : octave.agence@gmail.com
</p>

<h2 class="title is-size-3 is-bold">Droits d’auteur et copyright</h2>

<p class="text is-size-2">L’ensemble de ce site relève de la législation française sur le droit d’auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents iconographiques, photographiques et téléchargeables.
</p>
<h2 class="title is-size-3 is-bold">Contenus</h2>

<p class="text is-size-2">Ce site n’est pas un site marchand, les informations qui y sont diffusées ne sauraient être considérées comme une offre commerciale et / ou interprétées comme un démarchage.

La société Groupe Poisson s’efforce d’assurer la fiabilité de l’ensemble des informations diffusées sur ce site, dont elle se réserve le droit de modifier ou de corriger, à tout moment et sans préavis, le contenu. Ces informations n’ont pas un caractère contractuel.

Conformément à l’article 34 de la loi « informatique et liberté » du 6 janvier 1978, toute personne citée sur une page du site peut exercer ses droits d’accès, de modification, de rectification ou de suppression des informations le concernant à l’adresse email suivante : octave.agence@gmail.com .
</p>
<h2 class="title is-size-3 is-bold">Liens hypertextes</h2>

<p class="text is-size-2">Les liens hypertextes mis en place dans le cadre du présent site web en direction d’autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité du Groupe Poisson. De même, la simple mention de marque ou de nom de société n’engage pas Le Groupe Poisson sur la qualité réelle ou supposée des produits ou des services rendus.
</p>
<h2 class="title is-size-3 is-bold">Copyright</h2>

<p class="text is-size-2">Ce site a été réalisé par l’agence de communication Octave.
Ce site est la propriété du Groupe Poisson situé ZI Ampère, 54 rue de Maison Rouge 77220 Gretz Armainvilliers

Crédit photos : © Octave 2018 ET © Groupe Poisson 2018 </p>
      </div>
          </div>
        </div>
    </section>


      


    {{> components/map}}
  {{/inline}}

{{/layouts/base}}