{{#> layouts/base menu="recrutement" title="Groupe Poisson — Mentions légales"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">Mentions légales</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
   

    <section >
      <div class="container wow fadeInUp">
          <div class="flex-row">
            <div class="item-12">
              <h1 class="title is-size-2 is-black">
                Mentions Légales
              </h1>
              <h2 class="title is-size-3 is-bold">
                Groupe Poisson</h2>
                <p class="text is-size-2">Poisson SAS au capital de 329 750 €<br>
                RCS Melun B 319 984 951<br>
                Code APE : 7732 Z<br>
                N° de TVA : FR88 319 984 951<br>
                N° de SIREN : 319 984 951<br>
                Siège social : ZI Ampère - 54 rue de Maison Rouge 77220 GRETZ ARMAINVILLIERS<br>
                Tél : 01 64 42 59 50 Fax : 01 64 25 45 90<br>
                Email : contact@groupepoisson.com<br>
                Denis Poisson est le propriétaire du site www.groupepoisson.com<br>
                Directeur de la publication : Poisson SAS<br>
               </p>
               <p class="text is-size-2">Pour toute demande concernant un produit ou un service, pour toute suggestion, information, réaction ou en cas de problème technique concernant ce site, veuillez contacter : octave.agence@gmail.com
               </p>
               <br>
              <h2 class="title is-size-3 is-bold">Droits d’auteur et copyright</h2>
               <br>
               <p class="text is-size-2">L’ensemble de ce site relève de la législation française sur le droit d’auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents iconographiques, photographiques et téléchargeables.
               </p>
               <br>
              <h2 class="title is-size-3 is-bold">Contenus</h2>
               <br>
               <p class="text is-size-2">Ce site n’est pas un site marchand, les informations qui y sont diffusées ne sauraient être considérées comme une offre commerciale et / ou interprétées comme un démarchage.
               La société Groupe Poisson s’efforce d’assurer la fiabilité de l’ensemble des informations diffusées sur ce site, dont elle se réserve le droit de modifier ou de corriger, à tout moment et sans préavis, le contenu. Ces informations n’ont pas un caractère contractuel.
               Conformément à l’article 34 de la loi « informatique et liberté » du 6 janvier 1978, toute personne citée sur une page du site peut exercer ses droits d’accès, de modification, de rectification ou de suppression des informations le concernant à l’adresse email suivante : octave.agence@gmail.com
               </p>
               <br>
              <h2 class="title is-size-3 is-bold">Liens hypertextes</h2>
               <br>
               <p class="text is-size-2">Les liens hypertextes mis en place dans le cadre du présent site web en direction d’autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité du Groupe Poisson. De même, la simple mention de marque ou de nom de société n’engage pas Le Groupe Poisson sur la qualité réelle ou supposée des produits ou des services rendus.
               </p>
               <br>
               <h2 class="title is-size-3 is-bold">Cookies</h2>
               <br>
               <p class="text is-size-2">Ce site utilise Google Analytics, un service d’analyse de site internet fourni par Google Inc. (« Google »). Google Analytics utilise des cookies, qui sont des fichiers texte placés sur votre ordinateur, pour aider le site internet à analyser l’utilisation du site par ses utilisateurs.
               Les données générées par les cookies concernant votre utilisation du site (y compris votre adresse IP) seront transmises et stockées par Google sur des serveurs situés aux Etats-Unis. Google utilisera cette information dans le but d’évaluer votre utilisation du site, de compiler des rapports sur l’activité du site à destination de son éditeur et de fournir d’autres services relatifs à l’activité du site et à l’utilisation d’Internet.
               Google est susceptible de communiquer ces données à des tiers en cas d’obligation légale ou lorsque ces tiers traitent ces données pour le compte de Google, y compris notamment l’éditeur de ce site. Google ne recoupera pas votre adresse IP avec toute autre donnée détenue par Google.
               Vous pouvez désactiver l’utilisation de cookies en sélectionnant les paramètres appropriés de votre navigateur. Cependant, une telle désactivation pourrait empêcher l’utilisation de certaines fonctionnalités de ce site.
               En utilisant ce site internet, vous consentez expressément au traitement de vos données nominatives par Google dans les conditions et pour les finalités décrites ci-dessus.
               </p>
               <br>
              <h2 class="title is-size-3 is-bold">Copyright</h2>
               <br>
               <p class="text is-size-2">Ce site a été réalisé par l’agence de communication Octave.<br>
               Ce site est la propriété du Groupe Poisson situé ZI Ampère, 54 rue de Maison Rouge 77220 Gretz Armainvilliers.<br>
               Crédit photos : © Octave 2018 ET © Groupe Poisson 2018 <br>
               © Fotolia : Kenishirotie - everythingpossible - nd3000</p>
            </div>
          </div>
      </div>
    </section>


      


    {{> components/map}}
  {{/inline}}

{{/layouts/base}}