{{!-- pages/morel.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Morel – Location d'engins de chantiers avec chauffeurs" descriptions="Morel vous propose la location de machines avec chauffeurs pour vos travaux de terrassement, de démolition, d'espaces verts, de fondations et de VRD." }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/location">Pôle Location</a></li>
      <li><a href="#">Morel</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="green-box">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row">
          <div class="item-3">
            <img src="/assets/pictos_poles/picto-location-blanc.png" alt="picto location groupe poisson" class="entite__picto-pole">
          </div>
          <div class="item-9">
            <h1 class="title is-size-1 is-black">
              Morel
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Location d'engins de travaux publics avec chauffeur</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
          <div class="item-9 content">
            <div class="clearfix"><img class="left is-one-third" src="/assets/images_pages_entites/morel-terrassement.jpg" alt="morel terrassement location avec chauffeur">
            <p class="text is-size-2">Depuis 1988, la société Morel propose la location d'engins avec chauffeurs, sur tout le territoire. Son savoir-faire et sa réussite s'appuient sur un parc diversifié de machines, en évolution constante, capables de répondre aux besoins les plus spécifiques, mais aussi sur des opérateurs expérimentés, polyvalents, responsables et régulièrement formés pour répondre aux évolutions du métier.
            </p>
            <p class="text is-size-2">Ses domaines d'applications sont multiples et permettent de couvrir tous types de chantier. A chaque machine son utilité et à chaque besoin son engin.</p>
            </div>
            <div class="clearfix">
            <img class="right is-one-third" src="/assets/images_pages_entites/morel-machine.jpg"  alt="morel location engins avec chauffeur">
            <h3 class="title is-size-4 is-bold">Le terrassement</h3>
            <ul><li><strong>Machines :</strong> Pelles standard et spécifiques (girafe, caméléon, …), chargeurs à chaînes, tombereaux, bulls, compacteurs…</li>
            <li><strong>Equipements :</strong> Guidage 3D, benne preneuse, dent de déroctage, bati-long…</li>
            </ul>
            </div>
            <div class="clearfix">
            <img class="right is-one-third" src="/assets/images_pages_entites/morel-pelle-bras-long.jpg" alt="morel bras long engin chantier">
            <h3 class="title is-size-4 is-bold">La démolition</h3>
            <ul><li><strong>Machines :</strong> Pelles à chaînes, chargeurs à chaînes…</li>
            <li><strong>Equipements :</strong> BRH, cisailles à béton, broyeur à béton…</li>
            </ul>
            <h3 class="title is-size-4 is-bold">Les espaces verts</h3>
            <ul><li><strong>Machines :</strong> Mécalacs, pelles et mini pelles…</li>
            <li><strong>Equipements :</strong> Godet crible, benne preneuse, godet inclinable, tête rotative, fourche…</li>
            </ul>
            <h3 class="title is-size-4 is-bold">Les fondations</h3>
            <ul><li><strong>Machines :</strong> Pelles standard et spécifiques, mini pelles, chargeurs à chaînes…</li>
            <li><strong>Equipements :</strong> Bati-long, benne preneuse, fraise, dent de déroctage…</li>
            </ul>
             </div>
            <h3 class="title is-size-4 is-bold">Les VRD</h3>
            <ul><li><strong>Machines :</strong> Mécalacs, pelles à pneus et à chaînes, chargeurs à chenilles…</li> 
            <li><strong>Equipements :</strong> Godet inclinable, fourche, tête rotative, benne preneuse…</li>
            </ul>
            <p class="text is-size-2">Basée à Gretz-Armainvilliers dans le 77, Morel mise sur la réactivité, le professionnalisme et les solutions sur-mesure pour répondre aux demandes, des TPE comme des grands groupes, en location de matériels avec opérateurs. La satisfaction de la demande client est au cœur de ses préoccupations. Pour y répondre, Morel s'attache à suivre les évolutions technologiques en renouvelant son parc d'engins et d'accessoires toujours plus performants (système de guidage 3D, pesage, équipement Rototilt) et en formant ses conducteurs à ces nouveaux usages.
            </p>
            <p class="text is-size-2">A savoir : Morel propose la location de machines en courte durée et sans chauffeurs. Nous contacter pour en savoir plus.
            </p>
          </div>
          <div class="item-3 entite__atout">
            <img src="/assets/atouts_entites/atouts-morel.png" alt="atouts morel groupe poisson">
          </div>
        </div>
      </div>
    </section>
    
    <section class="green2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Engagements</h2>
            <br>
            <p style="text-align:center" class="text is-size-1">Réactivité</p>
            <p style="text-align:center" class="text is-size-1">Qualité et disponibilité des machines</p>
            <p style="text-align:center" class="text is-size-1">Opérateurs polyvalents</p>
            <p style="text-align:center" class="text is-size-1">Suivi et maintenance technique de qualité</p>
            <p style="text-align:center" class="text is-size-1">France et pays limitrophes</p>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/morel-pelle-cameleon.jpg" alt="morel machine pelle cameleon">
          </div>
        </div>
      </div>
    </section>

<section id="nos-poles" class="green4-box">
  <div class="container">
    <div class="flex-row">
      <div class="item-6 wow fadeInLeft">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/Spy-uzrP5BA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="item-6 content">
        <h2 class="title is-size-2 is-bold">
          La Pelle Caméléon
        </h2>
        <p class="text is-size-2">Munie d'un balancier extensible, la pelle caméléon plonge à la verticale jusqu'à 30m et vous offre, grâce à une cabine montée sur rails et une vitre dans le plancher, un point de vue idéal pour surplomber la fouille. Cette machine répondra parfaitement aux besoins d'évacuation des déblais sur vos chantiers grandes profondeurs.</p>
        <p class="text is-size-2">Caractéristiques techniques :</p>
        <ul>
          <li>Excavation profonde jusqu'à 25 mètres</li>
          <li>Porteur : HITACHI ZAXIS LC 330</li>
          <li>Poids : 45T</li>
          <li>Balancier télescopique</li>
          <li>Benne preneuse de 1300L</li>
          <li>Cadence de reprise élevées</li>
          <li>Cabine coulissante</li>
        </ul>
      </div>
    </div>
  </div>
</section>



    
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row white-box">
          <div class="item-4 text-box">
            <h2 class="title is-size-2 is-bold">Implantation</h2>
            <br>
            <p class="text is-size-2">Morel est implanté à Gretz-Armainvilliers dans le département de la Seine-et-Marne (77).
            </p>
          </div>
          <div class="item-4 image-box">
            <img src="/assets/cartes/implantation-morel.png" alt="implantation morel gretz-armaivilliers 77">
          </div>
          <div class="item-4 entite__address">
            {{>components/address site="morel" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button" href="/nous-contacter.html?contact=Morel#contact">Contacter Morel</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="green3-box">
      <div class="container">
        <div class="flex-row">
          <div class="item-7 wow fadeIn text-box">
            <h2 class="title is-size-2 is-bold">A la Une</h2>
            <h5 class="title is-size-3 is-bold">Nouvelle acquisition : la Zaxis135US-5B !</h5>
            <p class="text is-size-2">Afin de répondre aux exigences du secteur, Morel a enrichi son parc de machines d’une pelle tunnel Zaxis135US-5B, commercialisée par HITACHI.</p>
            <div class="text-box__buttons">
              <a href="/on-en-parle.html" class="gp-button gp-button--gray">Lire la suite</a>
            </div>
          </div>
          <div class="item-fill"></div>
          <div class="item-4 wow fadeIn download-box" data-wow-delay="0.5s">
            <img src="/assets/plaquettes/Morel-Fiche.png" alt="plaquette morel groupe poisson">
            <div>
              <a href="/assets/plaquettes/Morel-Fiche.pdf" target="_blank" class="gp-button gp-button--gray">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>



      
  {{/inline}}
{{/layouts/base}}