{{!-- pages/morel.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Morel – Location d'engins de chantiers avec chauffeurs" descriptions="Morel vous propose la location de machines avec chauffeurs pour vos travaux de terrassement, de démolition, d'espaces verts, de fondations et de VRD." }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/location">Pôle Location</a></li>
      <li><a href="#">Morel</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="green-box">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-3">
            <img src="/assets/pictos_poles/picto-location-blanc.png">
          </div>
          <div class="col-md-9">
            <h1 class="title is-size-1 is-black">
              Morel
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Location d'engins de travaux publics avec chauffeur</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-9 entite__article">
            <img class="left is-half" src="/assets/images_pages_entites/morel-terrassement.JPG">
            <p class="text is-size-2">Depuis 1988, la société Morel propose la location d'engins avec chauffeurs, sur tout le territoire. Son savoir-faire et sa réussite s'appuient sur un parc diversifié de machines, en évolution constante, capables de répondre aux besoins les plus spécifiques, mais aussi sur des opérateurs expérimentés, polyvalents, responsables et régulièrement formés pour répondre aux évolutions du métier.
            </p>
            <p class="text is-size-2">Ses domaines d'applications sont multiples et permettent de couvrir tous types de chantier. A chaque machine son utilité et à chaque besoin son engin.</p>
            <h3 class="title is-size-4 is-bold">Le terrassement</h3>
            <img class="right is-half" src="/assets/images_pages_entites/morel-machine.JPG">
            <p class="text is-size-2">Machines : Pelles standard et spécifiques (girafe, caméléon, …), chargeurs à chaînes, tombereaux, bulls, compacteurs, ...
            </p>
            <p class="text is-size-2">Equipements : Guidage 3D, benne preneuse, dent de déroctage, bati-long, …
            </p>
            <h3 class="title is-size-4 is-bold">La démolition</h3>
            <p class="text is-size-2">Machines : Pelles à chaînes, chargeurs à chaînes, ...
            </p>
            <p class="text is-size-2">Equipements : BRH, cisailles à béton, broyeur à béton, ...
            </p>
            <h3 class="title is-size-4 is-bold">Les espaces verts</h3>
            <img class="left is-one-third" src="/assets/images_pages_entites/morel-bras-long.JPG">
            <p class="text is-size-2">Machines : Mécalacs, pelles et mini pelles, ...
            </p>
            <p class="text is-size-2">Equipements : Godet crible, benne preneuse, godet inclinable, tête rotative, fourche …
            </p>
            <h3 class="title is-size-4 is-bold">Les fondations</h3>
            <p class="text is-size-2">Machines : Pelles standard et spécifiques, mini pelles, chargeurs à chaînes, ...
            </p>
            <p class="text is-size-2">Equipements : Bati-long, benne preneuse, fraise, dent de déroctage, …
            </p>
            <h3 class="title is-size-4 is-bold">Les VRD</h3>
            <p class="text is-size-2">Machines : Mécalacs, pelles à pneus et à chaînes, chargeurs à chenilles, …
            </p>
            <p class="text is-size-2">Equipement : Godet inclinable, fourche, tête rotative, benne preneuse, ...
            </p>
            <p class="text is-size-2">Basée à Gretz-Armainvilliers dans le 77, Morel mise sur la réactivité, le professionnalisme et les solutions sur-mesure pour répondre aux demandes, des TPE comme des grands groupes, en location de matériels avec opérateurs. La satisfaction de la demande client est au cœur de ses préoccupations. Pour y répondre, Morel s'attache à suivre les évolutions technologiques en renouvelant son parc d'engins et d'accessoires toujours plus performants (système 3D, guidage, pesage, équipement Rototilt) et en formant ses conducteurs à ces nouveaux usages.
            </p>
            <p class="text is-size-2">A savoir : Morel propose la location de machines en courte durée et sans chauffeurs. Nous contacter pour en savoir plus.
            </p>
          </div>
          <div class="col-md-3 entite__atout">
            <img src="/assets/atouts_entites/atouts-morel.png">
          </div>
        </div>
      </div>
    </section>
    
    <section class="no-spacing green2-box">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-7 text-card">
            <h2 class="title is-size-2 is-bold">Engagements</h2>
            <p style="text-align:center" class="text is-size-1">Réactivité</p>
            <p style="text-align:center" class="text is-size-1">Qualité et disponibilité des machines</p>
            <p style="text-align:center" class="text is-size-1">Opérateurs polyvalents</p>
            <p style="text-align:center" class="text is-size-1">Suivi et maintenance technique de qualité</p>
          </div>
          <div class="col-md-5 image-box">
            <img src="/assets/images_pages_entites/morel-pelle-cameleon.JPG">
          </div>
        </div>
      </div>
    </section>
    
    <section class="no-spacing">
      <div class="container wow fadeInUp">
        <div class="row white-box">
          <div class="col-md-4 text-card">
            <h2 class="title is-size-2 is-bold">Implantation</h2>
            <p class="text is-size-2">Morel est implanté à Gretz-Armainvilliers dans le département de la Seine-et-Marne (77).
            </p>
          </div>
          <div class="col-md-4 image-box">
            <img src="/assets/cartes/implantation-morel.png">
          </div>
          <div class="col-md-4 entite__address">
            {{>components/address site="morel" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button gp-button--green-border" href="">Contacter Morel</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="green3-box">
      <div class="container wow fadeInUp">
        <div class="row flex">
          <div class="col-md-8 text-card">
            <h2 class="title is-size-2 is-bold">A la une</h2>
            <h5>Lorem ipsum</h5>
            <p class="text is-size-2">
              Ut et ante tincidunt, tempus dui in, sollicitudin nisl. Morbi maximus, mauris eu efficitur sollicitudin.
            </p>
            <div class="text-right">
              <a href="/morel.html">Lire la suite</a>
            </div>
          </div>
          <div class="col-md-4 download-box">
            <img src="https://unsplash.it/350/200/">
            <div>
              <a class="gp-button gp-button--gray">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>



      
  {{/inline}}
{{/layouts/base}}