{{#> layouts/base menu="pourquoi-le-groupe-poisson" title="Groupe Poisson — Pourquoi travailler au sein du Groupe Poisson ?" description="Intégrer un petit Groupe qui a une personnalité, une histoire et des valeurs et bénéficier de nombreux avantages"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">Nos valeurs</a></li>
  {{/inline}}


  {{#*inline "main-block"}}
  <section class="parallax well-1" data-url="assets/parallaxe/machines.jpg" data-mobile="true" data-speed="0.3">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row flex-row--centered">
          <div class="item-10" style="height:20em;">
            <h1 style="padding-top: 5em;text-shadow: 0 0 40px rgba(0, 0, 0, .9), 0 0 7px rgba(0, 0, 0, .7);">
            </h1>
          </div>
        </div>
      </div>
    </section>


    <section class="grey1-box">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <h1 class="title is-size-2 is-bold">
                Les valeurs du Groupe Poisson
              </h1>
              </div>
          </div>
      </div>

    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
          <div class="item-10 content">
              <h2>
                Les engagements du Groupe Poisson
              </h2>
          </div>
        </div>
        <div class="flex-row">
            <div>
              <div>
                <br>
                <p class="text is-size-2">
                Le Groupe Poisson s'engage ! Pour la sécurité de ses collaborateurs, pour la diversité, pou l'égalité des chances et pour l'écologie.
                </p>
                <br>
              </div>
            </div>
        </div>
      </div>
    </section>

    <section class="blue1-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/axel-duval-murettes-guides.jpg" alt="Groupe Poisson formation professionnelle">
          </div>
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Engagements RSE</h2>
            <br>
            <p class="text is-size-2">Des abeilles sur le site de Gretz-Armainvilliers, l'implication de Select Civil dans l'association Future Forest, des partenariats avec des prestataires éco-responsables (Quick MS, Schred it...), la récupération du papier pour planter des arbres en échange, le Groupe Poisson s'implique pour l'avenir et la protection de la planète. Mais pas que ! Le Groupe Poisson agit également en tant que mécèn ou participant dans des courses soliadaires (4L Trophy, La Parisienne) et met en place des référentiers sécurité pour assurer la protection de ses collaborateurs.
              Action pour le handicap : accueil régulier de stagiaires, participation à la semaine pour l'emploi des personnes handicapées embauche de personnes handicpées.
              Action pour l'insertion professionnelle : promotion de nos métiers auprès de publics prioritaires, partenairat avec ProEmploi.</p>
          </div>
        </div>
      </div>
    </section>


    <section class="gray2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Mobilité interne et externe</h2>
            <br>
            <p class="text is-size-2">Nous souhaitons mettre à disposition de tous nos collaborateurs des possibilités de mobilité entre nos différentes agences et filiales, en France ou à l'étranger, mais aussi entre les métiers grâce à des formations adaptées. Nous leur permettons de saisir les opportunités professionnelles qui participeront à l'atteinte de leurs objectifs de carrière.</p>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/axel-duval-murettes-guides.jpg" alt="axel duval specialité murettes guides">
          </div>
        </div>
      </div>
    </section>

    <section class="green-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/axel-duval-murettes-guides.jpg" alt="Groupe Poisson formation professionnelle">
          </div>
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Candidatures atypiques</h2>
            <br>
            <p class="text is-size-2">Persuadés que votre implication et votre envie d'apprendre valent parfois plus qu'un diplôme, nous encourageons les candidatures atypiques. Que vous soyez autodidactes ou en réorientation professionnelle, votre motivation est votre meilleur atout !</p>
          </div>
        </div>
      </div>
    </section>



 <section class="blue-box">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <h1 class="title is-size-2 is-bold">
                Locaux / implantations
              </h1>
            </div>
          </div>
          <div class="flex-row flex-row--centered">
            <div class="recrutement__nav-text text-center">
              <p class="text is-size-2">
                texte
                + 3 colonnes avec photos
              </p>
            </div>
          </div>
      </div>
    </section>
  


  {{> components/map}}

      
  {{/inline}}

{{/layouts/base}}