{{#> layouts/base menu="nos-metiers" title="Groupe Poisson — Nos métiers" description=" "}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">Nos métiers</a></li>
  {{/inline}}


  {{#*inline "main-block"}}
  <section class="parallax well-1" data-url="assets/parallaxe/machines.jpg" data-mobile="true" data-speed="0.3">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row flex-row--centered">
          <div class="item-10" style="height:20em;">
            <h1 style="padding-top: 5em;text-shadow: 0 0 40px rgba(0, 0, 0, .9), 0 0 7px rgba(0, 0, 0, .7);">
            </h1>
          </div>
        </div>
      </div>
    </section>

    <section class="recrutement__nav">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <h1 class="title is-size-2 is-bold">
                Les métiers du Groupe Poisson
              </h1>
            </div>
          </div>
          <div class="flex-row flex-row--centered">
            <div class="recrutement__nav-text text-center">
              <p class="text is-size-2">
                Le Groupe et ses entreprises proposent un large éventail de métiers. Chacun d'entre eux contribuent à répondre efficacement et avec compétence aux demandes de nos clients.
                Nous sommes constamment à la recherche de nouveaux profils et talents.
              </p>
            </div>
            <div class="item-4 recrutement__nav-buttons">
              <a href="/offres-emploi" class="gp-button gp-button--gray">Consulter nos offres</a>
            </div>
          </div>
      </div>
    </section>



<section class="blue3-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Mécanique</h2>
            <br>
            <ul class="text is-size-3">
              <li>Respponsable atelier</li>
              <li>Soudeur(deuse), Chaudronnier(ière)</li>
              <li>Responsable tehnique</li>
              <li>Mécanicien(ne) TP ou agicole, sédentaire et itinérant</li>
              <li>Technicien(ne) de maintenance polyvalent</li>
              <li>Gardien(ne)</li>
            </ul>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/axel-duval-murettes-guides.jpg" alt="axel duval specialité murettes guides">
          </div>
        </div>
      </div>
    </section>

<section class="blue3-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Travaux publics</h2>
            <br>
            <ul class="text is-size-3">
              <li>Chef(fe) de chantier</li>
              <li>Chef(fe) d'équipe TP</li>
              <li>Chef(fe) d'équipe Génie Civil</li>
              <li>Chef(fe) d'équipe VRD</li>
              <li>Conducteur de travaux</li>
              <li>Chauffeur(e) PL, PL Grue et SPL</li>
              <li>Chauffeur(e) porte char</li>
              <li>Conducteur(trice) d'engins</li>
              <li>Canalisateur(trice)</li>
              <li>Coffreur/boiseur</li>
            </ul>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/axel-duval-murettes-guides.jpg" alt="axel duval specialité murettes guides">
          </div>
        </div>
      </div>
    </section>

<section class="blue3-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Recyclage</h2>
            <br>
            <ul class="text is-size-3">
              <li>Responsable Industrie Recyclage</li>
            </ul>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/axel-duval-murettes-guides.jpg" alt="axel duval specialité murettes guides">
          </div>
        </div>
      </div>
    </section>

<section class="blue3-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Administratif / Fonctions support / Transverse</h2>
            <br>
            <ul class="text is-size-3">
              <li>Gestionnaire de paie</li>
              <li>Chargé(e) des ressources humaines</li>
              <li>Consultant(e) en recrutement</li>
              <li>Assistant(e) planning</li>
              <li>Assistant(e) SAV</li>
              <li>Comptable</li>
              <li>Responsable d'agence</li>
              <li>Manager</li>              
              <li>Directeur de filiale</li>
            </ul>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/axel-duval-murettes-guides.jpg" alt="axel duval specialité murettes guides">
          </div>
        </div>
      </div>
    </section>

<section class="blue3-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Commercial</h2>
            <br>
            <ul class="text is-size-3">
              <li>Chargé(e) d'affaires / chargé(e) d'études</li>
              <li>Commercial</li>
              <li>Assistant commercial</li>
            </ul>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/axel-duval-murettes-guides.jpg" alt="axel duval specialité murettes guides">
          </div>
        </div>
      </div>
    </section>


    <section class="offres-emploi__form-section">
        <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <a id="candidature" ></a>
              <h1>
                Candidature spontanée
              </h1>
            <p class="text is-size-2">Vous pensez que vos compétences peuvent nous intéresser ? Vous souhaitez intégrer l'une de nos entreprises mais aucune offre ne correspond à votre recherche ?
               Joignez votre CV, parlez-nous de vous !  Nous vous recontacterons rapidement.
            </p>
            </div>
          </div>
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <input id="sfws_type" type="hidden" value="Candidature">
              {{> components/form isJobOffer=true}}
            </div>
          </div>
        </div>
    </section>

      
  {{/inline}}

{{/layouts/base}}