{{#> layouts/base menu="Recrutement" title="Groupe Poisson — Nos valeurs" description="Intégrer un petit Groupe qui a une personnalité, une histoire et des valeurs et bénéficier de nombreux avantages"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">Nos valeurs</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
  <section class="parallax well-1" data-url="assets/parallaxe/machines.jpg" data-mobile="true" data-speed="0.3">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row flex-row--centered">
          <div class="item-10" style="height:20em;">
            <h1 style="padding-top: 5em;text-shadow: 0 0 40px rgba(0, 0, 0, .9), 0 0 7px rgba(0, 0, 0, .7);">
            </h1>
          </div>
        </div>
      </div>
    </section>

    <section class="grey1-box">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <h1 class="title is-size-2 is-bold">
                Les valeurs du Groupe Poisson
              </h1>
              </div>
          </div>
      </div>

    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
          <div class="item-10 content">
              <h2>
                Les engagements du Groupe Poisson
              </h2>
          </div>
        </div>
        <div class="flex-row">
            <div>
              <div>
                <p class="text is-size-2">
                Le Groupe Poisson s'engage ! Pour la sécurité de ses collaborateurs, pour la diversité, pou l'égalité des chances et pour l'écologie.
                </p>
              </div>
            </div>
        </div>
      </div>
    </section>

    <section class="blue1-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/axel-duval-murettes-guides.jpg" alt="Groupe Poisson formation professionnelle">
          </div>
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Engagements RSE</h2>
            <br>
            <p class="text is-size-2">Des abeilles sur le site de Gretz-Armainvilliers, l'implication de Select Civil dans l'association Future Forest, des partenariats avec des prestataires éco-responsables (Quick MS, Schred it...), la récupération du papier pour planter des arbres en échange, le Groupe Poisson s'implique pour l'avenir et la protection de la planète. Mais pas que ! Le Groupe Poisson agit également en tant que mécèn ou participant dans des courses soliadaires (4L Trophy, La Parisienne) et met en place des référentiers sécurité pour assurer la protection de ses collaborateurs.
              Action pour le handicap : accueil régulier de stagiaires, participation à la semaine pour l'emploi des personnes handicapées embauche de personnes handicpées.
              Action pour l'insertion professionnelle : promotion de nos métiers auprès de publics prioritaires, partenairat avec ProEmploi.</p>
          </div>
        </div>
      </div>
    </section>


    <section class="gray2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Egalité Femme / Homme</h2>
            <br>
            <p class="text is-size-2">Le Groupe Poisson s'engage dans l'égalité Femme / Homme, dans les salaires et dans les recrutements. Nous nous assurons de renforcer chaque jour la mixité du groupe et de mettre en lumière les compétences des femmes dans des métiers souvent dits "masculins".
            Du fait de son secteur d'activité, le Groupe Poisson obtient un score non-calculable à l'Index de l'égalité salariale Femmes-Hommes.</p>         
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/axel-duval-murettes-guides.jpg" alt="axel duval specialité murettes guides">
          </div>
        </div>
      </div>
    </section>

    <section class="green-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
            <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/axel-duval-murettes-guides.jpg" alt="axel duval specialité murettes guides">
          </div>
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">La transmission au coeur de nos priorités</h2>
            <br>
            <p class="text is-size-2">Investis dans une politique d'insertion et de formation par l'alternance, nous cherchons à partager nos expériences et à former les futures générations. Intégrer une entreprise dès l'école, c'est se donner la possibilité de découvrir nos métiers et de participer activement à la vie d'une société</p>
          <br>
          Partenariat avec écoles, interventions régulières dans les collèges, lycées et CFA our promouvoir nos métiers, accueil régulier de stagiaires de la 3ème aux écoles d'ingénieurs.
          Tutorat et mentorat.
          Formation continue tout au long de la carrière.
          </div>
        </div>
      </div>
    </section>

    <section class="white-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Diversité</h2>
            <br>
            <p class="text is-size-2">Le Groupe Poisson croit en la diversité et en l'égalité des chances. Nous participons par exemple, chaque année, à la semaine du handicap et accueillons des stagiaires et des jeunes en situation de handicap. Nous participons également à des programmes de réinsertion de réfugiés. Quel que soit votre singularité, vos origines, votre handicap, vous trouverez une place au sein de notre Groupe !</p>
          <br>
          Partenariat avec écoles, interventions régulières dans les collèges, lycées et CFA our promouvoir nos métiers, accueil régulier de stagiaires de la 3ème aux écoles d'ingénieurs.
          Tutorat et mentorat.
          Formation continue tout au long de la carrière.
          </div>
          <div class="item-5 image-box">
          <img src="/assets/images_pages_entites/axel-duval-murettes-guides.jpg" alt="Groupe Poisson formation professionnelle">
          </div>
        </div>
      </div>
    </section>
 
      
  {{/inline}}

{{/layouts/base}}