{{!-- pages/page-one.hbs --}}

{{#> layouts/base menu="contact" title="Groupe Poisson - Contactez-nous !" description="Contacter le Groupe Poisson ou l'une de ses entités"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">Le Groupe</a></li>
  {{/inline}}

  {{#*inline "main-block"}}

<section class="gray1-box">
  <div class="container">
    <div class="row">
      <div class="col-md-12 nous-contacter__form">
        <h2>Contact</h2>
        <a id="contact"></a>
        <input id="sfws_type" type="hidden" value="Contact">
        {{> components/form showSubsidiarySelector=true}}
      </div>
    </div>
  </div>
</section>

{{> components/map}}

<section class="">
  <div class="container">
    <div class="row">
      <div class="col-md-3 nous-contacter__addresses">
        {{>components/address site="gretz"}}
      </div>
      <div class="col-md-3 nous-contacter__addresses">
        {{>components/address site="brillon"}}
      </div>
      <div class="col-md-3 nous-contacter__addresses">
        {{>components/address site="roquemaure"}}
      </div>
      <div class="col-md-3 nous-contacter__addresses">
        {{>components/address site="grand-fougeray"}}
      </div>
      </div>
    </div>
  </div>
</section>


      
  {{/inline}}
{{/layouts/base}}