{{#> layouts/base menu="recrutement" title="Groupe Poisson — Nos offres d'emploi" description="Retrouvez toutes les offres d'emplois disponibles au sein du Groupe Poisson"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="/recrutement.html">Recrutement</a></li>
    <li><a href="#">Nos offres d'emploi</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    <section class="offres-emploi__title-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1>
                Nos offres d'emploi
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              Cupidatat reprehenderit aute duis aliqua amet cupidatat laboris ea dolore labore ad.
              Ut id nulla amet proident eu fugiat consectetur. Irure consequat pariatur est commodo
              officia ullamco voluptate cupidatat. Sit sit nulla incididunt eiusmod in irure eiusmod aute.
            </div>
          </div>
        </div>
    </section>

    <section class="offres-emploi__offres">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1 offers-list">
            JOBS_LIST
          </div>
        </div>
      </div>
    </section>

    <section class="offres-emploi__form-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1>
                Candidature spontanée
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              Cupidatat reprehenderit aute duis aliqua amet cupidatat laboris ea dolore labore ad.
              Ut id nulla amet proident eu fugiat consectetur. Irure consequat pariatur est commodo
              officia ullamco voluptate cupidatat. Sit sit nulla incididunt eiusmod in irure eiusmod aute.
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              { {APPLICATION_FORM} }
            </div>
          </div>
        </div>
    </section>

  {{/inline}}

{{/layouts/base}}