{{#> layouts/base menu="recrutement" title="Groupe Poisson — Nos offres d'emploi" description="Retrouvez toutes les offres d'emplois disponibles au sein du Groupe Poisson"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="/recrutement">Recrutement</a></li>
    <li><a href="#">Nos offres d'emploi</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    <section class="offres-emploi__title-section">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <h1 class="title is-size-2">
                Nos offres d'emploi
              </h1>
            </div>
          </div>
        </div>
    </section>

    <section class="offres-emploi__offres">
      <div class="container wow fadeInUp">
        <div class="flex-row flex-row--centered">
          <div class="item-10 offers-list">
            JOBS_LIST
          </div>
        </div>
      </div>
    </section>

    <section class="offres-emploi__form-section">
        <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <a id="candidature" ></a>
              <h1>
                Candidature spontanée
              </h1>
               <p class="text is-size-2">Vous pensez que vos compétences peuvent nous intéresser ? Vous souhaitez intégrer l'une de nos entreprises mais aucune offre ne correspond à votre recherche ?
               Joignez votre CV, parlez-nous de vous !  Nous vous recontacterons rapidement.
               </p>
             </div>
            </div>
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <input id="sfws_type" type="hidden" value="Candidature">
              {{> components/form isJobOffer=true}}
            </div>
          </div>
        </div>
    </section>

  {{/inline}}

{{/layouts/base}}