{{#> layouts/base menu="" title="Groupe Poisson — On en parle" description="Découvrez toutes les brochures de presse papier ou web qui mettent en avant le Groupe Poisson et ses activités"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="/">Accueil</a></li>
    <li><a href="#">On en parle</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    <section class="offres-emploi__title-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1>
                On en parle
              </h1>
            </div>
          </div>
        </div>
    </section>

    <section class="on-en-parle__articles">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 on-en-parle-list">
              <div class="on-en-parle-list__article">
                <a href="/assets/on_en_parle/CF_WEB_24012017.pdf" target="_blank">"Chantiers de France" (site web) - janv.2017</a>
              </div>
              <div class="on-en-parle-list__article">
                <a href="/assets/on_en_parle/MOREL-Pages-CDFR0493_72.pdf" target="_blank">"Chantiers de France" (n°493) - déc.2016 - Matériels MOREL en action</a>
              </div>
              <div class="on-en-parle-list__article">
                <a href="/assets/on_en_parle/Article_BatiDistri_Poisson_2015-12.pdf" target="_blank">"Bati Distribution" (n°32) - déc.2015/janv-févr.2016</a>
              </div>
              <div class="on-en-parle-list__article">
                <a href="/assets/on_en_parle/MatEnv_Rebuild_dec2013.pdf" target="_blank">"Mat Environnement" (n°50) - Déc. 2013 - Le "Rebuild" fait maison</a>
              </div>
              <div class="on-en-parle-list__article">
                <a href="/assets/on_en_parle/MoniteurMat_D-Poisson_Nov2013.pdf" target="_blank">"Moniteur Matériels" (n°5740) - Nov. 2013 - Portrait Denis Poisson</a>
              </div>
              <div class="on-en-parle-list__article">
                <a href="/assets/on_en_parle/ChantiersFrance_SondesGeo_juillet-aout2013.pdf" target="_blank">"Chantiers de France" (n°461) - Juillet-Août 2013 -Chauffer grâce aux sondes géothermiques</a>
              </div>
              <div class="on-en-parle-list__article">
                <a href="/assets/on_en_parle/INTERNATIONAL_MAG_2012.pdf" target="_blank">"Mag 2012" Rubrique International</a>
              </div>
              <div class="on-en-parle-list__article">
                <a href="/assets/on_en_parle/REBUILT_MAG_2012.pdf" target="_blank">"Mag 2012" Dossier Rebuilt</a>
              </div>
              <div class="on-en-parle-list__article">
                <a href="/assets/on_en_parle/ChantiersDeFrance-Juillet-aout2012.pdf" target="_blank">"Chantiers de France" (n°451) - Juillet-Aout 2012</a>
              </div>
              <div class="on-en-parle-list__article">
                <a href="/assets/on_en_parle/Article-terrenet-matenvironnement.pdf" target="_blank">"Mat Environnement Avril-Mai 2012"</a>
              </div>
              <div class="on-en-parle-list__article">
                <a href="/assets/on_en_parle/ContractorMag_0110.png" target="_blank">Publy reportage dans "Contractor Magazin" - Janv.2010</a>
              </div>
              <div class="on-en-parle-list__article">
                <a href="/assets/on_en_parle/M&CC_161.png" target="_blank">"Matériels & Chantiers" (n°161) - Mars.2007</a>
              </div>
              <div class="on-en-parle-list__article">
                <a href="/assets/on_en_parle/T&C_90.png" target="_blank">"Terrassements & Carrières" (n°90) - Mars.2007</a>
              </div>
              <div class="on-en-parle-list__article">
                <a href="/assets/on_en_parle/T&C_89.png" target="_blank">"Terrassements & Carrières" (n°89) - Fév.2007</a>
              </div>
              <div class="on-en-parle-list__article">
                <a href="/assets/on_en_parle/Travaux_836.png" target="_blank">"Travaux" (n°836) - Déc.2006</a>
              </div>
              <div class="on-en-parle-list__article">
                <a href="/assets/on_en_parle/L&C_158" target="_blank">"Matériels & Chantiers" (n°158) - Nov.2006</a>
              </div>
            </div>
          </div>
        </div>
    </section>

  {{/inline}}

{{/layouts/base}}