{{#> layouts/base menu="" title="Groupe Poisson — On en parle" description="Découvrez toutes les brochures de presse papier ou web qui mettent en avant le Groupe Poisson et ses activités"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="/">Accueil</a></li>
    <li><a href="#">On en parle</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    <section class="offres-emploi__title-section">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <h1>
                On en parle
              </h1>
            </div>
          </div>
        </div>
    </section>

    <section class="on-en-parle__articles">
      <div class="container wow fadeInUp">

          

          <div class="flex-row flex-row--centered">
              <div class="item-1 text-center">
                 <img src="/assets/on_en_parle/waste-management-2019-SC-miniature.png"  alt="article ouest france emploi web akela interim consulting">
                 </div>
              <div class="item-4">
                <a href="/assets/on_en_parle/waste-management-2019-SC.pdf" target="_blank">"Waste Management Review" (site web) - juillet 2019</a>
              </div>
          </div>

          <div class="flex-row flex-row--centered">
              <div class="item-1 text-center">
                 <img src="/assets/on_en_parle/chantiersdefrance-materiel-morel.png"  alt="article chantiers de france morel matériels">
                 </div>
              <div class="item-4">
                <a href="/assets/on_en_parle/chantier-france-2019-morel.pdf" target="_blank">"Chantiers de France" (site web) - janvier 2019</a>
              </div>
          </div>

          <div class="flex-row flex-row--centered">
              <div class="item-1 text-center">
                 <img src="/assets/on_en_parle/ouest-france-akela-102018-miniature.png"  alt="article ouest france emploi web akela interim consulting">
                 </div>
              <div class="item-4">
                <a href="/assets/on_en_parle/ouest-france-akela-102018.pdf" target="_blank">"Ouest France Emploi" (site web) - octobre 2018</a>
              </div>
          </div>

          <div class="flex-row flex-row--centered">
              <div class="item-1 text-center">
                 <img src="/assets/on_en_parle/CF_WEB_24012017.png"  alt="communiqué presse 2017 groupe poisson">
                 </div>
              <div class="item-4">
                <a href="/assets/on_en_parle/CF_WEB_24012017.pdf" target="_blank">"Chantiers de France" (site web) - janv.2017</a>
              </div>
          </div>

          <div class="flex-row flex-row--centered">
              <div class="item-1 text-center">
                 <img src="/assets/on_en_parle/MOREL-Pages-CDFR0493_72.png">
                 </div>
              <div class="item-4">
                <a href="/assets/on_en_parle/MOREL-Pages-CDFR0493_72.pdf" target="_blank">"Chantiers de France" (n°493) - déc.2016 - Matériels MOREL en action</a>
              </div>
          </div>

          <div class="flex-row flex-row--centered">
              <div class="item-1 text-center">
                 <img src="/assets/on_en_parle/Article_BatiDistri_Poisson_2015-12.png">
                 </div>
              <div class="item-4">
                <a href="/assets/on_en_parle/Article_BatiDistri_Poisson_2015-12.pdf" target="_blank">"Bati Distribution" (n°32) - déc.2015/janv-févr.2016</a>
              </div>
          </div>


          <div class="flex-row flex-row--centered">
              <div class="item-1 text-center">
                 <img src="/assets/on_en_parle/MatEnv_Rebuild_dec2013.png">
                 </div>
              <div class="item-4">
                <a href="/assets/on_en_parle/MatEnv_Rebuild_dec2013.pdf" target="_blank">"Mat Environnement" (n°50) - Déc. 2013 - Le "Rebuild" fait maison</a>
              </div>
          </div>


          <div class="flex-row flex-row--centered">
              <div class="item-1 text-center">
                 <img src="/assets/on_en_parle/MoniteurMat_D-Poisson_Nov2013.png">
                 </div>
              <div class="item-4">
                <a href="/assets/on_en_parle/MoniteurMat_D-Poisson_Nov2013.pdf" target="_blank">"Moniteur Matériels" (n°5740) - Nov. 2013 - Portrait Denis Poisson</a>
              </div>
          </div>


          <div class="flex-row flex-row--centered">
              <div class="item-1 text-center">
                 <img src="/assets/on_en_parle/ChantiersFrance_SondesGeo_juillet-aout2013.png">
                 </div>
              <div class="item-4">
                <a href="/assets/on_en_parle/ChantiersFrance_SondesGeo_juillet-aout2013.pdf" target="_blank">"Chantiers de France" (n°461) - Juillet-Août 2013 -Chauffer grâce aux sondes géothermiques</a>
              </div>
          </div>


          <div class="flex-row flex-row--centered">
              <div class="item-1 text-center">
                 <img src="/assets/on_en_parle/INTERNATIONAL_MAG_2012.png">
                 </div>
              <div class="item-4">
                <a href="/assets/on_en_parle/INTERNATIONAL_MAG_2012.pdf" target="_blank">"Mag 2012" Rubrique International</a>
              </div>
          </div>


          <div class="flex-row flex-row--centered">
              <div class="item-1 text-center">
                 <img src="/assets/on_en_parle/REBUILT_MAG_2012.png">
                 </div>
              <div class="item-4">
                <a href="/assets/on_en_parle/REBUILT_MAG_2012.pdf" target="_blank">"Mag 2012" Dossier Rebuilt</a>
              </div>
          </div>


          <div class="flex-row flex-row--centered">
              <div class="item-1 text-center">
                 <img src="/assets/on_en_parle/ChantiersDeFrance-Juillet-aout2012.png">
                 </div>
              <div class="item-4">
                <a href="/assets/on_en_parle/ChantiersDeFrance-Juillet-aout2012.pdf" target="_blank">"Chantiers de France" (n°451) - Juillet-Aout 2012</a>
              </div>
          </div>


          <div class="flex-row flex-row--centered">
              <div class="item-1 text-center">
                 <img src="/assets/on_en_parle/Article-terrenet-matenvironnement.png">
                 </div>
              <div class="item-4">
                <a href="/assets/on_en_parle/Article-terrenet-matenvironnement.pdf" target="_blank">"Mat Environnement Avril-Mai 2012"</a>
              </div>
          </div>


          <div class="flex-row flex-row--centered">
              <div class="item-1 text-center">
                 <img src="/assets/on_en_parle/ContractorMag_0110-miniature.png">
                 </div>
              <div class="item-4">
                <a href="/assets/on_en_parle/ContractorMag_0110.jpg" target="_blank">Publy reportage dans "Contractor Magazin" - Janv.2010</a>
              </div>
          </div>


          <div class="flex-row flex-row--centered">
              <div class="item-1 text-center">
                 <img src="/assets/on_en_parle/M&C_161-miniature.png">
                 </div>
              <div class="item-4">
                <a href="/assets/on_en_parle/M&C_161.png" target="_blank">"Matériels & Chantiers" (n°161) - Mars.2007</a>
              </div>
          </div>


          <div class="flex-row flex-row--centered">
              <div class="item-1 text-center">
                 <img src="/assets/on_en_parle/T&C_90-miniature.png">
                 </div>
              <div class="item-4">
                <a href="/assets/on_en_parle/T&C_90.png" target="_blank">"Terrassements & Carrières" (n°90) - Mars.2007</a>
              </div>
          </div>


          <div class="flex-row flex-row--centered">
              <div class="item-1 text-center">
                 <img src="/assets/on_en_parle/T&C_89-miniature.png">
                 </div>
              <div class="item-4">
                <a href="/assets/on_en_parle/T&C_89.png" target="_blank">"Terrassements & Carrières" (n°89) - Fév.2007</a>
              </div>
          </div>


          <div class="flex-row flex-row--centered">
              <div class="item-1 text-center">
                 <img src="/assets/on_en_parle/Travaux_836-miniature.png">
                 </div>
              <div class="item-4">
                <a href="/assets/on_en_parle/Travaux_836.png" target="_blank">"Travaux" (n°836) - Déc.2006</a>
              </div>
          </div>


          <div class="flex-row flex-row--centered">
              <div class="item-1 text-center">
                 <img src="/assets/on_en_parle/M&C_158-miniature.png">
                 </div>
              <div class="item-4">
                <a href="/assets/on_en_parle/M&C_158.png" target="_blank">"Matériels & Chantiers" (n°158) - Nov.2006</a>
              </div>
          </div>

        
        </div>
    </section>

  {{/inline}}

{{/layouts/base}}