{{!-- pages/morel.hbs --}}

{{#> layouts/base menu="Accueil" title="Groupe Poisson - Palette" }}

  {{#*inline "main-block"}}
    
    <section>
      <div class="container green1-box" style="padding: 2rem;">
        <div>green1-box</div>
        <div class="is-size-1 has-text-weight-bold">Taille 1 - bold</div>
        <div class="is-size-1 has-text-weight-semibold">Taille 1 - semibold</div>
        <div class="is-size-1 has-text-weight-normal">Taille 1 - normal</div>
        <div class="is-size-1 has-text-weight-light">Taille 1 - light</div>
        
        <div class="is-size-2 has-text-weight-bold">Taille 2 - bold</div>
        <div class="is-size-2 has-text-weight-semibold">Taille 2 - semibold</div>
        <div class="is-size-2 has-text-weight-normal">Taille 2 - normal</div>
        <div class="is-size-2 has-text-weight-light">Taille 2 - light</div>
        
        <div class="is-size-3 has-text-weight-bold">Taille 3 - bold</div>
        <div class="is-size-3 has-text-weight-semibold">Taille 3 - semibold</div>
        <div class="is-size-3 has-text-weight-normal">Taille 3 - normal</div>
        <div class="is-size-3 has-text-weight-light">Taille 3 - light</div>
      </div>
    </section>
    
    <section>
      <div class="container green2-box" style="padding: 2rem;">
        <div>green2-box</div>
        <div class="is-size-1 has-text-weight-bold">Taille 1 - bold</div>
        <div class="is-size-1 has-text-weight-semibold">Taille 1 - semibold</div>
        <div class="is-size-1 has-text-weight-normal">Taille 1 - normal</div>
        <div class="is-size-1 has-text-weight-light">Taille 1 - light</div>
        
        <div class="is-size-2 has-text-weight-bold">Taille 2 - bold</div>
        <div class="is-size-2 has-text-weight-semibold">Taille 2 - semibold</div>
        <div class="is-size-2 has-text-weight-normal">Taille 2 - normal</div>
        <div class="is-size-2 has-text-weight-light">Taille 2 - light</div>
        
        <div class="is-size-3 has-text-weight-bold">Taille 3 - bold</div>
        <div class="is-size-3 has-text-weight-semibold">Taille 3 - semibold</div>
        <div class="is-size-3 has-text-weight-normal">Taille 3 - normal</div>
        <div class="is-size-3 has-text-weight-light">Taille 3 - light</div>
      </div>
    </section>
    
    <section class="">
      <div class="container green3-box" style="padding: 2rem;">
        <div>green3-box</div>
        <div class="is-size-1 has-text-weight-bold">Taille 1 - bold</div>
        <div class="is-size-1 has-text-weight-semibold">Taille 1 - semibold</div>
        <div class="is-size-1 has-text-weight-normal">Taille 1 - normal</div>
        <div class="is-size-1 has-text-weight-light">Taille 1 - light</div>
        
        <div class="is-size-2 has-text-weight-bold">Taille 2 - bold</div>
        <div class="is-size-2 has-text-weight-semibold">Taille 2 - semibold</div>
        <div class="is-size-2 has-text-weight-normal">Taille 2 - normal</div>
        <div class="is-size-2 has-text-weight-light">Taille 2 - light</div>
        
        <div class="is-size-3 has-text-weight-bold">Taille 3 - bold</div>
        <div class="is-size-3 has-text-weight-semibold">Taille 3 - semibold</div>
        <div class="is-size-3 has-text-weight-normal">Taille 3 - normal</div>
        <div class="is-size-3 has-text-weight-light">Taille 3 - light</div>
      </div>
    </section>
    
    <section class="">
      <div class="container green4-box" style="padding: 2rem;">
        <div>green4-box</div>
        <div class="is-size-1 has-text-weight-bold">Taille 1 - bold</div>
        <div class="is-size-1 has-text-weight-semibold">Taille 1 - semibold</div>
        <div class="is-size-1 has-text-weight-normal">Taille 1 - normal</div>
        <div class="is-size-1 has-text-weight-light">Taille 1 - light</div>
        
        <div class="is-size-2 has-text-weight-bold">Taille 2 - bold</div>
        <div class="is-size-2 has-text-weight-semibold">Taille 2 - semibold</div>
        <div class="is-size-2 has-text-weight-normal">Taille 2 - normal</div>
        <div class="is-size-2 has-text-weight-light">Taille 2 - light</div>
        
        <div class="is-size-3 has-text-weight-bold">Taille 3 - bold</div>
        <div class="is-size-3 has-text-weight-semibold">Taille 3 - semibold</div>
        <div class="is-size-3 has-text-weight-normal">Taille 3 - normal</div>
        <div class="is-size-3 has-text-weight-light">Taille 3 - light</div>
      </div>
    </section>
    
    <section class="">
      <div class="container gray1-box" style="padding: 2rem;">
        <div>gray1-box</div>
        <div class="is-size-1 has-text-weight-bold">Taille 1 - bold</div>
        <div class="is-size-1 has-text-weight-semibold">Taille 1 - semibold</div>
        <div class="is-size-1 has-text-weight-normal">Taille 1 - normal</div>
        <div class="is-size-1 has-text-weight-light">Taille 1 - light</div>
        
        <div class="is-size-2 has-text-weight-bold">Taille 2 - bold</div>
        <div class="is-size-2 has-text-weight-semibold">Taille 2 - semibold</div>
        <div class="is-size-2 has-text-weight-normal">Taille 2 - normal</div>
        <div class="is-size-2 has-text-weight-light">Taille 2 - light</div>
        
        <div class="is-size-3 has-text-weight-bold">Taille 3 - bold</div>
        <div class="is-size-3 has-text-weight-semibold">Taille 3 - semibold</div>
        <div class="is-size-3 has-text-weight-normal">Taille 3 - normal</div>
        <div class="is-size-3 has-text-weight-light">Taille 3 - light</div>
      </div>
    </section>
    
    <section class="">
      <div class="container gray2-box" style="padding: 2rem;">
        <div>gray2-box</div>
        <div class="is-size-1 has-text-weight-bold">Taille 1 - bold</div>
        <div class="is-size-1 has-text-weight-semibold">Taille 1 - semibold</div>
        <div class="is-size-1 has-text-weight-normal">Taille 1 - normal</div>
        <div class="is-size-1 has-text-weight-light">Taille 1 - light</div>
        
        <div class="is-size-2 has-text-weight-bold">Taille 2 - bold</div>
        <div class="is-size-2 has-text-weight-semibold">Taille 2 - semibold</div>
        <div class="is-size-2 has-text-weight-normal">Taille 2 - normal</div>
        <div class="is-size-2 has-text-weight-light">Taille 2 - light</div>
        
        <div class="is-size-3 has-text-weight-bold">Taille 3 - bold</div>
        <div class="is-size-3 has-text-weight-semibold">Taille 3 - semibold</div>
        <div class="is-size-3 has-text-weight-normal">Taille 3 - normal</div>
        <div class="is-size-3 has-text-weight-light">Taille 3 - light</div>
      </div>
    </section>
    
    <section class="">
      <div class="container gray3-box" style="padding: 2rem;">
        <div>gray3-box</div>
        <div class="is-size-1 has-text-weight-bold">Taille 1 - bold</div>
        <div class="is-size-1 has-text-weight-semibold">Taille 1 - semibold</div>
        <div class="is-size-1 has-text-weight-normal">Taille 1 - normal</div>
        <div class="is-size-1 has-text-weight-light">Taille 1 - light</div>
        
        <div class="is-size-2 has-text-weight-bold">Taille 2 - bold</div>
        <div class="is-size-2 has-text-weight-semibold">Taille 2 - semibold</div>
        <div class="is-size-2 has-text-weight-normal">Taille 2 - normal</div>
        <div class="is-size-2 has-text-weight-light">Taille 2 - light</div>
        
        <div class="is-size-3 has-text-weight-bold">Taille 3 - bold</div>
        <div class="is-size-3 has-text-weight-semibold">Taille 3 - semibold</div>
        <div class="is-size-3 has-text-weight-normal">Taille 3 - normal</div>
        <div class="is-size-3 has-text-weight-light">Taille 3 - light</div>
      </div>
    </section>
    
    <section class="">
      <div class="container gray4-box" style="padding: 2rem;">
        <div>gray4-box</div>
        <div class="is-size-1 has-text-weight-bold">Taille 1 - bold</div>
        <div class="is-size-1 has-text-weight-semibold">Taille 1 - semibold</div>
        <div class="is-size-1 has-text-weight-normal">Taille 1 - normal</div>
        <div class="is-size-1 has-text-weight-light">Taille 1 - light</div>
        
        <div class="is-size-2 has-text-weight-bold">Taille 2 - bold</div>
        <div class="is-size-2 has-text-weight-semibold">Taille 2 - semibold</div>
        <div class="is-size-2 has-text-weight-normal">Taille 2 - normal</div>
        <div class="is-size-2 has-text-weight-light">Taille 2 - light</div>
        
        <div class="is-size-3 has-text-weight-bold">Taille 3 - bold</div>
        <div class="is-size-3 has-text-weight-semibold">Taille 3 - semibold</div>
        <div class="is-size-3 has-text-weight-normal">Taille 3 - normal</div>
        <div class="is-size-3 has-text-weight-light">Taille 3 - light</div>
      </div>
    </section>
    
    <section class="">
      <div class="container blue1-box" style="padding: 2rem;">
        <div>blue1-box</div>
        <div class="is-size-1 has-text-weight-bold">Taille 1 - bold</div>
        <div class="is-size-1 has-text-weight-semibold">Taille 1 - semibold</div>
        <div class="is-size-1 has-text-weight-normal">Taille 1 - normal</div>
        <div class="is-size-1 has-text-weight-light">Taille 1 - light</div>
        
        <div class="is-size-2 has-text-weight-bold">Taille 2 - bold</div>
        <div class="is-size-2 has-text-weight-semibold">Taille 2 - semibold</div>
        <div class="is-size-2 has-text-weight-normal">Taille 2 - normal</div>
        <div class="is-size-2 has-text-weight-light">Taille 2 - light</div>
        
        <div class="is-size-3 has-text-weight-bold">Taille 3 - bold</div>
        <div class="is-size-3 has-text-weight-semibold">Taille 3 - semibold</div>
        <div class="is-size-3 has-text-weight-normal">Taille 3 - normal</div>
        <div class="is-size-3 has-text-weight-light">Taille 3 - light</div>
      </div>
    </section>
    
    <section class="">
      <div class="container blue2-box" style="padding: 2rem;">
        <div>blue2-box</div>
        <div class="is-size-1 has-text-weight-bold">Taille 1 - bold</div>
        <div class="is-size-1 has-text-weight-semibold">Taille 1 - semibold</div>
        <div class="is-size-1 has-text-weight-normal">Taille 1 - normal</div>
        <div class="is-size-1 has-text-weight-light">Taille 1 - light</div>
        
        <div class="is-size-2 has-text-weight-bold">Taille 2 - bold</div>
        <div class="is-size-2 has-text-weight-semibold">Taille 2 - semibold</div>
        <div class="is-size-2 has-text-weight-normal">Taille 2 - normal</div>
        <div class="is-size-2 has-text-weight-light">Taille 2 - light</div>
        
        <div class="is-size-3 has-text-weight-bold">Taille 3 - bold</div>
        <div class="is-size-3 has-text-weight-semibold">Taille 3 - semibold</div>
        <div class="is-size-3 has-text-weight-normal">Taille 3 - normal</div>
        <div class="is-size-3 has-text-weight-light">Taille 3 - light</div>
      </div>
    </section>
    
    <section class="">
      <div class="container blue3-box" style="padding: 2rem;">
        <div>blue3-box</div>
        <div class="is-size-1 has-text-weight-bold">Taille 1 - bold</div>
        <div class="is-size-1 has-text-weight-semibold">Taille 1 - semibold</div>
        <div class="is-size-1 has-text-weight-normal">Taille 1 - normal</div>
        <div class="is-size-1 has-text-weight-light">Taille 1 - light</div>
        
        <div class="is-size-2 has-text-weight-bold">Taille 2 - bold</div>
        <div class="is-size-2 has-text-weight-semibold">Taille 2 - semibold</div>
        <div class="is-size-2 has-text-weight-normal">Taille 2 - normal</div>
        <div class="is-size-2 has-text-weight-light">Taille 2 - light</div>
        
        <div class="is-size-3 has-text-weight-bold">Taille 3 - bold</div>
        <div class="is-size-3 has-text-weight-semibold">Taille 3 - semibold</div>
        <div class="is-size-3 has-text-weight-normal">Taille 3 - normal</div>
        <div class="is-size-3 has-text-weight-light">Taille 3 - light</div>
      </div>
    </section>
    
    <section class="">
      <div class="container blue4-box" style="padding: 2rem;">
        <div>blue4-box</div>
        <div class="is-size-1 has-text-weight-bold">Taille 1 - bold</div>
        <div class="is-size-1 has-text-weight-semibold">Taille 1 - semibold</div>
        <div class="is-size-1 has-text-weight-normal">Taille 1 - normal</div>
        <div class="is-size-1 has-text-weight-light">Taille 1 - light</div>
        
        <div class="is-size-2 has-text-weight-bold">Taille 2 - bold</div>
        <div class="is-size-2 has-text-weight-semibold">Taille 2 - semibold</div>
        <div class="is-size-2 has-text-weight-normal">Taille 2 - normal</div>
        <div class="is-size-2 has-text-weight-light">Taille 2 - light</div>
        
        <div class="is-size-3 has-text-weight-bold">Taille 3 - bold</div>
        <div class="is-size-3 has-text-weight-semibold">Taille 3 - semibold</div>
        <div class="is-size-3 has-text-weight-normal">Taille 3 - normal</div>
        <div class="is-size-3 has-text-weight-light">Taille 3 - light</div>
      </div>
    </section>


      
  {{/inline}}
{{/layouts/base}}