{{!-- pages/morel.hbs --}}

{{#> layouts/base menu="Accueil" title="Groupe Poisson - Palette" }}

  {{#*inline "main-block"}}
    
    <section>
      <div class="container green1-box" style="padding: 2rem;">
        <div>green1-box</div>
        <div class="title is-size-1 is-black">Taille 1 - Black</div>
        <div class="title is-size-1 is-bold">Taille 1 - Bold</div>
        <div class="title is-size-1 is-light">Taille 1 - Light</div>
        
        <div class="title is-size-2 is-black">Taille 2 - Black</div>
        <div class="title is-size-2 is-bold">Taille 2 - Bold</div>
        <div class="title is-size-2 is-light">Taille 2 - Light</div>
        
        <div class="title is-size-3 is-black">Taille 3 - Black</div>
        <div class="title is-size-3 is-bold">Taille 3 - Bold</div>
        <div class="title is-size-3 is-light">Taille 3 - Light</div>
        
        <div class="title is-size-4 is-black">Taille 4 - Black</div>
        <div class="title is-size-4 is-bold">Taille 4 - Bold</div>
        <div class="title is-size-4 is-light">Taille 4 - Light</div>

        <p class="text is-size-1">Lorem ipsum <strong>dolor</strong> sit amet, <em>consectetur<em> <strong><em>adipiscing</em></strong> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p class="text is-size-2">Lorem ipsum <strong>dolor</strong> sit amet, <em>consectetur<em> <strong><em>adipiscing</em></strong> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      </div>
    </section>
    
    <section>
      <div class="container green1-box" style="padding: 2rem;">
        <div>green1-box</div>
        <p class="text is-size-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </p>
      </div>
    </section>
    
    <section>
      <div class="container green2-box" style="padding: 2rem;">
        <div>green2-box</div>
        <p class="text is-size-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </p>
      </div>
    </section>
    
    <section class="">
      <div class="container green3-box" style="padding: 2rem;">
        <div>green3-box</div>
        <p class="text is-size-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </p>
      </div>
    </section>
    
    <section class="">
      <div class="container green4-box" style="padding: 2rem;">
        <div>green4-box</div>
        <p class="text is-size-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </p>
      </div>
    </section>
    
    <section class="">
      <div class="container gray1-box" style="padding: 2rem;">
        <div>gray1-box</div>
        <p class="text is-size-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </p>
      </div>
    </section>
    
    <section class="">
      <div class="container gray2-box" style="padding: 2rem;">
        <div>gray2-box</div>
        <p class="text is-size-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </p>
      </div>
    </section>
    
    <section class="">
      <div class="container gray3-box" style="padding: 2rem;">
        <div>gray3-box</div>
        <p class="text is-size-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </p>
      </div>
    </section>
    
    <section class="">
      <div class="container gray4-box" style="padding: 2rem;">
        <div>gray4-box</div>
        <p class="text is-size-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </p>
      </div>
    </section>
    
    <section class="">
      <div class="container blue1-box" style="padding: 2rem;">
        <div>blue1-box</div>
        <p class="text is-size-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </p>
      </div>
    </section>
    
    <section class="">
      <div class="container blue2-box" style="padding: 2rem;">
        <div>blue2-box</div>
        <p class="text is-size-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </p>
      </div>
    </section>
    
    <section class="">
      <div class="container blue3-box" style="padding: 2rem;">
        <div>blue3-box</div>
        <p class="text is-size-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </p>
      </div>
    </section>
    
    <section class="">
      <div class="container blue4-box" style="padding: 2rem;">
        <div>blue4-box</div>
        <p class="text is-size-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        </p>
      </div>
    </section>


      
  {{/inline}}
{{/layouts/base}}