{{!-- pages/poisson-formation.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Poisson Formation – Organisme de formation inter et intra entreprise" description="Poisson Formation vous propose des formations électricité, conduite d'équipements de travail, prévention/sécurité et embranchements ferroviaires." }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/services">Pôle Services</a></li>
      <li><a href="#">Poisson Formation</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="blue-box">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row">
          <div class="item-3">
            <img src="/assets/pictos_poles/picto-services-blanc.png" alt="picto services groupe poisson" class="entite__picto-pole">
          </div>
          <div class="item-9">
            <h1 class="title is-size-1 is-black">
            Poisson Formation
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Organisme de formation, sécurité au travail</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
          <div class="item-9 content">
            <div class="clearfix">
            <img class="right is-one-third" src="/assets/images_pages_entites/poisson-formation.jpg" alt="poisson formation entreprise inter intra caces">
            <p class="text is-size-2">Poisson Formation propose une large gamme de formations, courte ou moyenne durée, pour les métiers des secteurs du BTP, du service public et de l'industrie. Ces formations sont destinées aux professionnels comme aux particuliers, qu’ils soient débutants ou en quête de perfectionnement / renouvellement. Répondez aux obligations réglementaires ou faites évoluer vos salariés avec une formation électricité, conduite d'équipements de travail, prévention/sécurité ou encore embranchements ferroviaires.
            </p>
            </div>
            <h3 class="title is-size-4">L'AIPR - Autorisation d'Intervention à Proximité des Réseaux </h3>
            <p class="text is-size-2">L'AIPR est une obligation de compétences, applicable au 1er janvier 2018, pour les personnels intervenant à proximité des réseau. L'objectif : réduire les risques et les dommages pouvant survenir lors de travaux à proximité des réseaux aériens ou enterrés. 
            </p>
            <ul><li><a href="assets/formations/Programme_AIPR_concepteurs_encadrants_operateurs.pdf" target="_blank">Programme AIPR</a>
            </li></ul>
            
            <h3 class="title is-size-4">La conduite des équipements de travail (Autorisation de conduite/CACES®)</h3>
            <p class="text is-size-2">Remplissez les obligations d'autorisation de conduite d'engins mobiles automoteurs ou de levage et prévenez les accidents graves.</p>
            <ul><li>Parcours « conducteur d'engins expert »</a></li>
                <li><a href="assets/formations/CACES_R372m_engins_de_chantiers.pdf" target="_blank">Autorisation de conduite et/ou CACES® R372m engins de chantiers</a></li>
                <li><a href="assets/formations/Programme_CACES_Recyclage_R383m_2_jours.pdf" target="_blank">Autorisation de conduite et/ou CACES® R383m grues mobiles</a></li>
                <li><a href="assets/formations/CACES_R386_Plateformes_Elévatrices_Mobiles_de_Personnes.pdf" target="_blank">Autorisation de conduite et/ou CACES® R386 Plate-formes Élévatrices Mobiles de Personnes</a></li>
                <li><a href="assets/formations/CACES_R389_chariots_a_conducteur_portes.pdf" target="_blank">Autorisation de conduite et/ou CACES® R389 chariots à conducteur porté</a></li>
                <li><a href="assets/formations/CACES_R390_grues auxiliaires.pdf" target="_blank">Autorisation de conduite et/ou CACES® R390 grues auxiliaires</a></li>
                <li><a href="assets/formations/Formation_R423_pontier_elingueur.pdf" target="_blank">Formation R423 Pontier/élingueur</a></li></ul>
            <div class="clearfix">
            <img class="right is-one-third" src="/assets/images_pages_entites/poisson-formation-electricite.jpg" alt="formation électricité">
            <h3 class="title is-size-4 is-bold">L'électricité</h3>
            <p class="text is-size-2">L'habilitation est indispensable pour travailler à proximité ou au contact de l'électricité. Découvrez les programmes Poisson Formation pour l'habilitation électrique.  
            </p>
            <ul><li><a href="assets/formations/Preparation_a_l_habilitation_electrique_non_electricien_BO_HO_HOV.pdf" target="_blank">Préparation à l'habilitation électrique non électricien BO HO HOV : exécutant et chargé de chantier</a></li>
                <li><a href="assets/formations/Preparation_a_l_habilitation_electrique.pdf" target="_blank">Préparation à l'habilitation électrique non électricien BS / BE – Manœuvre</a></li>
                <li><a href="assets/formations/Preparation_a_l_habilitation_electrique_electricien.pdf" target="_blank">Préparation à l'habilitation électrique électricien B1V / B2V / BR / BC – H1V / H2V / HC</a></li>
                <li><a href="assets/formations/Preparation_a_l_habilitation_electrique_véhicules_engins.pdf" target="_blank">Préparation à l'habilitation électrique véhicules / engins électriques B1VL / B2VL / BRL / BCL / B0VL / B1XL / B2XL</a></li></ul>
            </div>
            <h3 class="title is-size-4 is-bold">La prévention/sécurité</h3>
            <p class="text is-size-2">Poisson Formation met en place des programmes de formation pour la prévention et la sécurité sur le lieu de travail ou les chantiers (SST, incendie, gestes et postures).  
            </p>
            <ul>
              <li><a href="assets/formations/Programme_signalisation_balisage_chantiers_temporaires.pdf" target="_blank">Signalisation et balisage des chantiers temporaires</a></li>
              <li><a href="assets/formations/Programme_EPI.pdf" target="_blank">Sensibilisation au port des Equipements de Protection individuelle</a></li>
              <li><a href="assets/formations/Programme_echafaudages_poses_2_jours.pdf" target="_blank">Echafaudages posés suivant R408</a></li>
              <li><a href="assets/formations/Programme_echafaudage_roulant_1_jour.pdf" target="_blank">Echafaudages roulants suivant R457</a></li>
              <li><a href="assets/formations/Programme_SST_initial_et_recyclage.pdf" target="_blank">Sauveteur Secouriste du Travail</a></li>
              <li><a href="assets/formations/Gestes_et_Postures.pdf">Gestes et postures</a></li>
              <li><a href="assets/formations/Programme_ESI.pdf" target="_blank">Incendie (Equipiers de Première Intervention, Evacuation...)</a></li>
            </ul>
            <h3 class="title is-size-4 is-bold">Les embranchements ferroviaires</h3>
            <p class="text is-size-2">A l'issue de cette formation, le stagiaire doit pouvoir être reconduit dans sa fonction de chef de manoeuvre, conducteur d'engin, accrocheur, ou toute fonction relative aux engins de traction.
            </p>
            <ul>
              <li><a href="assets/formations/Programme_Embranchements_Ferroviaire_initiale_4_jours.pdf" target="_blank">Programme embranchements ferroviaires initiales 4 jours</a></li>
              <li><a href="assets/formations/Programme_Embranchements_Ferroviaire_Recyclage_2_jours.pdf" target="_blank">Programme embranchements ferroviaires recyclage 2 jours</a></li>
            </ul>
            <div class="clearfix">
            <img class="left is-one-third" src="/assets/images_pages_entites/poisson-formation-elevateur.jpg" alt="formation conduite d engins">
            <p class="text is-size-2">Chez Poisson Formation, les formateurs sont de véritables professionnels dans leur domaine. Experts dans leurs métiers, possédant une grande connaissance des machines/installations et de leur fonctionnement, ils vous accompagnent tout au long de votre parcours. Ils sont à votre écoute, vous conseillent et vous apportent leurs astuces en parallèle des enseignements théoriques et pratiques indispensables.</p>
            </div>
            <div class="clearfix">
             <img class="left is-one-third" src="/assets/images_pages_entites/poisson-formation-caces.jpg" alt="formations caces entrerises engins">
             <p class="text is-size-2">En fonction de vos attentes et de vos contraintes, les formations sont dispensées en inter ou en intra entreprise. Les formateurs de Poisson Formation peuvent se déplacer pour venir rencontrer vos collaborateurs directement sur leur lieu de travail. Une prise en charge dans nos centres de formation est également possible.</p>
              <p class="text is-size-2">Poisson Formation bénéficie d’un parc de machines très important permettant à ses formateurs de réaliser des sessions de formations sur les différentes catégories de matériels concernées. </p>
            </div>
          </div>
          <div class="item-3 entite__atout">
            <img src="/assets/atouts_entites/atouts-poisson-formation.png" alt="atouts poisson formation groupe poisson">
          </div>
        </div>
      </div>
    </section>

    
<section class="blue3-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12 text-box">
            <h2 class="title is-size-2 is-bold">L'AIPR</h2>
            <br>
            <p class="text is-size-2">Poisson Formation est dorénavant certifié centre d'examen A.I.P.R. (Autorisation d'Intervention à Proximité des Réseaux) par le MEEM (Ministère de l'Environnement, de l'Energie et de la Mer).
            </p>
            <p class="text is-size-2">Obligation réglementaire selon l'article 22 de l'arrêté du 15 Février 2012 modifié relatif à l'exécution des travaux à proximité de certains ouvrages souterrains, aériens ou subaquatiques de transport ou de distribution.</p>
            <p class="text is-size-2">Obligation de disposer d'une Autorisation d'Intervention à Proximité des Réseaux (A.I.P.R.) à compter du 1er Janvier 2018 délivrée par l'employeur après vérification par celui-ci de la bonne acquisition des compétences et de la validation du QCM.</p>
            <p class="text is-size-2"><strong>Durée de validité :</strong> 5 ans</p>
            <p class="text is-size-2"><strong>Public concerné :</strong> opérateurs, concepteurs et encadrants</p>
          </div>
        </div>
      </div>
    </section>


    <section class="blue4-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/poisson-formation-2.jpg" alt="formation théorique entreprise obligatoire">
          </div>
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Témoignage</h2>
            <br>
            <p class="text is-size-2">Depuis 5 ans nos stagiaires sont unanimes quant à la qualité des formateurs chez Poisson Formation ! A l'écoute et patients, ils possèdent une réelle connaissance du métier et des engins : atouts indispensables pour une formation de qualité.</p>
            <p class="text is-size-2 is-bold">Elisabeth ANTOMARCHI, Adjointe de direction en charge de la formation chez SEMANAZ</p>
          </div>
        </div>
      </div>
    </section>




    
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row white-box">
          <div class="item-4 text-box">
            <h2 class="title is-size-2 is-bold">Implantation</h2>
            <br>
            <p class="text is-size-2">Quatre sites vous accueillent :<br>
<strong>Gretz-Armainvilliers</strong>, en région parisienne<br>
<strong>Grand-Fougeray</strong>, situé entre Rennes et Nantes<br>
<strong>Roquemaure</strong>, situé à proximité d’Avignon<br>
<strong>Brillon</strong>, dans le département du Nord<br>
            </p>
          </div>
          <div class="item-4 image-box">
            <img src="/assets/cartes/implantation-poisson-formation.png" alt="implantation poisson formation gretz-armainvilliers 77">
          </div>
          <div class="item-4 entite__address">
            {{>components/address site="poisson-formation" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button gp-button--gray" href="/nous-contacter.html?contact=Poisson Formation#contact">Contacter Poisson Formation</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="blue3-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">A la une</h2>
            <h5 class="title is-size-3 is-bold">La DiRIF a bénéficié d'un programme de formation clé-en-main </h5>
            <p class="text is-size-2">
             L'établissement public DiRIF (Direction des Routes IDF), chargé de l'entretien des routes nationales et des autoroutes non-payantes en Ile-de-France, a fait appel à Poisson Formation pour former 14 de ses agents. Ceux-ci ont bénéficié du protocole de formation sur-mesure mis en place par l'organisme.
            </p>
            <div class="text-box__buttons">
              <a href="/actualites/0081/la-dirif-a-beneficie-d-un-programme-de-formation-cle-en-main.html" class="gp-button gp-button--gray">Lire la suite</a>
            </div>
          </div>
          <div class="item-fill"></div>
          <div class="item-4 download-box">
            <img src="/assets/plaquettes/poisson-formation-plaquette.png" alt="plaquette poisson formation">
            <div>
              <a href="assets/plaquettes/poisson-formation-plaquette.pdf" class="gp-button gp-button--gray" target="_blank">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>



      
  {{/inline}}
{{/layouts/base}}