{{#> layouts/base menu="pourquoi-le-groupe-poisson" title="Groupe Poisson — Pourquoi travailler au sein du Groupe Poisson ?" description="Intégrer un petit Groupe qui a une personnalité, une histoire et des valeurs et bénéficier de nombreux avantages"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">Pourquoi travailler au sein du Groupe Poisson ?</a></li>
  {{/inline}}


  {{#*inline "main-block"}}
  <section class="parallax well-1" data-url="assets/parallaxe/machines.jpg" data-mobile="true" data-speed="0.3">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row flex-row--centered">
          <div class="item-10" style="height:20em;">
            <h1 style="padding-top: 5em;text-shadow: 0 0 40px rgba(0, 0, 0, .9), 0 0 7px rgba(0, 0, 0, .7);">
            </h1>
          </div>
        </div>
      </div>
    </section>


    <section class="grey1-box">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <h1 class="title is-size-2 is-bold">
                Pourquoi travailler au sein du Groupe Poisson ?
              </h1>
              </div>
          </div>
      </div>

    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
          <div class="item-10 content">
              <h3>
                Rejoindre le Groupe Poisson c'est ...
              </h3>
          </div>
        </div>
      <div class="flex-row">
            <div>
              <div>
                <h3>
                  … intégrer un Groupe familial qui a une personnalité, une histoire et des valeurs.
                </h3>
                <br>
                <p class="text is-size-2 text-centered">
                Notre vocation est d’être le partenaire de nos clients dans la mise en place de leur projet à travers nos trois métiers : la location, les travaux et les services.
                Depuis 1974, notre Groupe, ne cesse de se développer et de rechercher l'amélioration de la satisfaction de ses clients. Cela passe par une forte conscience du service rendu et par le fait de placer comme priorité le respect de l'autre, qu'il soit collaborateur, fournisseur ou client. Nos implantations internationales nous permettent de nous ouvrir vers d'autres cultures et d'aures horizons.
                Les collaborateurs (petite enquête in situ) évoquent les points suivants : autonomie, groupe, possibilité de mobilité géographique et mobilité professionnelle (changer de métier au sein du groupe), confiance, sérieux, beau matériel.
                </p>
                <br>
              </div>
     <div class="flex-row">            
              <div>
                <div>
                <h3>
                  … bénéficier de nombreux avantages
                </h3>
                <br>
                <p class="text is-size-2 text-centered">
                Selon votre société ou Convention Collective, vous bénéficiez d'un package d'avantages</p>
                <br>
              <p><li> PERCO : Un plan d'épargne pour la retraite collective pour un contrat retraite optimisé</li>
              <li> Participation : Redistribution des bénéfices de l’entreprise aux salariés, grâce à un système d'épargne collectif.</li>
              <li> Titre restaurant : Titre restaurant ou panier repas selon votre contrat ou votre Convention Collective.</li>
              <li> Prévoyance : Un contrat prévoyance sur-mesure pour se protéger, ainsi que ses proches, en cas d’accident ou de décès.</li>
              <li> CSE : Grâce aux différents CSE du Groupe Poisson vous pouvez bénéficier de chèques cadeaux mariages et naissances, cartes cadeaux Noël, cadeaux divers, et d'une carte avantages sur de nombreux points de vente.</li>
              </ul>
              </p>
              <br>
              <p>Ces avantages peuvent être différents selon l’entreprise à laquelle vous appartenez.</p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>

    <section class="blue1-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/axel-duval-murettes-guides.jpg" alt="Groupe Poisson formation professionnelle">
          </div>
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Formation</h2>
            <br>
            <p class="text is-size-2">La formation professionnelle tient une place importante au sein du Groupe ainsi que les évolutions de carrière. Nous sommes à votre écoute. Junior ou confirmé, nous vous proposons une formation continue personnalisée pour une meilleure adaptabilité sur votre poste et le développement de vos compétences.</p>
          </div>
        </div>
      </div>
    </section>


    <section class="gray2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Mobilité interne et externe</h2>
            <br>
            <p class="text is-size-2">Nous souhaitons mettre à disposition de tous nos collaborateurs des possibilités de mobilité entre nos différentes agences et filiales, en France ou à l'étranger, mais aussi entre les métiers grâce à des formations adaptées. Nous leur permettons de saisir les opportunités professionnelles qui participeront à l'atteinte de leurs objectifs de carrière.</p>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/axel-duval-murettes-guides.jpg" alt="axel duval specialité murettes guides">
          </div>
        </div>
      </div>
    </section>

    <section class="green-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/axel-duval-murettes-guides.jpg" alt="Groupe Poisson formation professionnelle">
          </div>
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Candidatures atypiques</h2>
            <br>
            <p class="text is-size-2">Persuadés que votre implication et votre envie d'apprendre valent parfois plus qu'un diplôme, nous encourageons les candidatures atypiques. Que vous soyez autodidactes ou en réorientation professionnelle, votre motivation est votre meilleur atout !</p>
          </div>
        </div>
      </div>
    </section>



 <section class="blue-box">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <h1 class="title is-size-2 is-bold">
                Locaux / implantations
              </h1>
            </div>
          </div>
          <div class="flex-row flex-row--centered">
            <div class="recrutement__nav-text text-center">
              <p class="text is-size-2">
                texte
                + 3 colonnes avec photos
              </p>
            </div>
          </div>
      </div>
    </section>
  


  {{> components/map}}

      
  {{/inline}}

{{/layouts/base}}