{{#> layouts/base menu="recrutement" title="Groupe Poisson — Processus de recrutement" description="Rejoignez les 400 collaborateurs du Groupe Poisson. Le Groupe Poisson a l’ambition de valoriser et de développer les compétences de chacun, d’offrir des conditions de travail sécurisées et d’assurer un dialogue social adapté."}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">Rejoignez-nous</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
  <section class="parallax well-1" data-url="assets/parallaxe/machines.jpg" data-mobile="true" data-speed="0.3">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row flex-row--centered">
          <div class="item-10" style="height:20em;">
            <h1 style="padding-top: 5em;text-shadow: 0 0 40px rgba(0, 0, 0, .9), 0 0 7px rgba(0, 0, 0, .7);">
            </h1>
          </div>
        </div>
      </div>
    </section>

    <section class="grey1-box">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--left">
            <div class="item-10 text-centered">
              <h1 class="title is-size-2 is-bold">
                Découvrez notre processus de recrutement
              </h1>
               <br>
               <p class="text is-size-2">
              Le recrutement est un échange, une rencontre, un partage. Vous avez des compétences, de l'expérience et des attentes pour votre carrière. De notre côté, nous avons besoi de vous pour participer au succès et au développement de nos entreprises.
              Un processus de recrutement par étape est indispensable pour valider nos motivations mutuelles et déterminer si notre future relation sera fructueuse.</p>
              <br>
              <p>Au sein du Groupe Poisson, le recrutement se fait en 5 étapes :
              </p>
            </div>
          </div>
        </div>

     <div class="recrutement__bullets">
        <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-6 text-left">
              <span>
               Etape 1 : La candidature
              </span>
            <p class="text is-size-2" style="text-align:left">
              Vous avez postulé à l'une de nos offres d'emploi sur notre site ou sur un site de recrutement ?
              Vous avez joint un CV et motivé votre demande ? Votre candidature est en cours d'étude. Cette étape peut durer de quelques jours à quelques semaines.</p>
            <br>
          </div>
        </div>
      </div>
     <div class="recrutement__bullets">
        <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-6 text-left">
              <span>
                Etape 2 : L'acceptation ou le refus de votre candidature
              </span>
            <p class="text is-size-2" style="text-align:left">
              Si votre candidature n'a pas retenu notre attention, vous recevrez rapidement de nos nouvelles pour compléter votre dossier ou pour vous proposer une date pour nous rencontrer.</p>
            <br>
          </div>
        </div>
      </div>
     <div class="recrutement__bullets">
        <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-6 text-left">
              <span>
                Etape 3 : L'entretien avec notre service RH
              </span>
            <p class="text is-size-2" style="text-align:left">
              Notre entretien, en physique ou par visio-conférence, nous permettra de creuser votre profil, d'en apprendre plus sur vous et de déterminer si vous correspondez au poste. De la même manière, cet échange sera aussi l'occasion pour vous de déterminer si notre entreprise vous plaît et ce qu'elle pourrait apporter à votre carrière.</p>
            <br>
          </div>
        </div>
      </div> 
     <div class="recrutement__bullets">
        <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-6 text-left">
              <span>
                Etape 4 : L'entretien avec vos futurs managers
              </span>
            <p class="text is-size-2" style="text-align:left">
              Cette étape peut parfois être fusionnée avec l'étape 3.
              Lors de cette étape, vous rencontrerez votre ou vos futur(s) managers, afin de préciser les missions qui vous seront données et de valider la cohérence entre votre profil et le poste. Vous aurez la possibilité d'aborder tous les apsects relatifs à votre futur environnement de travail et à votre future fonction.</p>
            <br>
          </div>
        </div>
      </div>
     <div class="recrutement__bullets">
        <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-6 text-left">
              <span>
                Etape 4 : La proposition de contrat
              </span>
            <p class="text is-size-2" style="text-align:left">
              Si nous arrivons à cette étape, c'est que nous avons mutuellement envie de travailler ensemble.
              Une offre vous sera proposée. Si vous l'acceptez, le service RH vous recevra pour la signature du contrat.</p>
            <br>
          </div>
        </div>
      </div>            
    </section>

  
    <section class="green4-box">
      <div class="container wow fadeInUp">
          <div class="flex-row">
            <div class="item-12">
              <h1 class="title is-size-2 is-bold" style="text-align:center">
                Conseils et astuces pour maximiser vos chances
              </h1>
              <br>

              <p class="text is-size-2">Remplissez le formulaire en ligne dans son intégralité</p>
              <p class="text is-size-2">Joignez votre CV à jour</p>
              <p class="text is-size-2">N'hésitez pas à compléter votre candidature avec les éventuels documents qui pourraient apporter un plus à votre profil (lettre de recommandations, diplômes, certifications...).</p>
              <p class="text is-size-2">Les "trous" dans le CV, ces périodes pendant lesquelles vous n'avez peut-être pas travaillé, nous intéresse également.</p>
              <p class="text is-size-2">Dans le cadre d'une candidature spontanée, précisez l'entreprise et le type de poste que vous souhaiteriez intégrer.</p>              
              <p class="text is-size-2">Votre candidature est atypique ? Votre profil nous intéresse !</p>
            </div>
          </div>
        </div>
    </section>


      
  {{/inline}}

{{/layouts/base}}