{{#> layouts/base menu="recrutement" title="Groupe Poisson — Rejoignez-nous !" description="Rejoignez les 400 collaborateurs du Groupe Poisson. Le Groupe Poisson a l’ambition de valoriser et de développer les compétences de chacun, d’offrir des conditions de travail sécurisées et d’assurer un dialogue social adapté."}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">Rejoignez-nous</a></li>
  {{/inline}}


  {{#*inline "main-block"}}
  <section class="parallax well-1" data-url="assets/parallaxe/machines.jpg" data-mobile="true" data-speed="0.3">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row flex-row--centered">
          <div class="item-10" style="height:20em;">
            <h1 style="padding-top: 5em;text-shadow: 0 0 40px rgba(0, 0, 0, .9), 0 0 7px rgba(0, 0, 0, .7);">
            </h1>
          </div>
        </div>
      </div>
    </section>


    <section class="recrutement__nav">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <h1 class="title is-size-2 is-bold">
                Rejoignez-nous&nbsp;!
              </h1>
            </div>
          </div>
          <div class="flex-row flex-row--centered">
            <div class="recrutement__nav-text text-center">
              <p class="text is-size-2">
                Le Groupe Poisson recrute et est en recherche perpétuelle de nouveaux talents. Cet espace Carrières vous donnera accès à toutes les informations nécessaires pour mieux nous connaître et pour vous permettre découvrir les offres d'emploi disponibles.
              </p>
            </div>
          </div>
      </div>
    </section>

    <section class="recrutement__bullets">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-6 text-left">
              <span>
                Nous recherchons davantage des personnalités que des diplômes.
              </span>
              <span>
                Les compétences, l'ouverture d'esprit et l’éthique sont les moteurs de nos décisions !
              </span>
            </div>
          </div>
        </div>
    </section>
 
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12">
            <h1 class="title is-size-2 is-bold" style="text-align:center">
              Naviguer dans l'espace carrières !
            </h1>
          </div>
        </div>
      </div>
    </section>



<section>
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12">
            <h1 class="title is-size-2 is-bold" style="text-align:center">
              Nos dernières offres d'emploi
            </h1>
          </div>
        </div>
      </div>
    </section>



    <section class="recrutement__nav">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <h1 class="title is-size-2 is-bold">
                Le Groupe Poisson est en recherche permanente de talents !
              </h1>
            </div>
          </div>
          <div class="flex-row flex-row--centered">
            <div class="item-6 recrutement__nav-text text-center">
              <p class="text is-size-2">
                 Vous êtes mécanicien itinérant ou sédentaire, technico-commercial spécialisé dans les métiers de la location, chauffeur poids-lourds ou encore conducteur d’engins polyvalent ? Votre profil et vos compétences nous intéressent.
                 <br>Contactez-nous dès maintenant. Nous serons ravis d'échanger avec vous sur les opportunités disponibles au sein de notre Groupe.
              </p>
            </div>
            <div class="item-4 recrutement__nav-buttons">
              <a href="/offres-emploi#candidature" class="gp-button gp-button--gray">Candidature spontanée</a>
            </div>
          </div>
        </div>
    </section>

test 1
    <section class="recrutement__nav">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <h1 class="title is-size-2 is-bold">
                Le Groupe Poisson est en recherche permanente de talents !
              </h1>
            </div>
          </div>
          <div class="flex-row">
            <div class="item-6 text-box">
              <p class="text is-size-2">Vous êtes mécanicien itinérant ou sédentaire, technico-commercial spécialisé dans les métiers de la location, chauffeur poids-lourds ou encore conducteur d’engins polyvalent ? Votre profil et vos compétences nous intéressent.</p>
              <p class="text is-size-2">Contactez-nous dès maintenant. Nous serons ravis d'échanger avec vous sur les opportunités disponibles au sein de notre Groupe.</p>
            </div>
            <div class="item-4 recrutement__nav-buttons">
              <a href="/offres-emploi#candidature" class="gp-button gp-button--green2-box">Candidature spontanée</a>
            </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/terre-net-maintenance.jpg" alt="terre-net assistance depannage maintenance engins">
          </div>
        </div>
          </div>
        </div>
    </section>

    <section class="green2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Le Groupe Poisson est en recherche permanente de talents !</h2>
            <p class="text is-size-2">Vous êtes mécanicien itinérant ou sédentaire, technico-commercial spécialisé dans les métiers de la location, chauffeur poids-lourds ou encore conducteur d’engins polyvalent ? Votre profil et vos compétences nous intéressent.</p>
            <p class="text is-size-2">Contactez-nous dès maintenant. Nous serons ravis d'échanger avec vous sur les opportunités disponibles au sein de notre Groupe.</p>
          </div>
          <div class="item-4 recrutement__nav-buttons">
              <a href="/offres-emploi#candidature" class="gp-button gp-button--gray">Candidature spontanée</a>
            </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/terre-net-maintenance.jpg" alt="terre-net assistance depannage maintenance engins">
          </div>
        </div>
      </div>
    </section>

  <section id="nos-poles" class="use-items-as-sections-on-mobile">
  <div class="section__half-background--green2-box"></div>
  <div class="section__half-background--white"></div>
  <div class="container">
    <div class="flex-row flex-row--v-centered">
      <div class="item-6 wow fadeInLeft green2-box">
        <h2 class="title is-size-2 is-bold" style="text-align:center">
          Nos collaborateurs prennent la parole
        </h2>
        <p>trouver nom vidéo !!!</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0kSCNLqLzm4" frameborder="0" allow="autoplay; encrypted-media"></iframe></div>
      <div class="item-6 white-box">
        <h2 class="title is-size-2 is-bold" style="text-align:center">
          Suivez-nous sur les réseaux sociaux !
        </h2>
        </div>
        <div>
        <p>Nous postons régulièrement les actualités du Groupe Poisson sur nos différents réseaux sociaux. Immergez-vous au cœur de nos nombreux métiers et expertises !</p>
      </div>
      <div>Liens</div>
    </div>
  </div>
</section>


  

      
  {{/inline}}

{{/layouts/base}}