{{#> layouts/base menu="recrutement" title="Groupe Poisson — Rejoignez-nous !" description="Rejoignez les 400 collaborateurs du Groupe Poisson. Le Groupe Poisson a l’ambition de valoriser et de développer les compétences de chacun, d’offrir des conditions de travail sécurisées et d’assurer un dialogue social adapté."}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">Rejoignez-nous</a></li>
  {{/inline}}


  {{#*inline "main-block"}}
  <section class="parallax well-1" data-url="assets/parallaxe/machines.jpg" data-mobile="true" data-speed="0.3">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row flex-row--centered">
          <div class="item-10" style="height:20em;">
            <h1 style="padding-top: 5em;text-shadow: 0 0 40px rgba(0, 0, 0, .9), 0 0 7px rgba(0, 0, 0, .7);">
            </h1>
          </div>
        </div>
      </div>
    </section>


    <section class="recrutement__nav">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <h1 class="title is-size-2 is-bold">
                Rejoignez-nous&nbsp;!
              </h1>
            </div>
          </div>
          <div class="flex-row flex-row--centered">
            <div class="recrutement__nav-text text-center">
              <p class="text is-size-2">
                Le Groupe Poisson recrute et est en recherche perpétuelle de nouveaux talents. Cet espace Carrières vous donnera accès à toutes les informations nécessaires pour mieux nous connaître et pour vous permettre découvrir les offres d'emploi disponibles.
              </p>
            </div>
          </div>
      </div>
    </section>

    <section class="recrutement__bullets">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-6 text-left">
              <span>
                Nous recherchons davantage des personnalités que des diplômes
              </span>
              <span>
                Les compétences, l'ouverture d'esprit et l’éthique sont les moteurs de nos décisions
              </span>
            </div>
          </div>
        </div>
    </section>




  
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-12">
            <h1 class="title is-size-2 is-bold" style="text-align:center">
              Naviguer dans l'espace carrières !
            </h1>
          </div>
        </div>
      </div>
    </section>


    <section class="recrutement__nav">
      <div class="container wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10 text-center">
              <h1 class="title is-size-2 is-bold">
                Le Groupe Poisson est en recherche permanente de talents !
              </h1>
            </div>
          </div>
          <div class="flex-row flex-row--centered">
            <div class="item-6 recrutement__nav-text text-center">
              <p class="text is-size-2">
                 Vous êtes mécanicien itinérant ou sédentaire, technico-commercial spécialisé dans les métiers de la location ou encore conducteur d’engins polyvalent ? Votre profil et vos compétences nous intéressent.
                 <br>Contactez-nous dès maintenant. Nous serons ravis d'échanger avec vous sur les opportunités disponibles au sein de notre Groupe.
              </p>
            </div>
            <div class="item-4 recrutement__nav-buttons">
              <a href="/offres-emploi#candidature" class="gp-button gp-button--gray">Candidature spontanée</a>
            </div>
          </div>
        </div>
    </section>


  
    <section class="green4-box">
      <div class="container wow fadeInUp">
          <div class="flex-row">
            <div class="item-12">
              <h1 class="title is-size-2 is-bold" style="text-align:center">
                Notre priorité
              </h1>
              <br>
              <p class="text is-size-2">
                La formation professionnelle tient une place importante au sein du Groupe ainsi que les évolutions de carrière. Nous sommes à votre écoute. Junior ou confirmé, nous vous proposons une formation continue personnalisée pour une meilleure adaptabilité sur votre poste et le développement de vos compétences.
              </p>
              <p class="text is-size-2">De plus, nous souhaitons ouvrir à tous nos collaborateurs des possibilités de mobilité entre nos différentes agences et filiales, en France ou à l'étranger, mais aussi entre les métiers grâce à des formations adaptées. Nous leur permettons de saisir les opportunités professionnelles qui participeront à l'atteinte de leurs objectifs de carrière.</p>
              <p class="text is-size-2">Nous développons également une politique d'insertion et de formation par l'alternance, renforcée par des partenariats privilégiés avec les écoles. Intégrer une entreprise dès l'école c'est se donner la possibilité de découvrir nos métiers, de participer activement à la vie de l'entreprise et de se former au plus tôt pour acquérir les compétences et les expériences idéales pour un début de vie professionnelle réussi.</p>
              <p class="text is-size-2">Persuadé que votre implication et votre envie d'apprendre valent parfois plus qu'un diplôme, nous encourageons les candidatures atypiques. Que vous soyez autodidactes ou en réorientation professionnelle, votre motivation est votre meilleur atout !</p>
            </div>
          </div>
        </div>
    </section>

<section>
      <div class="container wow fadeInUp">
          <div class="flex-row">
            <div class="item-12">
              <h1 class="title is-size-2 is-bold" style="text-align:center">
                Egalité Femmes / Hommes
              </h1>
              <br>
              <p class="text is-size-2">
                Le Groupe Poisson obtient un score non-calculable à l'Index de l'égalité salariale Femmes-Hommes.
              </p>
            </div>
          </div>
        </div>
    </section>

      


    {{> components/map}}
  {{/inline}}

{{/layouts/base}}