{{#> layouts/base menu="recrutement" title="Groupe Poisson — Rejoignez-nous !" description="Rejoignez les 400 collaborateurs du Groupe Poisson. Le Groupe Poisson a l’ambition de valoriser et de développer les compétences de chacun, d’offrir des conditions de travail sécurisées et d’assurer un dialogue social adapté."}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">Rejoignez-nous</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    <section class="recrutement__nav">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1 class="title is-size-2 is-bold">
                Rejoignez-nous&nbsp;!
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-1 recrutement__nav-text text-center">
              <p class="text is-size-2">
                 Découvrez toutes nos offres d'emloi.
                 Si aucune ne vous correspond, vous avez aussi la possibilité de nous envoyer votre candidature spontanée.
              </p>
            </div>
            <div class="col-md-4 recrutement__nav-buttons">
              <a href="" class="gp-button gp-button--gray">Consulter nos offres</a>
              <a href="" class="gp-button gp-button--gray">Candidature spontanée</a>
            </div>
          </div>
        </div>
    </section>

    <section class="recrutement__bullets">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 text-left">
              <span>
                Nous recherchons davantage des personnalités que des diplômes
              </span>
              <span>
                Les compétences, l'ouverture d'esprit et l’éthique sont les moteurs de nos décisions
              </span>
            </div>
          </div>
        </div>
    </section>

    <section class="parallax well-1" data-url="assets/parallaxe/location-morel-terrassement.jpg" data-mobile="true" data-speed="0.3">
        <div class="container text-center wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1" style="height:20em;">
              <h1 style="padding-top: 5em;text-shadow: 0 0 40px rgba(0, 0, 0, .9), 0 0 7px rgba(0, 0, 0, .7);">
              </h1>
            </div>
          </div>
        </div>
      </section>
  
    <section>
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h1 class="title is-size-2 is-bold" style="text-align:center">
              Nos métiers
            </h1>
            <br>
            <p class="text is-size-2">
              La diversité de nos activités nous permet de proposer des offres d'emplois pour de nombreux métiers :
            </p>
            <br>
          </div>
          <div class="row">
            <div class="col-md-6 content">
              <ul>
                <li>Chef de chantier / chef d’équipe TP</li>
                <li>Mécanicien TP ou agricole, sédentaire et itinérant</li>
                <li>Technicien de maintenance polyvalent</li>
                <li>Vitrier</li>
                <li>Soudeur chaudronnier</li>
                <li>Conducteur d’engins</li>
                <li>Maçon Génie Civil</li>
              </ul>
            </div>
            <div class="col-md-6 content">  
              <ul>
                <li>Coffreur-boiseur</li>
                <li>Chef d'équipe Génie Civil</li>
                <li>Chef d'équipe Génie Civil</li>
                <li>Responsable atelier</li>
                <li>Carrossier-peintre</li>
                <li>Chauffeur PL, PL Grue et SPL</li>
                <li>Conducteur de travaux</li>
                <li>Responsable de filiale</li>
                <li>Maçon Génie Civil</li>
                <li>Coffreur-boiseur</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="green4-box">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-12">
              <h1 class="title is-size-2 is-bold" style="text-align:center">
                Notre priorité
              </h1>
              <br>
              <p class="text is-size-2">
                La formation professionnelle tient une place importante au sein du Groupe ainsi que les évolutions de carrière. Nous sommes à votre écoute. Junior ou confirmé, nous vous proposons une formation continue personnalisée pour une meilleure adaptabilité sur votre poste et le développement de vos compétences.
              </p>
              <p class="text is-size-2">De plus, nous souhaitons ouvrir à tous nos collaborateurs des possibilités de mobilité entre nos différentes agences et filiales, en France ou à l'étranger, mais aussi entre les métiers grâce à des formations adaptées. Nous leur permettons de saisir les opportunités professionnelles qui participeront à l'atteinte de leurs objectifs de carrière.</p>
              <p class="text is-size-2">Nous développons également une politique d'insertion et de formation par l'alternance, renforcée par des partenariats privilégiés avec les écoles. Intégrer une entreprise dès l'école c'est se donner la possibilité de découvrir nos métiers, de participer activement à la vie de l'entreprise et de se former au plus tôt pour acquérir les compétences et les expériences idéales pour un début de vie professionnelle réussi.</p>
              <p class="text is-size-2">Persuadé que votre implication et votre envie d'apprendre valent parfois plus qu'un diplôme, nous encourageons les candidatures atypiques. Que vous soyez autodidactes ou en réorientation professionnelle, votre motivation est votre meilleur atout !</p>
            </div>
          </div>
        </div>
    </section>


      


    {{> components/map}}
  {{/inline}}

{{/layouts/base}}