{{!-- pages/page-one.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Groupe Poisson - Pôle Services" }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="#">Pôle Services</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="parallax well-1" data-url="images/parallax01.jpg" data-mobile="true" data-speed="0.7">
    </section>
    
    <section class="well-2 pole__title-section pole__title-section--services">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="title is-size-1 is-black">
              <img src="/assets/pictos_poles/Picto-services.png"> Services
            </h1>

            <p class="text is-size-2">
              Le pôle Services du Groupe Poisson regroupe des entreprises aux activités et produits multiples : intérim spécialisé, formation, transport, réparation et négoce d'habitat modulaire et containers, vente de matériels d'occasion ou encore recyclage de matériaux. Forts de cette pluralité, Akela Intérim, Brein Transports, Maintenance Service, Marcel Equipment Limited, Poisson Formation, SNDM et Terre-durable sont les partenaires idéaux pour une gestion optimale et personnalisée de vos projets.
            </p>
          </div>
        </div>
      </div>
    </section>

      
    <section class="pole__video-section pole__video-section--services">
      <div class="container">
        <div class="row">
          <div class="col-12 wow fadeInLeft">
            <div class="text-center pole__video-wrapper">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/WGrX_Hzt_8I" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>

      
    <section class="well-2 pole__subsidiaries-section pole__subsidiaries-section--services">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2 class="title is-size-2 is-bold">Les sociétés du pôle services</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <img src="/assets/logos/akela.jpg">
            <p class="text is-size-2">
              Agence d'intérim spécialisée dans les métiers du BTP et de l'environnement depuis 17 ans, Akela Intérim est votre partenaire privilégié dans le recrutement de vos futurs collaborateurs. L'agence vous propose la mise à disposition...
            </p><br>
            <a class="gp-button gp-button--blue" href="/akela.html">Découvrir Akela Intérim</a>
          </div>
          <div class="col-md-4">
            <img src="/assets/logos/brein_transports.jpg">
            <p class="text is-size-2">
              Créé en 1970 par René Brein, et repris en 2009 par le Groupe Poisson, Brein Transports est le spécialiste dans l’acheminement de masses indivisibles, tous poids, toutes dimensions, pour les travaux publics et le secteur industriel.
            </p><br>
            <a class="gp-button gp-button--blue" href="/brein-transport.html">Découvrir Brein Transports</a>
          </div>
          <div class="col-md-4">
            <img src="/assets/logos/maintenance_service.jpg">
            <p class="text is-size-2">
              Maintenance Service est spécialisé, depuis plus de 30 ans, dans la vente, l'entretien et l'aménagement de bâtiments modulaires. Neufs, reconditionnés et d'occasion, les constructions modulaires vous apportent...
            </p><br>
            <a class="gp-button gp-button--blue" href="/maintenance-service.html">Découvrir Maintenance Service</a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <img src="/assets/logos/poisson_formation.jpg">
            <p class="text is-size-2">
              
            </p><br>
            <a class="gp-button gp-button--blue" href="/poisson-formation.html">Découvrir Poisson Formation</a>
          </div>
          <div class="col-md-4">
            <img src="/assets/logos/sndm.jpg">
            <p class="text is-size-2">
              SNDM est spécialisé dans la vente, la modification et l'aménagement de containers neufs, de premier voyage ou d'occasion. Pour répondre au plus proche de vos besoins, SNDM vous apporte une solution sur-mesure via...
            </p><br>
            <a class="gp-button gp-button--blue" href="/sndm.html">Découvrir SNDM</a>
          </div>
          <div class="col-md-4">
            <img src="/assets/logos/terre_durable.jpg">
            <p class="text is-size-2">
              Négoce de matériaux recyclés, Terre-durable intervient depuis 2012 dans le sud-est de la France en tant que spécialiste de la valorisation de déchets inertes. Dans une logique de « double fret », vous avez la possibilité de déposer vos matériaux BTP et naturel...
            </p><br>
            <a class="gp-button gp-button--blue" href="/terre-durable.html">Découvrir Terre-durable</a>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <img src="/assets/logos/brein_transport.jpg">
            <p class="text is-size-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p><br>
            <a class="gp-button gp-button--blue" href="https://www.marcelequipment.com/">Découvrir Marcel Equipment Ltd</a>
          </div>
        </div>
      </div>
    </section>


      
  {{/inline}}
{{/layouts/base}}