{{!-- pages/page-one.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Groupe Poisson - Pôle Services" description="Le pôle Services du Groupe Poisson regroupe des entreprises aux activités et produits multiples : intérim spécialisé, formation, transport, réparation et négoce d'habitat modulaire et containers, vente de matériels d'occasion ou encore recyclage de matériaux. Forts de cette pluralité, Akela Intérim, Brein Transports, Maintenance Service, Marcel Equipment Limited, Poisson Formation, SNDM et Terre-durable sont les partenaires idéaux pour une gestion optimale et personnalisée de vos projets"}}

  {{#*inline "breadcrumb-block"}}
      <li><a href="#">Pôle Services</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="parallax well-1" data-url="assets/parallaxe/transport.jpg" alt="pole location groupe poisson" data-mobile="true" data-speed="0.3">
        <div class="container text-center wow fadeInUp">
          <div class="flex-row flex-row--centered">
            <div class="item-10" style="height:20em;">
              <h1 style="padding-top: 5em;text-shadow: 0 0 40px rgba(0, 0, 0, .9), 0 0 7px rgba(0, 0, 0, .7);">
              </h1>
            </div>
          </div>
        </div>
      </section>
    
    <section class="well-2 pole__title-section pole__title-section--services">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row flex-row--centered">
          <div class="item-10">
            <h1 class="title is-size-1 is-black">
              <img src="/assets/pictos_poles/Picto-services.png" class="pole__picto-pole"> Services
            </h1>

            <p class="text is-size-2">
              Le pôle Services du Groupe Poisson regroupe des entreprises aux activités et produits multiples : intérim spécialisé, formation, transport, réparation et négoce d'habitat modulaire et containers, vente de matériels d'occasion ou encore recyclage de matériaux. Forts de cette pluralité, Akela Intérim, Brein Transports, Maintenance Service, Marcel Equipment Limited, Poisson Formation, SNDM et Terre-durable sont les partenaires idéaux pour une gestion optimale et personnalisée de vos projets.
            </p>
          </div>
        </div>
      </div>
    </section>

      
    <section class="well-2 pole__subsidiaries-section pole__subsidiaries-section--services">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row flex-row--centered">
          <div class="item-10">
            <h2 class="title is-size-2 is-bold">Les sociétés du pôle services</h2>
          </div>
        </div>
        <div class="flex-row">
          <div class="item-4">
            <img src="/assets/logos/akela.jpg">
            <p class="text is-size-2">
              Agence d'intérim spécialisée dans les métiers du BTP et de l'environnement depuis 17 ans, Akela Intérim est votre partenaire privilégié dans le recrutement de vos futurs collaborateurs. L'agence vous...
            </p><br>
            <a class="gp-button gp-button--blue" href="/akela-interim.html">Découvrir Akela Intérim</a>
          </div>
          <div class="item-4">
            <img src="/assets/logos/akela-consulting.jpg">
            <p class="text is-size-2">
              Akela Consulting est spécialisée dans l'approche directe pour le recrutement en CDI de profils à fort potentiel. L'agence s'appuie sur plus de 18 ans d'expérience dans les Ressources Humaines pour vous...
            </p><br>
            <a class="gp-button gp-button--blue" href="/akela-consulting.html">Découvrir Akela Consulting</a>
          </div>
          <div class="item-4">
            <img src="/assets/logos/brein_transports.jpg">
            <p class="text is-size-2">
              Créé en 1970 par René Brein, et repris en 2009 par le Groupe Poisson, Brein Transports est le spécialiste dans l’acheminement de masses indivisibles, tous poids, toutes dimensions, pour les travaux...
            </p><br>
            <a class="gp-button gp-button--blue" href="/brein-transports.html">Découvrir Brein Transports</a>
          </div>
        </div>

        <div class="flex-row">
          <div class="item-4">
            <img src="/assets/logos/maintenance_service.jpg">
            <p class="text is-size-2">
              Maintenance Service est spécialisé, depuis plus de 30 ans, dans la vente, l'entretien et l'aménagement de bâtiments modulaires. Neufs, reconditionnés et d'occasion, les constructions modulaires vous...
            </p><br>
            <a class="gp-button gp-button--blue" href="/maintenance-service.html">Découvrir Maintenance Service</a>
          </div>
          <div class="item-4">
            <img src="/assets/logos/poisson_formation.jpg">
            <p class="text is-size-2">
              Poisson Formation propose une large gamme de formations, courte ou moyenne durée, pour les métiers des secteurs du BTP, du service public et de l'industrie. Ces formations sont destinées aux professionnels...
            </p><br>
            <a class="gp-button gp-button--blue" href="/poisson-formation.html">Découvrir Poisson Formation</a>
          </div>
          <div class="item-4">
            <img src="/assets/logos/sndm.jpg">
            <p class="text is-size-2">
              SNDM est spécialisé dans la vente, la modification et l'aménagement de containers neufs, de premier voyage ou d'occasion. Pour répondre au plus proche de vos besoins, SNDM vous apporte une...
            </p><br>
            <a class="gp-button gp-button--blue" href="/sndm.html">Découvrir SNDM</a>
          </div>
        </div>

        <div class="flex-row flex-row--centered">
          <div class="item-4">
            <img src="/assets/logos/terre_durable.jpg">
            <p class="text is-size-2">
              Négoce de matériaux recyclés, Terre-durable intervient depuis 2012 dans le sud-est de la France en tant que spécialiste de la valorisation de déchets inertes. Dans une logique de « double fret », ...
            </p><br>
            <a class="gp-button gp-button--blue" href="/terre-durable.html">Découvrir Terre-durable</a>
          </div>
          <div class="item-4">
            <img src="/assets/logos/logo-marcel-equipment-limited.jpg">
            <p class="text is-size-2">
              A global construction equipment rebuilder that has supplied reconditioned and work ready landfill compactors, earthmoving and construction equipmennt sinc 1976.
            </p><br>
            <a class="gp-button gp-button--blue" href="https://www.marcelequipment.com/" target="_blank">Découvrir Marcel Equipment Ltd</a>
          </div>
        </div>
      </div>
    </section>


      
  {{/inline}}
{{/layouts/base}}