{{!-- pages/morel.hbs --}}

{{#> layouts/base menu="nos-metiers" title="SNDM – Vente et aménagement de containers maritimes et de stockage" description="SNDM vous propose la vente, la modification et l'aménagement de containers neufs, de premier voyage ou d'occasion pour répondre à vos besoins de transport et de stockage." }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/services">Pôle Services</a></li>
      <li><a href="#">SNDM</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="blue-box">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-3">
            <img src="/assets/pictos_poles/picto-services-blanc.png">
          </div>
          <div class="col-md-9">
            <h1 class="title is-size-1 is-black">
            SNDM
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Vente et aménagement de containers maritimes et de stockage</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="row">
          <div class="col-md-9 content">
            <img class="left is-one-third" src="/assets/images_pages_entites/brein-transports-camion.jpg">
            <p class="text is-size-2">SNDM est spécialisé dans la vente, la modification et l'aménagement de containers neufs, de premier voyage ou d'occasion. Pour répondre au mieux à vos besoins, SNDM vous apporte une solution sur-mesure via une large gamme de conteneurs : les Standards, les Spéciaux et les Aménagés.
            </p>
            <h3 class="title is-size-4 is-bold">Containers Standards</h3>
            <img class="right is-one-third" src="/assets/images_pages_entites/brein-transports-poids-lourds.jpg">
            <p class="text is-size-2">Dans un large choix de dimensions et de coloris, les Containers Standards vous permettront de stocker, à l'abri du vol et des intempéries, toutes vos fournitures et denrées précieuses. Ils sont pourvus d'une protection cadenas de série, mais aussi de fermetures de sécurité, pour minimiser le risque d'effraction.</p>
            <p class="text is-size-2">Les conteneurs standards sont équipés :</p>
             <ul>
              <li>d'une porte à deux battants en face avant avec 2 ou 4 barres de fermeture,</li>
              <li>de 4 points d'élingage en partie haute,</li>
              <li>de 2 fourreaux de manutention,</li>
              <li>d'un plancher bois ou acier.</li>
            </ul>
            <img class="left is-one-third" src="/assets/images_pages_entites/brein-transports-convois-exceptionnels.jpg">
            <h3 class="title is-size-4 is-bold">Containers Spéciaux</h3>
            <p class="text is-size-2">Pour répondre à des besoins spécifiques, SNDM vous propose des containers à ouvertures et contenances spéciales qui s'adaptent à vos besoins :  
            </p>
             <ul>
              <li>Open Top/Open Hard Top (toit amovible),</li>
              <li>Half Height (demi hauteur),</li>
              <li>Double porte (porte sur chaque bout),</li>
              <li>Openside (ouverture latérale),</li>
              <li>Citerne (tank),</li>
              <li>Flat (plancher avec parois pignon),</li>
              <li>Frigorifiques et isotherme, ...</li>
            </ul>
            <p class="text is-size-2"><br>
            <h3 class="title is-size-4 is-bold">Containers Aménagés</h3>
            <p class="text is-size-2">SNDM vous propose la personnalisation de containers qui s'adapteront à votre utilisation par : la découpe de portes et de fenêtres, l'ajout d'une berce Ampli-roll pour un transport facilité, la pose d'isolation, d'installation électrique et de de la climatisation.  
            </p>
            <p class="text is-size-2">SNDM vous propose aussi l'aménagement intérieur des containers pour les transformer en bureaux, habitats, ateliers mobiles, locaux phytosanitaires, espaces de rangement ou d'outillage. Si vous avez besoin d'un espace plus grand les containers peuvent également être assemblés.
            </p>
            <p class="text is-size-2">Tous les conteneurs proposés possèdent une structure robuste et une bonne protection anticorrosion qui leur confère une durée de vie importante, cela en fait des abris sûrs pour y stocker ou transporter des marchandises, mais également pour travailler ou habiter.</p>
            <p class="text is-size-2">L'adaptabilité et la réponse aux besoins complexes est au cœur de la philosophie de SNDM. Son équipe vous conseille et vous accompagne pour trouver une solution qui réponde au mieux à votre besoin. Avec son stock permanent, la disponibilité des produits est assurée. </p>
          </div>
          <div class="col-md-3 entite__atout">
            <img src="/assets/atouts_entites/atouts-sndm.png">
          </div>
        </div>
      </div>
    </section>
    
    <section class="blue2-box">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-7 text-card">
            <h2 class="title is-size-2 is-bold">Focus</h2>
            <br>
            <p class="text is-size-2">Stockage sur rétention : SNDM vous propose un container avec bac de rétention dans l'épaisseur du châssis, avec plancher en caillebotis galvanisé intégré au sol. Il permet de stocker à l'abri les produits liquides (selon leur nature) et de protéger l'environnement de tout déversement accidentel.</p>
          </div>
          <div class="col-md-5 image-box">
            <img src="/assets/images_pages_entites/brein-transports-location-chauffeurs-camions.jpg">
          </div>
        </div>
      </div>
    </section>




    
    <section>
      <div class="container wow fadeInUp">
        <div class="row white-box">
          <div class="col-md-4 text-card">
            <h2 class="title is-size-2 is-bold">Implantation</h2>
            <br>
            <p class="text is-size-2">SNDM est implanté à Gretz-Armainvilliers dans le département de la Seine-et-Marne (77).
              Intervention sur toute la France.
            </p>
          </div>
          <div class="col-md-4 image-box">
            <img src="/assets/cartes/implantation-sndm.png">
          </div>
          <div class="col-md-4 entite__address">
            {{>components/address site="sndm" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button gp-button--gray" href="">Contacter SNDM</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="blue3-box">
      <div class="container">
        <div class="row flex">
          <div class="col-md-7 wow fadeIn text-card">
            <h2 class="title is-size-2 is-bold">A la une</h2>
            <h5 class="title is-size-3 is-bold">Lorem ipsum</h5>
            <p class="text is-size-2">
            </p>
            <div class="text-right">
              <a href="/on-en-parle.html" class="gp-button gp-button--gray">Lire la suite</a>
            </div>
          </div>
          <div class="col-md-4 col-md-offset-1 wow fadeIn download-box" data-wow-delay="0.5s">
            <img src="/assets/plaquettes/groupe-poisson-plaquette.jpg">
            <div>
              <a href="/assets/plaquettes/groupe-poisson-plaquette.pdf" target="_blank" class="gp-button gp-button--gray">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>



      
  {{/inline}}
{{/layouts/base}}