{{!-- pages/terre-durable.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Terre-durable - Gestion de déchets et négoce de matériaux recyclés" description="Spécialiste de la valorisation de déchets inertes, Terre-durable réceptionne vos déchets et vous propose des matériaux recyclés et naturels pour vos chantiers." }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/services">Pôle Services</a></li>
      <li><a href="#">Terre-durable</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="blue-box">
      <div class="container text-center wow fadeInUp">
        <div class="flex-row">
          <div class="item-3">
            <img src="/assets/pictos_poles/picto-services-blanc.png" alt="picto services groupe poisson" class="entite__picto-pole">
          </div>
          <div class="item-9">
            <h1 class="title is-size-1 is-black">
            Terre-durable
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Recyclage de matériaux inertes, vente de matériaux en vrac et location de bennes</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="flex-row">
          <div class="item-9 content">
            <div class="clearfix"><img class="right is-one-third" src="/assets/images_pages_entites/terre-durable-gravas.jpg" alt="terre durable gravas">
            <p class="text is-size-2">Négoce de matériaux recyclés, Terre-durable intervient depuis 2012 dans le sud-est de la France en tant que spécialiste de la valorisation de déchets inertes. Dans une logique de « double fret », vous avez la possibilité de déposer vos matériaux BTP et naturels et d'acquérir les matières premières nécessaires à tous vos chantiers.
            </p>
            </div>
            <div class="clearfix">
            <img class="left is-one-third" src="/assets/images_pages_entites/terre-durable-materiaux-recycles.jpg" alt="réception de materiaux recyclés">
            <h3 class="title is-size-4 is-bold">Réception de matériaux</h3>
            <p class="text is-size-2">Terre-durable réceptionne et participe à la gestion de vos déchets du BTP provenant de la  déconstruction/démolition (béton, voiries, couches de chaussées, carrelage, tuiles...), ou de vos matériaux naturels et de terre (cailloux, terre).</p>
            </div>
            <div class="clearfix">
            <img class="left is-one-third" src="/assets/images_pages_entites/terre-durable-service.jpg" alt="valorisation de déchets">
            <h3 class="title is-size-4 is-bold">Achat de matériaux recyclés</h3>
            <p class="text is-size-2">Vous pourrez retrouver également, sur leurs quatre sites, des matériaux traités et valorisés par les techniques de concassage et de criblage. L'objectif étant de vous fournir un produit homogène, travaillé à partir de matières premières primaires de qualité. Certifiée ISO 9001, Terre-durable vous propose des matériaux recyclés conformes aux normes en vigueur et qui répondent aux exigences de vos chantiers.  
            </p>
            </div>
            <h3 class="title is-size-4 is-bold">Autres services</h3>
            <p class="text is-size-2">Terre-durable met également à votre disposition la location de bennes (7m3 et 15m3), la location d'engins TP (pelle, chargeur, tombereau, bull, ...), mais aussi l'enlèvement de vos déchets (inertes, DIB et bois) et la livraison de vos matériaux.  
            </p>
            <p class="text is-size-2">La société Terre-durable s'adresse à tous types de clients, particuliers, professionnels ou industriels. L'accompagnement et le conseil sont au cœur de son identité. Ses équipes, réactives, vous accueillent sur leurs quatre sites de recyclage et peuvent se rendre avec vous sur votre chantier pour vous apporter la solution qui répondra au mieux à votre besoin.
            </p>
          </div>
          <div class="item-3 entite__atout">
            <img src="/assets/atouts_entites/atouts-terre-durable.png" alt="atouts terre-durable">
          </div>
        </div>
      </div>
    </section>
    
    <section class="blue2-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">Engagements</h2>
            <br>
            <p style="text-align:center" class="text is-size-1">Qualité du produit</p>
            <p style="text-align:center" class="text is-size-1">Respect du cahier des charges</p>
            <p style="text-align:center" class="text is-size-1">Respect des délais</p>
            <p style="text-align:center" class="text is-size-1">Rigueur et contrôle</p>
            <p style="text-align:center" class="text is-size-1">Accompagnement</p>
          </div>
          <div class="item-5 image-box">
            <img src="/assets/images_pages_entites/terre-durable-recyclage.jpg" alt="recyclage gard">
          </div>
        </div>
      </div>
    </section>




    
    <section>
      <div class="container wow fadeInUp">
        <div class="flex-row white-box">
          <div class="item-4 text-box">
            <h2 class="title is-size-2 is-bold">Implantation</h2>
            <br>
            <p class="text is-size-2">Terre-durable vous accueille sur ses 4 sites de recyclage :
            </p>
             <p class="text is-size-2"><strong>Bollène :</strong><br>
             ZI La Croisière - 84500 BOLLENE
             </p>
             <p class="text is-size-2"><strong>Nîmes :</strong><br>
             Ancienne route d'Avignon <br>
             Lieu-dit "Grezan" - 30972 NIMES
             </p>
             <p class="text is-size-2"><strong>Tarascon :</strong><br>
             ZA Les Rarouds - 13150 TARASCON
             </p>
             <p class="text is-size-2"><strong>Pujaut :</strong><br>
             RN26 - quartier de la Grave - 30131 PUJAUT
             </p>

          </div>
          <div class="item-4 image-box">
            <img src="/assets/cartes/implantation-terre-durable.png" alt="implantation terre-durable bollene nimes tarascon pujaut">
          </div>
          <div class="item-4 entite__address">
            {{>components/address site="terre-durable" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button gp-button--gray" href="/nous-contacter?contact=Terre-durable#contact">Contacter Terre-durable</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="blue3-box">
      <div class="container wow fadeInUp">
        <div class="flex-row">
          <div class="item-7 text-box">
            <h2 class="title is-size-2 is-bold">A la une</h2>
            <h5 class="title is-size-3 is-bold">Terre-durable aux côtés de Nîmes pour lutter contre les inondations !</h5>
            <p class="text is-size-2">
              Depuis 2017, la ville de Nîmes a lancé une opération afin de lutter contre les inondations qui touchent son territoire. Pour se faire, la métropole s’est lancée dans un nouveau projet : remplacer le Cadereau d’Uzes ...
            </p>
            <div class="text-box__buttons">
              <a href="/actualites/0169/terre-durable-aux-cotes-de-nimes-pour-lutter-contre-les-inondations" class="gp-button gp-button--gray">Lire la suite</a>
            </div>
          </div>
          <div class="item-fill"></div>
          <div class="item-4 download-box">
            <img src="/assets/plaquettes/TD-Fiche-miniature.png" alt="plaquette terre-durable groupe poisson">
            <div>
              <a href="assets/plaquettes/TD-Fiche-bd.pdf" class="gp-button gp-button--gray" target="_blank">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>



      
  {{/inline}}
{{/layouts/base}}