{{!-- pages/morel.hbs --}}

{{#> layouts/base menu="nos-metiers" title="Terre-net – Location de matériels en Full Service " descriptions="Location Full Service de matériels, en courte, moyenne et longue durée pour l'environnement, les TP et la manutention de produits vracs." }}

  {{#*inline "breadcrumb-block"}}
      <li><a href="/location">Pôle Location</a></li>
      <li><a href="#">Terre-net</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    
    <section class="green-box">
      <div class="container text-center wow fadeInUp">
        <div class="row">
          <div class="col-md-3">
            <img src="/assets/pictos_poles/picto-location-blanc.png">
          </div>
          <div class="col-md-9">
            <h1 class="title is-size-1 is-black">
              Terre-net
            </h1>
            </br>
            <p>
              <h2 class="title is-size-3 is-black">Location Full Services de matériels de TP et de manutention de produits vrac</h2>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp has-content">
        <div class="row">
          <div class="col-md-9 content">
            <img class="left is-one-third" src="/assets/images_pages_entites/terre-net-grappin.JPG">
            <p class="text is-size-2">Terre-net, fort d'une solide expérience de plus de 40 ans, vous propose la location Full Service de matériels en courte, moyenne ou longue durée pour les activités du déchet (environnement), les travaux publics et l’industrie. Présente sur plus de 150 sites classés en France, la société s'appuie sur une large gamme de matériels et d’équipements pour répondre à l'ensemble de vos besoins, même les plus spécifiques.
            </p>
            <h3 class="title is-size-4 is-bold">Location Full Service</h3>
            <p class="text is-size-2">Pour répondre aux exigences de rendement des matériels, Terre-net vous propose la mise en œuvre de ses matériels en location Full Service. Cette prestation globale comprend, entre autres, la livraison et la mise en service sur site de l'engin, son entretien, mais aussi sa maintenance, la fourniture gratuite de consommables (huiles, filtres...) et de la main d'oeuvre nécessaire pour ces opérations. En cas de panne, Terre-net intervient sur site, vous remet un diagnostic sous 8 heures et remplace l'engin immobilisé dans les plus brefs délais.
            </p>
            <p class="text is-size-2">A cette prestation pourra s'ajouter, selon vos besoins, le Full Service Optimal. Cette extension prend en charge l'entretien des outils d'attaque au sol, ainsi que l'usure et le remplacement des trains de roulement.
            </p>
            <p>Terre-net vous assure un taux d'efficience élevé de 95%, des interventions et une garantie de remplacement de matériel sous délai contractuel, mais aussi un contrat déconsolidant, non soumis aux contraintes IFRS.
            </p>
            <h3 class="title is-size-4 is-bold">Engins Terre-net à la location </h3>
             <img class="right is-one-third" src="/assets/images_pages_entites/terre-net-chargeur.jpg">
            <p class="text is-size-2"><strong>Secteur Environnement :</strong>
<ul><li>Compacteurs de déchets de 20T à 60T</li>
<li>Chargeurs à chaînes 15T et 20T</li>
<li>Pelles hydrauliques sur pneus et chaînes de 8T à 45T</li>
<li>Chargeurs sur pneus de 5T à 25T</li>
<li>Bulls de 20T à 30T</li>
<li>Dumpers articulés de 25T à 40T</li></ul>
            </p>
            <p class="text is-size-2"><strong>Secteur TP et Industrie :</strong>
             <img class="riht is-one-third" src="/assets/images_pages_entites/terre-net-materiel.JPG">
<ul><li>Chargeurs sur pneus de 5T à 50T</li>
<li>Pelles hydrauliques sur pneus et chaînes de 8T à 50T</li>
<li>Bulls de 20T à 50T</li>
<li>Camions et dumpers articulés de 25T à 60T</li>
<li>Matériels de criblage et broyage</li></ul>
            </p>
            <p class="text is-size-2"><strong>Accessoires et équipements spécifiques :</strong>
Grappins, pinces de tri, bennes preneuses, godets (GHD, Griffes, dépaveurs, cribleurs…), grands balanciers, bâti-longs…
Systèmes de pesée embarqué, systèmes de filtration renforcés de cabine, détecteurs de présence…</p>
            <h3 class="title is-size-4 is-bold">Vente de matériels d'occasion </h3>
            <p class="text is-size-2">Terre-net vous propose également la vente de matériels d'occasion, préalablement reconstruits dans ses ateliers : le rebuilt.
            </p>
            
            <p class="text is-size-2">Son équipe dynamique et réactive saura vous conseiller en vous apportant des solutions globales adaptées à vos besoins. Quant à ses techniciens, ils sont compétents, équipés de camions ateliers et totalement autonomes. Conscient de ses responsabilités, Terre-net conduit chacune de ses activités dans le respect et la sécurité des personnes et de leur environnement. 
            </p>
          </div>
          <div class="col-md-3 entite__atout">
            <img src="/assets/atouts_entites/atouts-terre-net.png">
          </div>
        </div>
      </div>
    </section>

    <section class="video__terre-net" "green4-box">
      <div class="container">
        <div class="row">
          <div class="col-12 wow fadeInLeft">
            <div class="text-center pole__video-wrapper">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/WGrX_Hzt_8I" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h3 class="title is-size-2 is-bold">Références clients de Terre-net </h3><br>
            <p class="text is-size-2">AGGLO DU PAYS DE DREUX • ATLAS FONDATIONS • CABEM (Communauté d'Agglomération de Béziers Méditerranée) • COBAS (Communauté d'Agglomération du Bassin d'Arcachon Sud) • COVED • CREUZOT MONTCEAU RECYCLAGE • ES Service • Groupe ROULLIER • Groupe SEMARDEL • HAGANIS • IKOS Environnement • LAFARGE • MAMP (Métropole Aix Marseille Provence) • PAPREC • PAYS LOUDUNAIS (Communauté d'Agglomération du Pays Loudunais) • PIZZORNO Environnement • PLAINE COMMUNE • SECHE ECO INDUSTRIES • SEPUR • SMET71 • SOUFFLET AGRICULTURE • SUEZ • SYNDICAT MIXTE BIL TA GARBI • TRIGONE • TRISELEC • UPM FRANCE • URBASER Environnement • VALOR'AISNE • VALORIZON  • VEOLIA PROPRETE • YPREMA
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="green2-box">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-7 text-card">
            <h2 class="title is-size-2 is-bold">Focus</h2>
            <h4 class="title is-size-3 is-light">SERVICE D’ASSISTANCE ET DE DÉPANNAGE</h4>
            <p class="text is-size-2">Pour la maintenance préventive et en cas d’imprévu, le service technique Terre-net vous assure une intervention sur site, grâce aux ateliers mobiles d’assistance et à ses équipes de mécaniciens qualifiés, répartis sur l’ensemble du territoire français.</p>
            <h4 class="title is-size-3 is-light">SERVICE CENTRALISÉ DE MAINTENANCE</h4>
            <p class="text is-size-2">En cas de panne : mise en place des plans d’intervention pour assurer le dépannage ou le remplacement des matériels immobilisés conformément aux délais et engagements contractuels.</p>
            <h4 class="title is-size-3 is-light">ATELIERS PERMANENTS INTÉGRÉSE</h4>
            <p class="text is-size-2">Sous l’autorité du Service Centralisé de Maintenance, 3000 m² d’ateliers assurent les opérations lourdes de maintenance et de reconditionnement.</p>
          </div>
          <div class="col-md-5 image-box">
            <img src="/assets/images_pages_entites/terre-net-maintenance.JPG">
          </div>
        </div>
      </div>
    </section>
    
    <section>
      <div class="container wow fadeInUp">
        <div class="row white-box">
          <div class="col-md-4 text-card">
            <h2 class="title is-size-2 is-bold">Implantation</h2>
            <p class="text is-size-2">Terre-net est implanté à Gretz-Armainvilliers dans le département de la Seine-et-Marne (77).
            </p>
          </div>
          <div class="col-md-4 image-box">
            <img src="/assets/cartes/implantation-terre-net.png">
          </div>
          <div class="col-md-4 entite__address">
            {{>components/address site="terre-net" class="centered"}}
            <div class="button-wrapper">
              <a class="gp-button" href="">Contacter Terre-net</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    
<section>
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h3 class="title is-size-2 is-bold">4 agences</h3>
            </div>
            <div class="row">
          <div class="col-md-4 col-md-offset-2 text-left">
            {{>components/address site="gretz"}}
          </div>
          <div class="col-md-4 text-right">
            {{>components/address site="brillon"}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-left">
            {{>components/address site="roquemaure"}}
          </div>
          <div class="col-md-4 text-right">
            {{>components/address site="grand-fougeray"}}
          </div>
        </div>
      </div>
    </section>


    <section class="green3-box">
      <div class="container wow fadeInUp">
        <div class="row flex">
          <div class="col-md-8 text-card">
            <h2 class="title is-size-2 is-bold">A la une</h2>
            <h5>Lorem ipsum</h5>
            <p class="text is-size-2">
              Ut et ante tincidunt, tempus dui in, sollicitudin nisl. Morbi maximus, mauris eu efficitur sollicitudin.
            </p>
            <div class="text-right">
              <a href="/terre-net.html">Lire la suite</a>
            </div>
          </div>
          <div class="col-md-4 download-box">
            <img src="https://unsplash.it/350/200/">
            <div>
              <a class="gp-button gp-button--gray" target="_blank">Télécharger la plaquette</a>
            </div>
          </div>
        </div>
      </div>
    </section>



      
  {{/inline}}
{{/layouts/base}}