{{#> layouts/base menu="actualites" title="Groupe Poisson — Offre d'emploi"}}

  {{#*inline "breadcrumb-block"}}
    <li><a href="#">Actualités</a></li>
  {{/inline}}

  {{#*inline "main-block"}}
    <section class="actualites__title-section">
      <div class="container wow fadeInUp">
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              <h1>
                Nos actualités
              </h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
              Découvrez toutes les actualités du Groupe Poisson
            </div>
          </div>
        </div>
    </section>

    <section class="actualites__articles">
      <div class="container wow fadeInUp">NEWS_LIST</div>
    </section>

  {{/inline}}

{{/layouts/base}}