.entite{

  &__atout{
    img{
      width: 100%;
    }
  }

  &__address{
    padding-top: 2*$spacing !important;
    .button-wrapper{
      padding-top: $spacing !important;
      text-align: center;
    }
  }
}