.entite{

  &__atout{
    img{
      width: 100%;
    }

    @include mobile{
      display: none !important;
    }
  }

  &__address{
    padding-top: 2*$spacing !important;
    .button-wrapper{
      padding-top: $spacing !important;
      text-align: center;
    }
    @include mobile{
      margin-top: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 15px !important;
    }
  }

  &__picto-pole{
    @include mobile{
      max-width: 60px !important;
    }
  }
}