.nous-contacter{
  &__addresses{
    padding: $spacing/2 !important;
    *{
      color: $fontPrimaryColor;
      letter-spacing: normal !important;
    }
  }

  &__form{
    padding: $spacing !important;
  }
}