<div class="pole-blocks">
  <a href="/en/travaux.html" class="wow fadeInRight" data-wow-delay="0.1s">
    <div class="box-inset-2 bg-white block-hover">
      <div class="pole-blocks__title-wrapper">
        <h5 class="pole-blocks__title title is-size-4" style="text-align:center">Civil Works<br>Division</h5>
      </div>
      <div class="pole-blocks__picto travaux">
      </div>
    </div>
  </a>
  <a href="/en/location.html" class="wow fadeInRight" data-wow-delay="0.2s">
    <div class="box-inset-2 bg-white block-hover">
      <div class="pole-blocks__title-wrapper">
        <h5 class="pole-blocks__title title is-size-4" style="text-align:center">Rentals<br>Division</h5>
      </div>
      <div class="pole-blocks__picto location">
      </div>
    </div>
  </a>
  <a href="/en/services.html" class="wow fadeInRight" data-wow-delay="0.3s">
    <div class="box-inset-2 bg-white block-hover">
      <div class="pole-blocks__title-wrapper">
        <h5 class="pole-blocks__title title is-size-4" style="text-align:center">Services<br>Division</h5>
      </div>
      <div class="pole-blocks__picto services">
      </div>
    </div>
  </a>
</div>