// COLORS

$white: white;
$gray: #58585A;
$blue: #009CCA;
$green: #A5C400;
$light-green: #F6FAE9;
// TO BE USED FROM NOW ON
$green1: #A5C400;
$green2: #ACCC3D;
$green3: #c1d96e;
$green4: #f7faec;

$gray1: #58585a;
$gray2: #79797b;
$gray3: #9b9b9c;
$gray4: #f2f2f2;

$blue1: #009cca;
$blue2: #33b0d5;
$blue3: #66c4df;
$blue4: #ebf7fb;

$fontPrimaryColor: #3e3d40;

// Map for color loops.
$colors: (
  white: $white,
  blue: $blue,
  green: $green,
  gray: $gray,
  light-green: $light-green,

  green1: $green1,
  green2: $green2,
  green3: $green3,
  green4: $green4,
  
  gray1: $gray1,
  gray2: $gray2,
  gray3: $gray3,
  gray4: $gray4,

  blue1: $blue1,
  blue2: $blue2,
  blue3: $blue3,
  blue4: $blue4,
);

// Map to get a font color for selected background.
$fontColors: (
  white: #3e3d40,
  blue: $white,
  green: $white,
  gray: $white,
  light-green: #3e3d40,

  green1: $white,
  green2: $white,
  green3: $white,
  green4: $gray2,

  gray1: $white,
  gray2: $white,
  gray3: $white,
  gray4: $gray2,
  
  blue1: $white,
  blue2: $white,
  blue3: $white,
  blue4: $gray2,
);


$spacing: 30px;
$smallSpacing: $spacing/2;
$verySmallSpacing: $spacing/4;

@each $colorName, $color in $colors{
  .#{$colorName}-box{
    background-color: $color !important;
    $fontColor: map-get($fontColors, $colorName);
    color: $fontColor !important;
    *{
      color: $fontColor !important;
    }
  }
}

.image-box{
  padding: 0 !important;
  img{
    width: 100%;
  }
}

.text-card{
  padding-top: $smallSpacing;
  padding-bottom: $smallSpacing;
  h5{
    padding-top: .8em;
    padding-bottom: .3em;
  }
  p{
    text-align: justify;
  }
}

.download-box{
  position: relative;
  padding: 0;
  img{
    display: block;
    width: 100%;
    height: auto;
  }
  >div{
    position: absolute;
    padding-bottom: $smallSpacing;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
  }
}

section{
  padding-top: $spacing !important;
  padding-bottom: $spacing !important;
  &.no-spacing{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
}