

.title{
  font-family: 'Roboto', sans-serif !important;
  &.is-black{
    font-weight: 900 !important;
  }
  &.is-bold{
    font-weight: 700 !important;
  }
  &.is-light{
    font-weight: 300 !important;
  }
  &.is-size-1{
    font-size: 4rem !important;
  }
  &.is-size-2{
    font-size: 2rem !important;
  }
  &.is-size-3{
    font-size: 1.5rem !important;
  }
  &.is-size-4{
    font-size: 1.2rem !important;
  }
}

.text{
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-weight: normal !important;
  &.bold{
    font-weight: bold !important;
  }
  &.is-size-1{
    font-size: 1rem !important;
  }
  &.is-size-2{
    font-size: .85rem !important;
  }
}