<section class="footer__main-links">      
  <div class="container"> 

    <p class="center">
      <a href="/on-en-parle">On en parle</a>
      <a href="/espace-presse">Espace Presse</a>
      <a href="/nous-contacter">Contact</a>
      <a href="/recrutement">Nous rejoindre</a>
      <a href="/toutes-nos-actualites">Toutes nos actualités</a>
    </p>
  </div>
</section>
<section class="footer__secondary-links">
  <div class="container"> 
    <p class="center">
      <span class="link">
        <a href="/mentions-legales">Mentions Légales</a>
      </span>
      <span class="separator">|</span>
      <span class="link">
        <a href="/liens">Liens</a>
      </span>
      <span class="separator mobile-only">|</span>
      <span class="link mobile-only">
        <a href="/en"><span class="flag-icon flag-icon-gb"></span></a>
        <a href="/en">English</a>
      </span>
    </p>
  </div> 
</section> 